<button (click)='consol([data,dataTable])'>打印</button>
<button (click)='openall(dataTable)'>全部打开</button>
<button (click)='closeall(dataTable)'>全部收起</button>
<button (click)='update()'>更新</button>
<nz-table #nzTable [nzData]="dataTable">
    <thead>
        <tr>
            <th nzWidth="40%">Name</th>
            <th nzWidth="30%">Age</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-list [ngForOf]="nzTable.data">
            <!-- <tr *ngIf="list.parent.expand"> -->
            <tr [hidden]="!list.parent.expand">
                <td [nzIndentSize]="list.level*20" [nzShowExpand]="!!list.children.length" [(nzExpand)]="list.expand"
                    (nzExpandChange)="collapse(dataTable,list,$event)">
                    {{list.data.name}}
                </td>
                <td>
                    <input type="text" [(ngModel)]='list.data.age'>
                </td>
                <td>{{list.data.address}}</td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>