<header>
  <div class="head_holder" [ngStyle]="{'background-color': holderBg}"></div>
  <div class="box" [ngStyle]="{'background-color': bg}">
    <div class="arr" (click)="back()" *ngIf="backTxt&&hasBack">
      <img src="{{backIcon?'../../assets/images/back_arr_04.png':'../../assets/images/back_arr_05.png'}}" alt="">
    </div>
    <!-- <div class="arr_hastxt" (click)="back()" *ngIf="backTxt&&hasBack">{{backTxt}}</div> -->
    <div class="txt" [ngStyle]="{'color': titColor}">{{title}}</div>
    <div class="right" *ngIf="hasRightBtn&&rightTxt" (click)="rightBtn()">{{rightTxt}}</div>
    <div class='menu'>
      <app-menu [hasMsg]='hasMsg'></app-menu>
    </div>
  </div>
</header>