<app-breadcrumbs [breadcrumbs]="['业务资源管理','合作机构管理']"></app-breadcrumbs>
<nz-card class="card search-card" [appResource]="{authName:'get/institutions/dataGrid'}">
  <div nz-row>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>机构名称</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="20" placeholder="请输入机构名称" [(ngModel)]="searchItems.name">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>机构编码</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="50" placeholder="请输入机构编码" [(ngModel)]="searchItems.code">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>机构类型</nz-form-label>
        <nz-form-control>
          <nz-select class="search-select" [(ngModel)]="searchItems.typeValue" nzAllowClear nzPlaceHolder="请选择机构类型">
            <nz-option nzValue="" nzLabel="全部"></nz-option>
            <nz-option nzValue="SocialOrganization" nzLabel="社会组织"></nz-option>
            <nz-option nzValue="StateAgency" nzLabel="国家机关"></nz-option>
            <nz-option nzValue="BusinessEnterprise" nzLabel="工商企业"></nz-option>
            <nz-option nzValue="PublicInstitution" nzLabel="事业单位"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>&nbsp;</nz-form-label>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="search(1)"><i nz-icon nzType="search" nzTheme="outline"></i>查询</button>
          <button nz-button nzType="default" (click)="reset()"><i nz-icon nzType="close" nzTheme="outline"></i>重置</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'机构列表'" [nzExtra]="extraTemplate">
  <nz-table #basicTable class="data-table" [nzData]="rows" [nzSize]="'small'" [nzShowPagination]="false"
    [nzLoadingDelay]="loadingDelay" [nzLoading]="loading" [nzBordered]="true">
    <thead>
      <tr>
        <th>机构名称</th>
        <th>机构简称</th>
        <th>机构编码</th>
        <th>机构类型</th>
        <th>机构负责人</th>
        <th>联系电话</th>
        <th>更新时间</th>
        <th [appResource]="{authName:'patch/institutions'}">状态</th>
        <th [appResource]="{authName:'put/institutions'}">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name}}</td>
        <td>{{data.shortName}}</td>
        <td>{{data.code}}</td>
        <td>{{data.typeName}}</td>
        <td>{{data.principal}}</td>
        <td class="td-center">{{data.mobile}}</td>
        <td class="td-center">{{data.updateDate}}</td>
        <td class="td-center" [appResource]="{authName:'patch/institutions'}">
          <nz-switch [ngModel]="data.status==1" (ngModelChange)="switchange(data)" [nzLoading]="loading"></nz-switch>
        </td>
        <td class="td-center" [appResource]="{authName:'put/institutions'}">
          <button nz-button nzType="default" class="table-btn" (click)="modalShow('编辑机构','edit',data)"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-page-nav [total]="page.total" [totalPage]="page.totalPage" [pageNum]="page.pageNum" [pageSize]="page.pageSize"
    (getCurrentPage)="changePage($event)">
  </app-page-nav>
</nz-card>
<ng-template #extraTemplate>
  <button [appResource]="{authName:'post/institutions'}" nz-button nzType="primary" class="tableBtn" (click)="modalShow('创建机构','add')"><i nz-icon nzType="plus" nzTheme="outline"></i>创建机构</button>
</ng-template>
<nz-modal [(nzVisible)]="show" [nzTitle]="modalTitle" (nzOnCancel)="modalCancel();" [nzFooter]="null">
  <form nz-form [formGroup]="addForm" class="modalForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">机构名称</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="name" id="name" type="text" maxlength="50" placeholder="请输入机构名称">
        <nz-form-explain *ngIf="addForm.get('name').dirty && addForm.get('name').errors">机构名称不能为空，最大50个字符!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="shortName">机构简称</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="shortName" id="shortName" type="text" maxlength="20" placeholder="请输入机构简称">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">机构编码</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="code" id="code" type="text" maxlength="20" [readOnly]="modalStatus=='edit'" placeholder="请输入机构编码">
        <nz-form-explain *ngIf="addForm.get('code').dirty && addForm.get('code').errors">机构编码不能为空，最大20个字符!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="principal">负责人</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="principal" id="principal" type="text" maxlength="20" placeholder="请输入负责人">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mobile">联系电话</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="mobile" id="mobile" type="text" placeholder="请输入联系电话">
        <nz-form-explain *ngIf="addForm.get('mobile').dirty && addForm.get('mobile').errors || addForm.get('mobile').pending ">
          <ng-container *ngIf="addForm.get('mobile').hasError('confirm')">
              请输入正确的联系电话!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">状态</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-radio-group formControlName="status">
          <label nz-radio [nzValue]="1">启用</label>
          <label nz-radio [nzValue]="0">禁用</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="typeValue">机构类型</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-select formControlName="typeValue">
          <nz-option nzValue="" nzLabel="请选择机构类型"></nz-option>
          <nz-option nzValue="{{item.typeValue}}" nzLabel="{{item.typeName}}" *ngFor="let item of institutions"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="addForm.get('typeValue').dirty && addForm.get('typeValue').errors">机构类型不能为空!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">字典描述</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <textarea formControlName="remark" nz-input rows="2" placeholder="请输入字典描述"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSm]="18">
        <button nz-button (click)="modalCancel();resetForm($event)">取消</button>
        <button nz-button (click)="submited($event)" nzType="primary" [disabled]="!addForm.valid">确定</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>