<table>
  <tr>
    <th>部门全称</th>
    <th>部门简称</th>
    <th>排序</th>
    <th>更新时间</th>
  </tr>
  <tr *ngFor='let list of rows' [hidden]='hiddenid.indexOf(list.parentId)!=-1'>
    <td>
      <app-space [length]="list.level"></app-space>
      <!-- <span style='padding:0 10px' *ngFor='let item of list.level'></span> -->
      <span>
        <img [hidden]='hiddenid.indexOf(list.id)!=-1' (click)='open(list.id)' src="../../../../assets/images/icon/open.png"
          alt="">
        <img [hidden]='hiddenid.indexOf(list.id)==-1' (click)='retract(list.id)' src="../../../../assets/images/icon/retract.png"
          alt="">
      </span>
      {{list.fullName}}
    </td>
    <td>{{list.shortName}}</td>
    <td>{{list.sort}}</td>
    <td>{{list.updateDate}}</td>
  </tr>
</table>