<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<nz-card class="card" [nzTitle]="'产品基本信息'">
  <div nz-row nzType="flex" nzJustify="space-between" class="m-b-10">
    <div nz-col nzSpan="6">产品名称：{{data.product.name}}</div>
    <div nz-col nzSpan="6">产品编号：{{data.product.number}}</div>
    <div nz-col nzSpan="6">贷款期限范围：{{data.product.minTerm}}-{{data.product.maxTerm}}月</div>
    <div nz-col nzSpan="6">贷款金额范围：{{data.product.minAmount}}-{{data.product.maxAmount}}万</div>
  </div>
  <div nz-row nzType="flex" nzJustify="space-between" class="m-b-10">
    <div nz-col nzSpan="12">综合费率范围：{{data.product.minRate}}%-{{data.product.maxRate}}%</div>
    <div nz-col nzSpan="12">支持还款方式：{{productTypeName}}</div>
  </div>
  <div nz-row nzType="flex" nzJustify="start" class="m-b-10">
    <div nz-col>支持还款方式：</div>
    <div nz-col *ngFor='let list of repayMethodName'><span class="m-l-10">{{list}}</span></div>
  </div>
  <div nz-row nzType="flex" nzJustify="start">
    <div nz-col>产品描述：</div>
    <div nz-col>{{data.product.remark}}</div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'贷款利率配置'">
  <nz-table #interestTable class="data-table" nzBordered [nzData]="data.interestConfig" [nzSize]="'small'"
    [nzShowPagination]="false" [nzLoadingDelay]="loadingDelay">
    <thead>
      <tr>
        <th>条件表达式</th>
        <th>费率</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of data.interestConfig;let index=index">
        <td>{{list.spel}}</td>
        <td>{{list.rate}}%</td>
      </tr>
    </tbody>
  </nz-table>
  <div nz-row class="m-t-20">
    <div nz-col>计息开始时间：{{interestStartTimeName}}</div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'居间服务费配置'">
  <nz-table #serviceTable class="data-table" nzBordered [nzData]="data.serviceConfig" [nzSize]="'small'" [nzShowPagination]="false"
    [nzLoadingDelay]="loadingDelay">
    <thead>
      <tr>
        <th>条件表达式</th>
        <th>费率</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of data.serviceConfig;let index=index">
        <td>{{list.spel}}</td>
        <td>占贷款总金额比率：{{list.rate}}%</td>
      </tr>
    </tbody>
  </nz-table>
  <div nz-row class="m-t-20">
    <div nz-col>服务费支付方式：{{paymentMethodName}}</div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'保证金配置'">
  <nz-table #serviceTable class="data-table" nzBordered [nzData]="data.serviceConfig" [nzSize]="'small'" [nzShowPagination]="false"
    [nzLoadingDelay]="loadingDelay">
    <thead>
      <tr>
        <th>条件表达式</th>
        <th>费率</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of data.serviceConfig;let index=index">
        <td>{{list.spel}}</td>
        <td>占贷款总金额比率：{{list.rate}}%</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<nz-card class="card" [nzTitle]="'产品介绍'">
  <div nz-input [innerHTML]='data.product.productIntroduction | htmlPipe'></div>
</nz-card>
<nz-card class="card" [nzTitle]="'产品资料'">
  <div nz-row *ngFor="let list of data.material;let index=index">
    <div nz-col class="m-b-10">资料名称：{{list.name}}</div>
    <div nz-col nz-input [innerHTML]='list.value | htmlPipe'></div>
  </div>
</nz-card>
<div nz-row nzType="flex" nzJustify="center" class="m-b-20 m-t-20">
  <button nz-button nzType="default" (click)='back()'>返回</button>
</div>