<app-breadcrumbs [breadcrumbs]="['合伙人管理','申请管理','详情']"></app-breadcrumbs>
<nz-card class="shadow" [nzTitle]="'申请信息'">
    <nz-table class="table_keyvalue" [nzData]='[1]' [nzShowPagination]='false' [nzBordered]='true'>
        <tbody>
            <tr>
                <td>用户姓名</td>
                <td>{{baseInfo.realName}}</td>
                <td>手机号码</td>
                <td>{{baseInfo.mobile}}</td>
            </tr>
            <tr>
                <td>常住地区</td>
                <td>{{baseInfo.live}}</td>
                <td>申请时间</td>
                <td>{{applyInfo.applyTime}}</td>
            </tr>
            <tr>
                <td>直属客户</td>
                <td>{{statisticsInfo.directCustomer}}</td>
                <td>一度客户</td>
                <td>{{statisticsInfo.primaryCustomer}}</td>
            </tr>
            <tr>
                <td>二度客户</td>
                <td>{{statisticsInfo.secondaryCustomer}}</td>
                <td>直属客户订单/金额</td>
                <td>{{statisticsInfo.directCustomerOrderCount}} /
                    {{statisticsInfo.directCustomerOrderSum}}</td>
            </tr>
            <tr>
                <td>一度客户订单/金额</td>
                <td>{{statisticsInfo.primaryCustomerOrderCount}} /
                    {{statisticsInfo.primaryCustomerOrderSum}}</td>
                <td>二度客户订单/金额</td>
                <td>{{statisticsInfo.secondaryCustomerOrderCount}} /
                    {{statisticsInfo.secondaryCustomerOrderSum}}</td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<nz-card class="shadow mt20" [nzTitle]="'审核信息'">
    <nz-table class="table_keyvalue" [nzData]='[1]' [nzShowPagination]='false' [nzBordered]='true'>
        <tbody>
            <tr>
                <td>审核方式</td>
                <td>{{applyInfo.mode}}</td>
                <td>审核人</td>
                <td>{{applyInfo.checkUser}}</td>
            </tr>
            <tr>
                <td>审核结果</td>
                <td>{{applyInfo.status}}</td>
                <td>审核时间</td>
                <td>{{applyInfo.checkTime}}</td>
            </tr>
            <tr>
                <td>审核意见</td>
                <td colspan="3">{{applyInfo.remark}}</td>
            </tr>
        </tbody>
    </nz-table>
    <div style="margin-top: 30px;text-align: center;">
        <button nz-button nzType="primary" (click)="back()">返回申请列表</button>
    </div>
</nz-card>