<app-crumb></app-crumb>
<div class="white_bg" [appResource]="{authName: 'get/auth/info/query'}" style="margin-bottom:30px;">
  <div class="search_box">
    <div class="input_row clearfix">
      <div class="g_input">
        <div class="label">
          <span>手机账号：</span>
          <input type="text" placeholder="请输入手机账号" [(ngModel)]="authorizeSearch.regMobile">
        </div>
      </div>
      <div class="g_input">
        <div class="label">
          <span>企业名称：</span>
          <input type="text" placeholder="请输入企业名称" [(ngModel)]="authorizeSearch.etpName">
        </div>
      </div>
    </div>
    <div class="btn_row">
      <button class="btn pri_btn" (click)="search(1)">查询</button>
    </div>
  </div>
</div>
<div class="white_bg list_box">
  <div class="g_tit mb20" style="height: 58px;">
    <h5 style="float: left;">查询结果</h5>
    <!-- <button class="btn pri_btn" (click)="mask=true;item='';simpSelect('','F')" style="margin: 10px 0 0 20px; float: right; background-color: #e64340;">批量审核失败</button>
    <button class="btn pri_btn" (click)="mask=true;item='';simpSelect('','T')" style="margin: 10px 0 0 20px; float: right;">批量审核通过</button> -->
  </div>
  <div class="rowsNull" *ngIf="rows.length==0">暂无数据！</div>
  <ngx-datatable class="material mb20" [rows]="rows" [columnMode]="'force'" [headerHeight]="44" [rowHeight]="'auto'" [limit]="10"
    [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (select)='onSelect($event)' *ngIf="rows.length!=0">
    <ngx-datatable-column [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
      [checkboxable]="true" [sortable]="false">
    </ngx-datatable-column>
    <ngx-datatable-column name="手机账号" prop="regMobile" [sortable]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span title="{{value}}" style="white-space: nowrap;">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="企业名称" prop="etpName" [width]="220" [sortable]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span title="{{value}}" style="white-space: nowrap;">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="授权书编号" prop="infoAuthNum" [width]="150" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column name="企业信息采集授权书" prop="authUrl" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        <div class="picBox">
          <img src="{{value}}" alt="{{value}}" class="cur_img" (click)="imgScale(value)">
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="法人手持企业授权书" prop="bodyUrl" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        <div class="picBox">
          <img src="{{value}}" alt="{{value}}" class="cur_img" (click)="imgScale(value)">
         </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="个人授权书" prop="controllerUrl" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        <div class="picBox">
          <img src="{{value}}" alt="{{value}}" class="cur_img" (click)="imgScale(value)">
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="最后更新时间" prop="updateDate" [sortable]="false"></ngx-datatable-column>
  </ngx-datatable>
  <app-page-nav (getCurrentPage)="changePage($event)" [totalPage]='totalPage'></app-page-nav>
</div>
<div class="mask" *ngIf="active">
  <pic-scale class="picBox" [ImgUrl]="imgUrl" (closeImg)="close($event)" ></pic-scale>
</div>