<app-card class="authHide" [appResource]="{authName:'get/areas/grid'}">
  <div class="col-sm-12 select-box">
    <div class="row m-b-10">
      <div class="col-6 col-md-3 input-box">
        <span>区域名称：</span>
        <input type="text" maxlength="20" placeholder="请输入区域名称" [(ngModel)]="items.name">
      </div>
      <div class="col-6 col-md-3 input-box">
        <span>区划代码：</span>
        <input type="text" maxlength="6" placeholder="请输入区划代码" [(ngModel)]="items.code">
      </div>
      <div class="col-6 col-md-3 input-box">
        <span>行政区号：</span>
        <input type="text" maxlength="4"  placeholder="请输入行政区号" [(ngModel)]="items.cityCode">
      </div>
      <div class="col-6 col-md-3 input-box">
        <span>邮政编码：</span>
        <input type="text" maxlength="6" placeholder="请输入邮政编码" [(ngModel)]="items.zipCode">
      </div>
      <div class="col-6 col-md-3 input-box float-right search-btn">
        <span>&nbsp;</span>
        <button class="btn btn-primary ripple light" (click)="search(1,'search');"><i class="icofont icofont-search-alt-2"></i>查询</button>
        <button class="btn btn-primary btn-outline-primary ripple light" (click)="reset()"><i class="icofont icofont-close"></i>重置</button>
      </div>
    </div>
    <!-- <div class="row m-b-10 search-btn">
      <div class="col-6 col-md-3">
        <button class="btn btn-primary ripple light"><i class="icofont icofont-search-alt-2"></i>查询</button>
        <button class="btn btn-primary btn-outline-primary ripple light"><i class="icofont icofont-close"></i>重置</button>
      </div>
    </div> -->
  </div>
</app-card>
<app-card [title]="'区域列表'">
    <ngx-datatable
    class="data-table dt-chk"
    [rows]="rows"
    [columnMode]="'force'"
    [scrollbarH]="true"
    [headerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10">
    <ngx-datatable-column [sortable]="false" name="区域名称" prop="name"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="简称" prop="shortName"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="区划代码" prop="id"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="父级代码" prop="parentId"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="行政区号" prop="cityCode"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="邮政编码" prop="zipCode"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="拼音全称" prop="pinYin"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="简拼" prop="jianPin" [width]="80"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="首字母" prop="firstChar" [width]="80"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="更新时间" prop="updateDate" [width]="220"></ngx-datatable-column>
  </ngx-datatable>
  <app-page-nav (getCurrentPage)="changePage($event)" [totalPage]='totalPage' [pageNum]='pageNum' [total]='total'></app-page-nav>
</app-card>
