<div style='margin-top:50px'>
  <button (click)='openall()'>全部展开</button>
  <button (click)='retractall()'>全部收起</button>
  <p-treeTable [value]="files2" (onNodeExpand)='result($event)' (onNodeCollapse)='result($event)'>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Type</th>
        <th>操作</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{rowData.name}}
        </td>
        <td>{{rowData.size}}</td>
        <td>{{rowData.type}}</td>
        <td>
          <button (click)='add(rowNode,rowData);reset()'>添加</button>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>