/* 重置样式 */
/* 提交测试 */
body,
html {
    width: 100%;
    height: 100%;
}

body {
    font: 14px "微软雅黑", "黑体-简", Helvetica, sans-serif;
    color: #333 !important;
    background: #fafafa;
}

body,
div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
pre,
form,
tr,
td,
th,
table,
iframe {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

img,
a img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 0px;
    line-height: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 12px;
    font-weight: normal;
}

ul,
li,
ol,
dt,
dl,
dd {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

address,
cite,
code,
em,
th,
i {
    font-weight: normal;
    font-style: normal;
}

label,
input,
textarea,
select,
button {
    font-family: "微软雅黑", "黑体-简";
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    outline: none;
    background-color: transparent;
}

input,
button,
select,
img,
textarea {
    line-height: normal;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

img {
    vertical-align: top;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* 栅格 */

.col_6 {
    width: 50%;
}

/* 按钮样式 */

.pri_btn {
    padding: 0 30px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    background-color: #589af8;
    border-radius: 3px;
}

/* 字体颜色 */

.blue {
    color: #589af8;
}

.red {
    color: #e64340;
}

/* 背景颜色 */

.white_bg {
    background-color: #fff;
}

/* 四周阴影 */

.shadow {
    box-shadow: 0 2px 10px -1px rgba(69, 90, 100, .3);
    border-radius: 5px;
}

/* 列表box */

.list_box {
    padding: 0 20px 20px;
}

/* 列表tit */

.g_tit {
    border-bottom: 1px solid #e2e2e2;
}

.g_tit>h5 {
    font-size: 18px;
    height: 58px;
    line-height: 58px;
}

/* 定位 */

.fl {
    float: left;
}

.fr {
    float: right;
}

/* keyvalue（左右对齐）类型table */

.table_keyvalue tr td:nth-child(2n) {
    text-align: left;
}

.table_keyvalue tr td:nth-child(2n+1) {
    text-align: right;
}

/* 表格文字对齐方式 */
.ant-table-tbody > tr > td.text_to_right,.ant-table-thead > tr > th.text_to_right{
    text-align: right;
}

.ant-table-tbody > tr > td.text_to_left,.ant-table-thead > tr > th.text_to_left{
    text-align: left;
}

/* 盒模型 */

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.ml10 {
    margin-left: 10px;
}

.ml40 {
    margin-left: 40px;
}

.mr10 {
    margin-right: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pr10 {
    padding-right: 10px;
}

/* card卡片容器标题和操作区域样式 */

.cardTitle {
    height: 100%;
    display: flex;
    align-items: center;
}

.cardExtra {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 -5px;
}
.cardExtra>*{
    margin:0 5px;
}

/* 错误提示 弹出框 */

.mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3)
}

/* 大部分页面查询栏布局样式 */

.gutter-box {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 大部分页面分页器布局样式 */

.pagination {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}