<!--pages/downAuthorization/downAuthorization.wxml-->
<app-header title="授权书填写及拍照要求" backIcon=1 backTxt="返回" hasBack="false"></app-header>
<div class='has_win'>
  <div class='box'>
    <div class='content'>
      <p class='title'>一、企业信息采集授权书填写要求：</p>
      <p>1、企业名称请填写企业全称，必须和营业执照一致。</p>
      <p>2、授权书必须加盖企业公章。</p>
      <p>3、授权日不能晚于您提交授权书的时间日期。</p>
      <p>4、法人代表签字必须为手写签名。</p>
      <p style='text-align: center; color: #333; font-size: .8rem; margin-top: 1rem;'>授权书填写标准范本</p>
      <img src='../../assets/images/applyText01.jpg' style='margin-bottom: 1.666666rem;width:100%; height:55.1rem;'>
      <p class='title'>二、大股东/实际控制人征信授权填写要求：</p>
      <p>1、申请人必须为大股东/实际控制人。</p>
      <p>2、授权书需要印有申请人拇指手印。</p>
      <p>3、申请人签名必须为手写签名。</p>
      <p style='text-align: center; color: #333; font-size: .8rem; margin-top: 1rem;'>授权书填写标准范本</p>
      <img src='../../assets/images/applyText05.jpg' style='margin-bottom: 1.666666rem;width:100%; height:45.333333rem;'>
      <p class='title'>三、拍照上传要求：</p>
      <p>1、授权书上传件要求：上传的图片必须清晰，不能出现文字模糊的现象，公章、签名、手印必须清楚可辨识。</p>
      <img src='../../assets/images/applyText02.jpg' style='width:100%; height:14.333333rem;'>
      <img src='../../assets/images/applyText03.jpg' style='width:100%; height:14.333333rem;'>
      <p>2、法人代表手持授权书拍照要求：法人代表五官必须清晰不能有遮盖；法人代表身份证正面朝上放置于授权书编号下方一同拍照；不能遮盖授权书编号；身份证信息必须清楚。</p>
      <p style='text-align: center; color: #333; font-size: 0.8rem; margin-top: 1rem;'>授权书与身份证摆放位置标准范本</p>
      <img src='../../assets/images/applyText04.jpg' style='width:100%; height:14.333333rem;'>
    </div>
  </div>
</div>
