.search_box{padding: 0 0px 28px 0;margin-bottom: 30px;}

.show {
    display: block;
}
.show img {
    width: 400px;
    position: fixed;
    top: 0px;
    z-index: 99;
}
.hide {
    display: none;
}

