<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<nz-card class="card" [nzTitle]="'客户借款信息'" *ngIf="info">
  <nz-table class="picture-table data-table" [nzData]="[1,2]" nzBordered [nzShowPagination]="false"
    [nzFrontPagination]="false" [nzSize]="'small'">
    <tbody>
      <tr>
        <td>订单号</td>
        <td>{{info.loanApply.no}}</td>
        <td>订单时间</td>
        <td>{{info.loanApply.no}}</td>
      </tr>
      <tr>
        <td>客户名称</td>
        <td>{{info.loanApply.etpName}}</td>
        <td>社会统一信用代码</td>
        <td>{{info.loanApply.no}}</td>
      </tr>
      <tr>
        <td>企业法人</td>
        <td>{{info.loanApply.no}}</td>
        <td>身份证号</td>
        <td>{{info.loanApply.no}}</td>
      </tr>
      <tr>
        <td>申请产品</td>
        <td>{{info.loanApply.productName}}</td>
        <td>订单状态</td>
        <td>
          <span class="value red" *ngIf="info.loanApply.status=='0'">处理中</span>
          <span class="value red" *ngIf="info.loanApply.status=='1'">已终止</span>
          <span class="value red" *ngIf="info.loanApply.status=='2'">处理完成</span>
        </td>
      </tr>
      <tr>
        <td>申请金额（万元）</td>
        <td>{{info.loanApply.amount}}</td>
        <td>申请期限（个月）</td>
        <td>{{info.loanApply.term}}</td>
      </tr>
      <tr>
        <td>推广机构</td>
        <td>{{info.loanApply.no}}</td>
        <td>推广人员</td>
        <td></td>
      </tr>
    </tbody>

  </nz-table>
</nz-card>
<nz-card class="card" [nzTitle]="'授权书'" *ngIf="info">
  <nz-table class="picture-table data-table" [nzData]="info.applyDataList" nzBordered [nzShowPagination]="false"
    [nzFrontPagination]="false" [nzSize]="'small'">
    <tr *ngFor="let item of imgList">
      <td>{{item.name}}</td>
      <td class="picture">
        <img src="{{item.value}}" alt="" (click)="imgScale(item.value)">
      </td>
      <!-- <td>法人征信查询授权书</td>
      <td class="picture">
        <img src="" alt="点击放大查看" (click)="imgScale('','营业执照上传件')">
      </td> -->
    </tr>
    <!-- <tr>
      <td>法人手持企业信息授权书</td>
      <td class="picture">
        <img src="" alt="点击放大查看" (click)="imgScale('','营业执照上传件')">
      </td>
      <td></td>
      <td></td>
    </tr> -->
  </nz-table>
</nz-card>
<nz-card class="card" [nzTitle]="'进度详情'" *ngIf="info">
  <nz-table class="data-table" [nzData]="[1,2]" nzBordered [nzShowPagination]="false" [nzFrontPagination]="false"
    [nzSize]="'small'">
    <thead>
      <tr>
        <th>时间</th>
        <th>进度说明</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{info.loanApply.createDate}}</td>
        <td>申请成功</td>
      </tr>
      <tr *ngIf="info.loanApply.status=='1'||info.loanApply.status=='2'">
        <td>{{info.loanApply.updateDate}}</td>
        <td>
          <span *ngIf="info.loanApply.status=='1'">已终止</span>
          <span *ngIf="info.loanApply.status=='2'">处理完成</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<nz-card class="card" [nzTitle]="'还款计划'" *ngIf="info&&info.repayDetail">
  <nz-table class="data-table" nzBordered
    [nzData]="info.repayDetail&&info.repayDetail.repayPlan?info.repayDetail.repayPlan:[]" #repayTable
    [nzShowPagination]="false" [nzFrontPagination]="false" [nzSize]="'small'">
    <thead>
      <tr>
        <th>期数</th>
        <th>应还总金额（万元）</th>
        <th>应还本金（万元）</th>
        <th>应还利息</th>
        <th>最后还款时间</th>
        <th>备注</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of repayTable.data">
        <td>{{item.borrowTimes}}</td>
        <td>{{item.repayAccountAll}}</td>
        <td>{{item.repayAccountCapital}}</td>
        <td>{{item.repayAccountInterest}}</td>
        <td>{{item.repayTime}}</td>
        <td>{{item.repayAccountAllYes}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<div class="mask" *ngIf="active">
  <pic-scale class="picBox" [ImgUrl]="imgUrl" (closeImg)="close($event)"></pic-scale>
</div>