<app-breadcrumbs [breadcrumbs]="['基础资源管理','基础字段管理']"></app-breadcrumbs>
<nz-card class="card search-card" [appResource]="{authName:'get/fields/grid'}">
  <div nz-row>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>分组</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="20" placeholder="请输入分组" [(ngModel)]="searchItems.group">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>分组主键</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="20" placeholder="请输入分组主键" [(ngModel)]="searchItems.groupKey">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>字段名称</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="20" placeholder="请输入字段名称" [(ngModel)]="searchItems.fieldName">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>字段主键</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="20" placeholder="请输入字段主键" [(ngModel)]="searchItems.fieldKey">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>类型</nz-form-label>
        <nz-form-control>
          <nz-select class="search-select" [(ngModel)]="searchItems.type" nzAllowClear nzPlaceHolder="请选择类型">
            <nz-option [nzValue]="item.code" [nzLabel]="item.name" *ngFor="let item of dataType"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>数据源</nz-form-label>
        <nz-form-control>
          <nz-select class="search-select" [(ngModel)]="searchItems.dataSource" nzAllowClear nzPlaceHolder="请选择数据源">
            <nz-option [nzValue]="item.code" [nzLabel]="item.name" *ngFor="let item of dataSource"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>&nbsp;</nz-form-label>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="search(1)"><i nz-icon nzType="search" nzTheme="outline"></i>查询</button>
          <button nz-button nzType="default" (click)="reset()"><i nz-icon nzType="close" nzTheme="outline"></i>重置</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'基础字段列表'" [nzExtra]="extraTemplate">
  <nz-table 
    #basicTable 
    class="data-table" 
    [nzData]="rows"
    [nzSize]="'small'" 
    [nzShowPagination]="false" 
    [nzLoadingDelay]="loadingDelay">
    <thead>
      <tr>
        <th>分组</th>
        <th>分组主键</th>
        <th>字段名称</th>
        <th>字段主键</th>
        <th>字段定义</th>
        <th>类型</th>
        <th [appResource]="{authName:'get/dictionaryItems'}">数据源</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.group}}</td>
        <td>{{data.groupKey}}</td>
        <td>{{data.fieldName}}</td>
        <td>{{data.fieldKey}}</td>
        <td>{{data.fieldDef}}</td>
        <td>{{data.typeName}}</td>
        <td [appResource]="{authName:'get/dictionaryItems'}">
          <span *ngIf='data.type=="select"||data.type=="multSelect"' style='color:#589af8;cursor:pointer'
          [routerLink]="['/baseResource/dictionary/dictionary-item']" [queryParams]="{code: data.dataSource,id: data.dataSourceId}">{{data.dataSourceName}}</span>
        </td>
        <td>{{data.introduction}}</td>
        <td>
          <button [appResource]="{authName:'post/field/edit'}" nz-button nzType="default" class="table-btn" (click)="modalShow('编辑字段','edit',data)"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</button>
          <button [appResource]="{authName:'delete/fields'}" nz-button nzType="default" class="table-btn" (click)="showDeleteConfirm(data)"><i nz-icon nzType="close" nzTheme="outline"></i>删除</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-page-nav 
    [total]="page.total" 
    [totalPage]="page.totalPage" 
    [pageNum]="page.pageNum"
    [pageSize]="page.pageSize"
    (getCurrentPage)="changePage($event)">
  </app-page-nav>
</nz-card>
<ng-template #extraTemplate>
  <div class="table-right-btn">
    <button [appResource]="{authName:'post/field'}" nz-button nzType="primary" class="tableBtn" (click)="modalShow('创建字段','add')"><i nz-icon nzType="plus" nzTheme="outline"></i>创建字段</button>
    <div class="btn" [appResource]="{authName:'post/fields/import'}">
      <button nz-button nzType="primary" class="tableBtn" (click)="modalShow('add')" style="position: relative;"><i nz-icon nzType="upload" nzTheme="outline"></i>批量导入</button>
      <input nz-button nzType="primary" class="tableBtn file-up-btn" type="file" id="file" name='file' accept=".xlsx,.xls" *ngIf='refresh' ng2FileSelect [uploader]="uploader" (change)='selectedFileOnChanged($event)'
        style="opacity: 0;"/>
    </div>
  </div>
</ng-template>
<nz-modal [(nzVisible)]="show" [nzTitle]="modalTitle" (nzOnCancel)="modalCancel()" [nzFooter]="null">
  <form nz-form [formGroup]="addForm" class="modalForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="group">分组</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="group" id="group" type="text" maxlength="20" placeholder="请输入分组">
        <nz-form-explain *ngIf="addForm.get('group').dirty && addForm.get('group').errors">分组不能为空!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="groupKey">分组主键</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="groupKey" id="groupKey" type="text" maxlength="20" placeholder="请输入分组主键">
        <nz-form-explain *ngIf="addForm.get('groupKey').dirty && addForm.get('groupKey').errors">分组主键不能为空!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="fieldName">字段名称</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="fieldName" id="fieldName" type="text" maxlength="20" placeholder="请输入字段名称">
        <nz-form-explain *ngIf="addForm.get('fieldName').dirty && addForm.get('fieldName').errors">字段名称不能为空!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="fieldKey">字段主键</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="fieldKey" id="fieldKey" type="text" maxlength="20" placeholder="请输入字段主键">
        <nz-form-explain *ngIf="addForm.get('fieldKey').dirty && addForm.get('fieldKey').errors">字段主键不能为空!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="fieldDef">字段定义</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="fieldDef" id="fieldDef" type="text" maxlength="20" placeholder="请输入字段定义">
        <nz-form-explain *ngIf="addForm.get('fieldDef').dirty && addForm.get('fieldDef').errors">字段定义不能为空!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="type">类型</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-select formControlName="type" (ngModelChange)="dataSourceValid(modalItems.type)">
          <nz-option nzValue="" nzLabel="请选择类型" ></nz-option>
          <nz-option nzValue="{{item.code}}" nzLabel="{{item.name}}" *ngFor="let item of dataType"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="addForm.get('type').dirty && addForm.get('type').errors">类型不能为空!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item [hidden]='!(modalItems.type=="select"||modalItems.type=="multSelect")'>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dataSource">数据源</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-select formControlName="dataSource">
          <nz-option nzValue="" nzLabel="请选择数据源" ></nz-option>
          <nz-option nzValue="{{item.code}}" nzLabel="{{item.name}}" *ngFor="let item of dataSource"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="addForm.get('dataSource').dirty && addForm.get('dataSource').errors">数据源不能为空!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="introduction">备注</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <textarea formControlName="introduction" nz-input rows="2" maxlength="100" placeholder="请输入备注"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSm]="18">
        <button nz-button (click)="modalCancel();resetForm($event)">取消</button>
        <button nz-button (click)="submited($event)" nzType="primary" [disabled]="!addForm.valid">确定</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>