<app-header title="贷款申请" backIcon=1 backTxt="返回" hasBack="true"></app-header>
<div class="has_win">
  <div class="box">
    <div class="cur_item">
      <div class="left">申请产品</div>
      <div class="right" style='float:right;color:#333;' *ngIf="productName">{{productName}}</div>
    </div>
    <div class="cur_item" [routerLink]="['/check-etp']">
      <div class="left">贷款企业</div>
      <img src="../../../assets/images/arr_toR_03.png" alt="">
      <div class="right" *ngIf="!data.etpCer.etpName">请选择需要贷款的企业</div>
      <div class="right" *ngIf="data.etpCer.etpName" style='color:#333;'>{{data.etpCer.etpName}}</div>
    </div>
    <div class="cur_item">
      <div class="left">贷款金额</div>
      <div class="right" [ngClass]="{'amount': data.amount}">
        <input type="number" oninput="if(value.length>3)value=value.slice(0,3);if(value>100)value=100" placeholder="请输入贷款金额（万元）" [(ngModel)]="data.amount">
        <span *ngIf="data.amount" style='width:2em;float:right;color:#333; position: absolute; right: 0; top: 0;'>万元</span>
      </div>
    </div>
    <div class="cur_item">
      <div class="left">还款方式</div>
      <img *ngIf="!data.repayMethod" src="../../../assets/images/arr_toR_03.png" alt="">
      <div class="right" *ngIf="!data.repayMethod">请选择还款方式</div>
      <select class="right select" [(ngModel)]='data.repayMethod'>
        <option value="">请选择还款方式</option>
        <option value="{{item}}" *ngFor="let item of methodOptions">{{item}}</option>
      </select>
      <div class="right" *ngIf="data.repayMethod" style='color:#333;'>{{data.repayMethod}}</div>
    </div>
    <div class="cur_item">
      <div class="left">贷款期限（月）</div>
      <img *ngIf="!data.term" src="../../../assets/images/arr_toR_03.png" alt="">
      <div class="right" *ngIf="!data.term">请选择贷款期限</div>
      <select class="right select" [(ngModel)]='data.term'>
        <option value="">请选择贷款期限</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <div class="right" *ngIf="data.term" style='color:#333;'>{{data.term}}</div>
    </div>
    <div class="cur_item" (click)="getInfo()">
      <div class="left">信息采集授权</div>
      <img src="../../../assets/images/arr_toR_03.png" alt="">
      <div class="right" *ngIf="!data.infoAuth.authUrl">请进行授权操作</div>
      <div class="right" *ngIf="data.infoAuth.authUrl" style='color:#333;'>已提交</div>
    </div>
    <dynamic-form [config]="config" (submitted)="submitted($event)" *ngIf="config.length>0"></dynamic-form>
    <div class="priBtn"><button class="col-10 btn" (click)="submitted()" *ngIf="config.length==0">提交申请</button></div>
  </div>
</div>
<loading [txt]="'请稍后...'" *ngIf='loading'></loading>

