<app-crumb></app-crumb>
<div class="white_bg" style='margin-bottom:30px' [appResource]="{authName:'get/system/banner'}">
  <div class="search_box">
    <div class="input_row clearfix">
      <div class="g_input">
        <div class="label">
          <span>标题：</span>
          <input type="text" placeholder='' [(ngModel)]='data.find.title'>
        </div>
      </div>
      <div class="g_input">
        <div class="label">
          <span>状态：</span>
          <select [(ngModel)]="data.find.status">
            <option value="">全部</option>
            <option value="1">启用</option>
            <option value="0">禁用</option>
          </select>
        </div>
      </div>
    </div>
    <div class="btn_row">
      <button class="pri_btn" (click)="gettable(data.find.pageNum,data.find)">查询</button>
      <button class="pri_btn reset" (click)="reset()">重置</button>
    </div>
  </div>
</div>
<div class="white_bg list_box" style='height:715px'>
  <div class="g_tit mb20">
    <h5>
      查询结果
      <button [appResource]="{authName:'post/system/banner'}" (click)='formshow(false)'>添加banner</button>
    </h5>
  </div>
  <ngx-datatable class="data-table dt-chk material mb20" [rows]="data.table" [columnMode]="'force'" [scrollbarH]="true"
    [headerHeight]="44" [rowHeight]="'auto'" [limit]="10">
    <ngx-datatable-column [sortable]="false" name="排序" prop='sort'>
      <!-- <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">{{rowIndex}}</ng-template> -->
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="标题" prop="title"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="图片">
      <ng-template ngx-datatable-cell-template let-row="row">
        <img [src]="row.mediaUrl" alt="banner图片" (click)='imgshow(row.mediaUrl)'>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="状态">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="switch" [appResource]="{authName:'patch/system/banner'}">
          <ui-switch class="js-single" color="#ecedf2" switchColor="#716aca" switchOffColor="#e0e2e9" size="medium"
            (click)="switchange(row)" [checked]="row.status=='1'"></ui-switch>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="更新时间" prop="updateDate"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="操作">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="flex">
          <button [appResource]="{authName:'put/system/banner'}" (click)='formshow(row)'>修改</button>
          <button [appResource]="{authName:'delete/system/banner'}" (click)='removeshow(row)'>删除</button>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<div class="mask" [hidden]="!data.mengbanshow"></div>
<div class="modal" [hidden]="!data.formshow">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{data.addtext}}banner</h4>
      <button type="button" class="close basic-close" (click)="hidden()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">标题：</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" placeholder='请输入标题' maxlength="50" [(ngModel)]='data.form.title'>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">图片地址：</label>
        <div class="col-sm-9">
          <input *ngIf='data.formshow' [hidden]='true' type="file" id="file" name='file' accept="image/*" ng2FileSelect [uploader]="uploader" (change)='selectedFileOnChanged($event,data.form)'>
          <input class="form-control" style='width:80%;float:left;' [disabled]='true' type="text" [(ngModel)]='data.form.mediaUrl'>
          <button class="btn btn-primary ripple light" style='float:right' onclick="document.getElementById('file').click()">上传文件</button>
          <div style='clear:both'></div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">详情信息：</label>
        <div class="col-sm-9" style='padding-top:0.375rem'>
          <app-tiny-editor [elementId]="'my-editor'" (onEditorContentChange)="keyupHandler($event)" [initialContent]="data.form.detail"></app-tiny-editor>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">状态：</label>
        <div class="col-sm-9" style='padding-top:0.375rem'>
          <label class='radio'>
            <input type="radio" name='status' [value]='1' [(ngModel)]='data.form.status'>
            <div class="after"></div>启用
          </label>
          <label class='radio'>
            <input type="radio" name='status' [value]='0' [(ngModel)]='data.form.status'>
            <div class="after"></div>禁用
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">排序:</label>
        <div class="col-sm-9">
          <input class="form-control" type="number" placeholder='请输入排序' [(ngModel)]='data.form.sort'></div>
      </div>
      <div class="form-group form-group-btn row">
        <button type="button" class="btn btn-primary btn-outline-primary ripple light" (click)="hidden()">取消</button>
        <button type="button" class="btn btn-primary ripple light" (click)="submit()" [disabled]="data.form.cansubmit">提交</button>
      </div>
    </div>
  </div>
</div>
<div class='confirm' [hidden]="!data.removeshow">
  <div class="header">
    <span>系统提示</span>
  </div>
  <div class="body">
    <span>您确定要删除此条banner吗？</span>
  </div>
  <div class="footer">
    <button class='cal' type="button" (click)="hidden()">取消</button>
    <button class='sure' type="button" (click)="remove()">确定删除</button>
  </div>
</div>
<div class='confirm' [hidden]="!data.imgshow" style='width:1000px'>
  <div class="header">
    <span>查看图片</span>
  </div>
  <div class="body">
    <img [src]="data.imgurl" alt="" style='width:100%;display:block'>
  </div>
  <div class="footer">
    <!-- <button class='cal' type="button" (click)="hidden()">取消</button> -->
    <button class='sure' type="button" (click)="hidden()">确定</button>
  </div>
</div>
<app-page-nav (getCurrentPage)="changePage($event)" [totalPage]='data.find.pages'></app-page-nav>
<ng2-toasty [position]="toast.position"></ng2-toasty>