.space {
  display: inline-block;
  font-size:16px;
  i{
    display: inline-block;
    span{
      display: inline-block;
      width:0;
      height:0;
      padding:15px;
    }
  }
  .department{
    height:16px;
    width: 16px;
    display: inline-block;
  }
}