<div class="cur_item" [formGroup]="group">
  <div class="left">{{config.controlName}}</div>
  <img src="../../../../assets/images/arr_toR_03.png" alt="" >
  <div class="right">
    <span *ngIf="config.value">已上传</span>
    <input type="text" readonly placeholder="{{config.placeInfo}}" *ngIf="!config.value">
    <input class="picBtn" (change)="previewImg($event)" accept="image/*" capture="camera" type="file" placeholder="{{config.placeInfo}}" [formControlName]="config.controlKey">
  </div>
</div>

<div class="imgBox" *ngIf="config.value">
  <div style="width:100%;">
    <img [ngClass]="{'pic': config.value}" src="{{config.value}}" alt="" (click)='hasClick=true'>
  </div>
</div>
<div class="mask" *ngIf='hasClick' (click)='hasClick=false'>
  <img src="{{config.value}}" alt="" class="b_img">
</div>

<loading [txt]="'请稍后...'" *ngIf='loading'></loading>