<!-- <nz-spin nzTip="加载中..."  [nzSpinning]="spinning"> -->
<app-breadcrumbs [breadcrumbs]="['应用管理','应用管理']"></app-breadcrumbs>
<nz-card class="card search-card" [appResource]="{authName:'get/appDataGrid'}">
  <div nz-row>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>应用名称</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="20" placeholder="请输入应用名称" [(ngModel)]="searchItems.appName">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>APPID</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="50" placeholder="请输入APPID" [(ngModel)]="searchItems.appId">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>应用状态</nz-form-label>
        <nz-form-control>
          <nz-select class="search-select" [(ngModel)]="searchItems.status" nzAllowClear nzPlaceHolder="请选择应用状态">
            <nz-option nzValue="" nzLabel="所有状态"></nz-option>
            <nz-option nzValue="0" nzLabel="禁用"></nz-option>
            <nz-option nzValue="1" nzLabel="启用"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>&nbsp;</nz-form-label>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="searchData(1)"><i nz-icon nzType="search" nzTheme="outline"></i>查询</button>
          <button nz-button nzType="default" (click)="reset()"><i nz-icon nzType="close" nzTheme="outline"></i>重置</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'应用列表'" [nzExtra]="extraTemplate">
  <nz-table [nzLoading]="spinning" #basicTable class="data-table" [nzData]="rows" [nzSize]="'small'" [nzPageSize]="rows.length" [nzShowPagination]="false"
    [nzLoadingDelay]="loadingDelay" [nzBordered]="true">
    <thead>
      <tr>
        <th>应用名称</th>
        <th>APPID</th>
        <th>APPKEY</th>
        <th>更新时间</th>
        <th [appResource]="{authName:'patch/app/status'}">状态</th>
        <th [appResource]="{authName:'put/app'}">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.appName}}</td>
        <td>{{data.appId}}</td>
        <td>{{data.appKey}}</td>
        <td class="td-center">{{data.updateDate}}</td>
        <td class="td-center" [appResource]="{authName:'patch/app/status'}">
          <nz-switch [ngModel]="data.status==1" (ngModelChange)="switchange(data)" ></nz-switch>
        </td>
        <td class="td-center" [appResource]="{authName:'put/app'}">
          <button nz-button nzType="default" class="table-btn" (click)="modalShow('edit',data)"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-page-nav [total]="page.total" [totalPage]="page.totalPage" [pageNum]="page.pageNum" [pageSize]="page.pageSize"
    (getCurrentPage)="changePage($event)">
  </app-page-nav>
</nz-card>
<ng-template #extraTemplate>
  <button [appResource]="{authName:'post/app'}" nz-button nzType="primary" class="tableBtn"
    (click)="modalShow('add')"><i nz-icon nzType="plus" nzTheme="outline"></i>创建应用</button>
</ng-template>
<nz-modal [(nzVisible)]="show" [nzTitle]="modalTitle" (nzOnCancel)="modalCancel();" [nzFooter]="null">
  <form nz-form [formGroup]="addForm" class="modalForm">
    <nz-form-item [hidden]="modalStatus!='edit'">
      <nz-form-label [nzSm]="6" [nzXs]="24">APPID</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input type="text" formControlName="appId" readonly>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item [hidden]="modalStatus!='edit'">
      <nz-form-label [nzSm]="6" [nzXs]="24">APPKEY</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input type="text" formControlName="appKey" readonly>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="appName">应用名称</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="appName" id="appName" type="text"
          placeholder="请输入应用名称">
        <nz-form-explain *ngIf="addForm.get('appName').dirty && addForm.get('appName').errors">应用名称不能为空!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="appAddress">域名地址</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input type="url" formControlName="appAddress" id="appAddress"
          placeholder="请输入域名地址">
        <nz-form-explain
          *ngIf="addForm.get('appAddress').dirty && addForm.get('appAddress').errors || addForm.get('appAddress').pending ">
          <ng-container *ngIf="addForm.get('appAddress').hasError('required')">
            域名地址不能为空!
          </ng-container>
          <ng-container *ngIf="addForm.get('appAddress').hasError('duplicated')">
            请输入正确的域名格式（http://***.***.***）!
          </ng-container>
          <ng-container *ngIf="addForm.get('appAddress').pending">
            校验中...
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">应用描述</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <textarea formControlName="remark" nz-input rows="2"
          placeholder="请输入应用描述"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">应用状态</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-radio-group formControlName="status">
          <label nz-radio nzValue="1">启用</label>
          <label nz-radio nzValue="0">禁用</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSm]="18">
        <button nz-button (click)="modalCancel();resetForm($event)">取消</button>
        <button nz-button (click)="submited($event)" nzType="primary" [disabled]="!addForm.valid">确定</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
<!-- </nz-spin> -->