<div class="header">
  <div class="logo">
    <img src="../../../assets/images/logo.png" alt="">
  </div>
  <ul class='nav-right'>
    <!-- 巅峰导航 -->
    <li *ngFor='let list of nav'>
      <a [href]='list.appAddress'>{{list.appName}}</a>
    </li>
  </ul>
  <ul class="user">
    <li class="infor">
      <nz-popover [(nzVisible)]="password.popoverShow" [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
        <div nz-popover>
          <i class="anticon anticon-user"></i>
          {{userInfor.name}}
          <i class="anticon anticon-down"></i>
        </div>
        <ng-template #nzTemplate style='box-shadow: 0 0 20px 0 rgba(0,0,0,.3);border-radius: 5px;cursor:pointer'>
          <div style='cursor:pointer' (click)="password.popoverShow=false;password.modalShow=true;">
            <i class="anticon anticon-lock"></i>
            修改密码
          </div>
        </ng-template>
      </nz-popover>
      <nz-modal [(nzVisible)]="password.modalShow" [nzTitle]="modelHead" (nzOnCancel)="choiceCancel()" (nzOnOk)="choiceOk()"
        [nzOkLoading]="password.modalLoading">
        <p>Modal Content</p>
      </nz-modal>
      <ng-template #modelHead>
        头部
      </ng-template>
    </li>
    <li class='logout' (click)="logout()">
      <i class="anticon anticon-poweroff"></i>
      注销登录
    </li>
  </ul>
</div>