<nz-card class="card search-card">
    <div nz-row nzGutter="16">
        <div class="gutter-box" nz-col nzSpan="6">
            <nz-form-item>
                <nz-form-label>postId</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="请输入postId" [(ngModel)]="queryParams.postId">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="gutter-box" nz-col nzSpan="6">
            <nz-form-item>
                <nz-form-label>id</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="请输入id" [(ngModel)]="queryParams.id">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="gutter-box" nz-col nzSpan="6">
            <nz-form-item>
                <nz-form-label>&nbsp;</nz-form-label>
                <nz-form-control>
                    <button class="m-r-10" nz-button nzType="primary" (click)="search(1)">
                        <i nz-icon nzType="search"></i>查询
                    </button>
                    <button class="m-r-10" nz-button nzType="default" (click)="reset()">
                        <i nz-icon nzType="close"></i>重置
                    </button>
                    <button *ngIf="!open" nz-button nzType="default" (click)="open=!open">
                        <i nz-icon nzType="down" nzTheme="outline"></i>展开
                    </button>
                    <button *ngIf="open" nz-button nzType="default" (click)="open=!open">
                        <i nz-icon nzType="up" nzTheme="outline"></i>收起
                    </button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</nz-card>
<nz-card>
    <nz-table class="data-table" #nzTable [nzData]="etpArr" [nzSize]="'small'" [nzShowPagination]="false"
        [nzFrontPagination]="false">
        <thead>
            <tr>
                    <th>postId</th>
                    <th>id</th>
                    <th>评论员</th>
                <th>评论内容</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of nzTable.data">
                    <td>{{item.postId}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                <td>{{item.body}}</td>
            </tr>
        </tbody>
    </nz-table>
    <app-page-nav [total]="500" [totalPage]="500/queryParams._limit" [pageNum]="queryParams._page"
        (getCurrentPage)="changePage($event)"></app-page-nav>
</nz-card>