<app-crumb></app-crumb>
<div class="white_bg" [appResource]="{authName: 'get/order/query'}" style="margin-bottom:30px;">
  <div class="search_box">
    <div class="input_row clearfix row">
      <div class="g_input">
        <div class="label">
          <span>手机账号：</span>
          <input type="text" placeholder="请输入手机账号" [(ngModel)]="orderSearch.regMobile">
        </div>
      </div>
      <div class="g_input">
        <div class="label fl">
          <span>公司名称：</span>
          <input type="text" placeholder="请输入公司名称" [(ngModel)]="orderSearch.etpName">
        </div>
      </div>
      <div class="g_input">
        <div class="label fl">
          <span>申请编号：</span>
          <input type="text" placeholder="请输入订单号" [(ngModel)]="orderSearch.no">
        </div>
      </div>
      <div class="g_input">
        <div class="label fl">
          <span>申请状态：</span>
          <select [(ngModel)]="orderSearch.status">
            <option value="">全部</option>
            <option value="0">处理中</option>
            <option value="1">已终止</option>
            <option value="2">处理完成</option>
          </select>
        </div>
      </div>
      <div class="g_input has_date">
        <div class="label">
          <span>提交时间：</span>
          <div class="calendar_box">
            <app-calendar [placeholder]="'请输入订单提交开始时间'" (inputText)='orderSearch.createStartDate=$event'></app-calendar>
            ~~
            <app-calendar [placeholder]="'请输入订单提交结束时间'" (inputText)='orderSearch.createEndDate=$event'
              [minDate]='orderSearch.createStartDate'></app-calendar>
          </div>
        </div>
      </div>
      <div class="g_input has_date">
        <div class="label">
          <span>贷款期限：</span>
          <div class="calendar_box">
            <input type="text" (keyup)='minTerm()' placeholder="请输入最小贷款期限" [(ngModel)]="orderSearch.minTerm"
              class='ml10'>~~
            <input type="text" (keyup)='maxTerm()' placeholder="请输入最大贷款期限" [(ngModel)]="orderSearch.maxTerm">
          </div>
        </div>
      </div>
    </div>
    <div class="btn_row">
      <button class="btn pri_btn" (click)="search(1)">查询</button>
    </div>
  </div>
</div>
<div class="white_bg list_box">
  <div class="g_tit mb20">
    <h5>查询结果</h5>
  </div>
  <div class="rowsNull" *ngIf="rows.length==0">暂无数据！</div>
  <ngx-datatable class="material mb20" [rows]="rows" [columnMode]="'force'" [scrollbarH]="true" [headerHeight]="44"
    [rowHeight]="'auto'" [limit]="10" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" *ngIf="rows.length!=0">
    <ngx-datatable-column name="申请编号" prop="no" [width]="260" [sortable]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span title="{{value}}" style="white-space: nowrap;">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="企业名称" prop="etpName" [width]="250" [sortable]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span title="{{value}}" style="white-space: nowrap;">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="客户手机号码" prop="regMobile" [sortable]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span title="{{value}}" style="white-space: nowrap;">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="申请产品" prop="productName" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column name="申请金额（万元）" prop="amount" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column name="贷款期限（月）" prop="term" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column name="申请状态" [sortable]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span *ngIf=" ">全部</span>
        <span *ngIf="row.status=='0'">处理中</span>
        <span *ngIf="row.status=='1'">已终止</span>
        <span *ngIf="row.status=='2'">已完成</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="申请日期" prop="createDate" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column name="预审结果" [sortable]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <!-- <span *ngIf=" ">全部</span> -->
        <div *ngIf="row.loanReadyAuth">
          <span *ngIf="row.loanReadyAuth.status==='0'">预审中</span>
          <span *ngIf="row.loanReadyAuth.status==='1'">不通过</span>
          <span *ngIf="row.loanReadyAuth.status==='2'">通过/{{(row.loanReadyAuth.amount/10000).toFixed(0)}}万</span>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="预审批完成时间" [sortable]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <div *ngIf="row.loanReadyAuth">
          <span *ngIf="row.loanReadyAuth.status==='2'">{{row.loanReadyAuth.updateDate}}</span>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="操作" [sortable]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <a class="blue" [appResource]="{authName: 'get/order/id/detail'}"
          [routerLink]="['/app/business/orderinfo/'+row.id]">申请详情</a>
        <!-- <a *ngIf="row.status=='0'" class="blue" [appResource]="{authName: 'get/order/id/result'}" [routerLink]="['/app/business/order-result/']" [queryParams]="{'id': row.id,'productId': row.productId}">预审批报告</a> -->
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <app-page-nav (getCurrentPage)="changePage($event)" [totalPage]='totalPage'></app-page-nav>
</div>

<div class="mask" *ngIf="mask"></div>
<div class='confirm timeErr' *ngIf="mask">
  <div class="header">
    <span>提示</span>
  </div>
  <div class="body">
    <span>“结束时间”不能小于“开始时间”！</span>
  </div>
  <div class="footer">
    <button type="button" (click)="mask=false;">确认</button>
  </div>
</div>