.header{
	height:50px;
	margin:0px auto;
}
.header_left{
	float:left;
	height:50px;
}
.header_right{
	float:right;
	/*margin-right:20px;*/
}
.header_right li{
	float:left;
	margin-left:20px;
	line-height:50px;
	padding:0px 10px;
	font-size:14px;
	color:#666666;
	cursor: pointer;
}
.header_right li:hover{
	background:#eee;
}
.houtai_nav_wrap{
	width:190px;
	padding:10px;
	background:#2a3542;
	color:#aeb2b7;
	position:absolute;
}
.houtai_id{
	margin-top:10px;
}
.houtai_nav{
	
}
.box1{
	padding-left:10px;
	margin-top:20px;
	line-height:32px;
}
.box1 span{
	float:right;
	cursor: pointer;
}
.box2{
	display:none;
}
.box2 li{
	background:#31414A;
	line-height:24px;
	padding-left:10px;
	font-size:12px;
	cursor: pointer;
}
.box2 li:hover{
	color:red;
}
.charts_wrap{
	padding:10px;
	padding-left:220px;
	background:#EFF3F7;
	display:none;
}
.charts_wrap li{
	background:white;
	display:none;
}
.charts_wrap li h2{
	padding:0px 15px;
	line-height:44px;
	border-bottom:1px #EFF3F7 solid;
}
.charts_wrap li h2 span{
	float:right;
	font-size:12px;
	font-weight: 100;
}
.charts_wrap li h2 span a{
	color:blue;
}
.charts_wrap li h3{
	padding:10px;
}
.charts_wrap li h3 table{
	margin:0px auto;
}
.charts_wrap li h3 .table{
	width:100%
}
.charts_wrap li h3 .table th{
	width:19%;
	line-height: 40px;
	padding-left:8px;
	color:#5eb95e;
	background:#EFF7EF;
}
.charts_wrap li h3 .table td{
	/*width:60px;
	height:20px;*/
}
.charts_wrap li h3 .table th{
	/*width:50px;
	height:50px;*/
}
.charts_wrap li h3 .table img{
	margin-top:8px;
	width:80px;
	height:80px;
}
.charts_wrap li h3 .table td{
	line-height: 40px;
	padding-left:8px;
	background:#F7FBF7;
}
.charts_wrap li h3 #table0103 input{
	line-height:30px;
}
.charts_wrap li h3 #table0103 td{
	width:500px;
	padding-left:2px;
}
.right{
	text-align:right;
	padding-right:5px;
}
.charts_wrap li h3 #table0103 .right{
	text-align:right;
	padding-right:2px;
	width:200px;
	height:30px;
}
.charts_wrap li h3 #table0103 .fontsize{
	font-size:12px;
	font-weight: 100;
}
#table0408 .text{
	height:30px;
	padding-left:5px;
}
.charts_wrap li h3 #table0408{
	line-height:40px;
}
#table0408 .btn{
	width:100px;
	height:40px;
	border:0px;
	text-align: center;
	font-size:16px;
	border-radius: 5px;
	padding:0px;
}
#table0408 .right .btn{
	color:white;
	background:#3695cc;
}
.charts{
	width:1099px;
	height:400px;
}
