* {
	font-family: "微软雅黑";
}

.clear {
	clear: both;
}


/*登录注册开始*/

.site_wrap {
	width: 100%;
	background: #333;
	color: #B0B0B0;
}

.site {
	width: 1224px;
	height: 40px;
	margin: 0px auto;
	font-size: 12px;
}

.site span {
	float: left;
	color: #424242;
	line-height: 40px;
	margin: 0px 6px;
}

.topbar-nav {
	float: left;
}

.topbar-nav a {
	float: left;
	line-height: 40px;
	color: #B0B0B0;
}
.topbar-nav a:hover{
	color:#fff;
}

.topbar-cart {
	float: right;
	width: 105px;
	height: 30px;
	margin-left: 15px;
	background: #424142;
	padding-left: 15px;
	padding-top: 10px;
}

.topbar-cart .img {
	display: inline-block;
	width: 80px;
	height: 20px;
}

.topbar-cart .img img {
	float: left;
	margin-right: 4px;
	width: 20px;
	height: 20px;
}

.topbar-cart p {
	float: left;
	margin-top: 2px;
}

.topbar-info {
	float: right;
}

.topbar-info li {
	float: left;
	line-height: 40px;
	cursor: pointer;
}
.topbar-info li:hover{
	color:#fff;
}

/*登录注册结束*/


/*导航开始*/

.nav_wrap {
	width: 100%;
	position: relative;
}

.nav {
	width: 1224px;
	height: 100px;
	margin: 0px auto;
	position: relative;
}

.nav_logo {
	float: left;
	width: 55px;
	height: 55px;
	padding-top: 22px;
	overflow: hidden;
	position: relative;
}

.nav_logo .img_wrap {
	width: 111px;
	height: 55px;
	position: absolute;
	left: 0px;
	cursor: pointer;
}

.nav_logo .img_wrap img {
	width: 55px;
	height: 55px;
	float: left;
	background: #ff6700;
}

.nav_list {
	width: 810px;
	height: 88px;
	float: left;
	padding: 12px 0px 0px 40px;
}

.nav_list li {
	float: left;
	line-height: 24px;
	padding: 26px 10px 38px;
	font-size: 16px;
	cursor: pointer;
	color: #333333;
}

.nav_list li:hover {
	color: #ff6700;
}

#nav01 {
	width: 127px;
	padding: 26px 15px 38px 0px;
	text-align: right;
}

#nav01:hover {
	color: #333333;
}

.nav .form {
	float: right;
	margin-top: 25px;
	height: 50px;
	position: relative;
}

.nav .form .a_wrap {
	position: absolute;
	top: 14px;
	left: 85px;
}

.nav .form .a_wrap a {
	display: inline-block;
	line-height: 21px;
	margin-left: 5px;
	padding: 0px 5px;
	background: #EEEEEE;
	color: #757575;
	font-size: 12px;
}

.nav .form .a_wrap a:hover {
	background: #ff6700;
	color: #fff;
}

.nav .form .text {
	float: left;
	width: 223px;
	height: 48px;
	padding: 0px 10px;
	border: 1px solid #E0E0E0;
}

.nav .form .btn {
	float: left;
	width: 38px;
	height: 46px;
	padding: 1px 6px;
	border: 1px solid #E0E0E0;
	margin-left: -1px;
}

.nav .form .btn img {
	width: 28px;
	height: 28px;
	margin: 5px;
	margin-top: 9px;
}


/*全部商品分类左下拉*/

.nav .nav_all_wrap {
	padding: 20px 0px;
	border: 1px solid #ff6700;
	color: #424242;
	background: #fff;
	position: absolute;
	top: 100px;
	display: none;
	z-index:2;
}

.nav .nav_all_wrap li {
	cursor: pointer;
	width: 202px;
	line-height: 42px;
	padding-left: 30px;
}

.nav .nav_all_wrap li:hover {
	background: #ff6700;
	color: #fff;
}


/*全部商品分类右标签*/

.nav .nav_all {
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 233px;
	border: 1px solid #E0E0E0;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
	display: none;
	z-index: 2;
}

.nav .nav_all ul {
	width: 265px;
	height: 460px;
	float: left;
	background: #FFFFFF;
}

.nav .nav_all ul li {
	padding: 18px 20px;
	line-height: 40px;
	color: #333;
}

.nav .nav_all ul li img {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 12px;
}

.nav .nav_all ul li span {
	float: left;
	line-height: 40px;
}

.nav_wrap .nav_bottom {
	position: absolute;
	width: 100%;
	height: 228px;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
	z-index: 2;
	background: #ffffff;
	display: none;
}

.nav_wrap .nav_bottom ul {
	width: 1224px;
	margin: 0px auto;
	display: none;
}

.nav_wrap .nav_bottom ul i {
	float: left;
	margin-top: 37px;
	width: 0px;
	height: 100px;
	border-left: 1px solid #E0E0E0;
}

.nav_wrap .nav_bottom ul li {
	position: relative;
	float: left;
	width: 180px;
	height: 166px;
	padding: 35px 12px 0px;
	text-align: center;
}

.nav_wrap .nav_bottom ul li img {
	width: 110px;
	height: 110px;
}

.nav_wrap .nav_bottom ul li p {
	font-size: 12px;
	line-height: 20px;
	color: #333333;
}

.nav_wrap .nav_bottom ul li p span {
	color: #ff6700;
}


/*导航栏下拉*/


/*导航结束*/


/*标题开始*/
.title_wrapbox{
	width: 100%;
	height: 63px;
	position:relative;
}
.title_wrap {
	width: 100%;
	height: 63px;
	background:#FFFFFF;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
	position: absolute;
	top:0px;
	z-index:2px;
}

.title {
	width: 1224px;
	height: 63px;
	margin: 0px auto;
}

.title h2 {
	float: left;
	font-size: 18px;
	color: #212121;
	line-height: 60px;
	font-weight: 400;
}
.title h2 span{
	float: right;
	padding-left: 5px;
	font-size: 12px;
}
.title .right {
	float: right;
	margin-top: 17px;
}

.title .right a {
	color: #616161;
	font-size: 14px;
}

.title .right a:hover {
	color: #ff6700;
}

.title .right span {
	margin: 0px 3.5px;
	color: #e0e0e0;
}


/*标题结束*/


/*内容开始*/

.mian_wrap {
	width: 100%;
}

.mian {
	width: 1224px;
	margin: 32px auto;
}

.mian .img_wrap {
	float: left;
	width: 606px;
	height: 1113px;
	position:relative;
}
.mian .img_wrap #img{
	position:absolute;
	z-index:-1;
}
.mian .pro-info {
	float: right;
	width: 606px;
	margin-left: 12px;
}

.mian .pro-info h2 {
	line-height: 24px;
	font-size: 24px;
	margin-bottom: 8px;
}

.mian .pro-info h5 {
	line-height: 25px;
	font-size: 14px;
	color: #b0b0b0;
	font-weight: 400;
}

.mian .pro-info h5 span {
	color: #ff6700;
}

.mian .pro-info h4 {
	line-height: 1;
	font-size: 18px;
	color: #ff6700;
	padding: 12px 0px 20px;
	font-weight: 400;
}

.mian .pro-info .sale_wrap {
	height: 31px;
	padding: 10px 0px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	z-index:-1;
}
.mian .pro-info .sale_wrap input{
	width: 80px;
	height:25px;
    padding: 2px 0px;
    text-align: center;
    background: #ff6700;
    color: #fff;
    border:0px;
}
.mian .pro-info .address {
	margin: 40px 0px;
	padding: 30px 40px 30px 50px;
	border: 1px solid #e0e0e0;
	background: #fafafa;
	position: relative;
	z-index:-1;
}

.mian .pro-info .address span {
	margin-right: 14px;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

.mian .pro-info .address span a {
	color: #ff6700;
}

.mian .pro-info h3 {
	line-height: 1;
	font-size: 18px;
	font-weight: normal;
}

.mian .pro-info h3 span {
	float: right;
	font-size: 14px;
	color: #ff6700;
}

.mian .pro-info .change-e {
	margin: 15px 0px 30px;
	overflow: hidden;
}

.mian .pro-info .change-e li {
	width: 244px;
	line-height: 42px;
	padding: 0px 27px;
	border: 1px solid #e0e0e0;
	float: left;
	color: #333333;
	cursor: pointer;
}

.mian .pro-info .change-e li:first-child {
	margin-right: 6px
}

.mian .pro-info .change-e li span {
	float: right;
	color: #e0e0e0;
}

.mian .pro-info .change-c {
	margin-bottom: 30px;
	overflow: hidden;
}

.mian .pro-info .change-c li {
	width: 244px;
	line-height: 42px;
	padding: 0px 27px;
	border: 1px solid #e0e0e0;
	float: left;
	color: #333333;
	text-align: center;
	margin-top: 15px;
	cursor: pointer;
}

.mian .pro-info .change-c li:first-child {
	margin-right: 6px;
}

.mian .pro-info .box1 {
	width: 604px;
	height: 55px;
	padding: 30px 0px;
	border: 1px solid #e0e0e0;
	margin: 15px 0px 30px;
}

.mian .pro-info .box2 {
	width: 546px;
	height: 80px;
	padding: 30px;
	margin-bottom: 30px;
	background: #f9f9fa;
}
.mian .pro-info .box2 p{
    line-height: 30px;
    color: #616161;
}
.mian .pro-info .box2 p span{
	float:right;
}
.mian .pro-info .box2 h1{
    color: #ff6700;
    font-size: 24px;
    padding-top: 20px;
    font-weight: 400;
}

.mian .pro-info .box3 {
	width: 300px;
	line-height: 54px;
	margin: 10px 0px 20px;
	background: #ff6700;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
}

.mian .pro-info .box4 {
	font-size: 14px;
	color: #b0b0b0;
	height: 27px;
	margin-bottom: 20px;
}


/*内容结束*/


/*尾部开始*/

.foot_wrap {
	width: 100%;
}

.foot01 {
	width: 1224px;
	height: 272px;
	margin: 0px auto;
}

.foot01 ul {
	border-bottom: 1px solid #e0e0e0;
	padding: 27px 0px;
}

.foot01 ul li {
	float: left;
	width: 244px;
	text-align: center;
	line-height: 25px;
	border-left: 1px solid #e0e0e0;
}

.foot01 ul li:first-child {
	border-left: none;
}

.foot01 .footlinks {
	padding: 40px 0px;
}

.foot01 .footlinks dl {
	float: left;
	width: 160px;
}

.foot01 .footlinks dl dt {
	margin-bottom: 25px;
	line-height: 17px;
	color: #424242;
	font-size: 14px;
}

.foot01 .footlinks dl dd {
	margin-top: 10px;
	height: 18px;
	line-height: 14px;
	font-size: 12px;
	color: #757575;
}

.foot01 .footlinks .phone_wrap {
	width: 244px;
	text-align: center;
	float: right;
	border-left: 1px solid #e0e0e0;
}

.foot01 .footlinks .phone_wrap .phone {
	margin: 0px 0px 5px;
	font-size: 22px;
	line-height: 1;
	color: #ff6700;
}

.foot01 .footlinks .phone_wrap p {
	line-height: 18px;
	font-size: 12px;
}

.foot01 .footlinks .phone_wrap .btn {
	width: 118px;
	height: 28px;
	border: 1px #ff6700 solid;
	background: #fff;
	color: #ff6700;
	font-size: 12px;
	line-height: 28px;
	margin: 16px auto 0px;
}

.foot02 {
	height: 106px;
	padding: 30px 0px;
	font-size: 12px;
	background: #fafafa;
}

.foot02 .box1 {
	width: 1224px;
	height: 57px;
	margin: 0px auto;
}

.foot02 .box1 .logo img {
	float: left;
	width: 57px;
	height: 57px;
	margin-right: 10px;
	background: #ff6700;
}

.foot02 .box1 .info_text {
	float: left;
	font-size: 12px;
}

.foot02 .box1 .info_text p {
	line-height: 18px;
	color: #b0b0b0;
}

.foot02 .box1 .info_text p span {
	color: #757575;
}

.foot02 .box1 .info_links {
	float: right;
}

.foot02 .box1 .info_links img {
	width: 85px;
	height: 28px;
}

.foot02 .box2 {
	margin: 30px auto 0px;
	width: 267px;
	height: 19px;
	font-size: 18px;
	font-family: "新宋体";
	color: #b0b0b0;
}
/*尾部结束*/