<app-menu [menu]="['规则模型','规则管理','创建规则']"></app-menu>
<nz-card class="shadow" [nzTitle]="'步骤一：基本信息'">
    <div class='clearfix' nz-row>
        <div nz-col [nzSpan]="22">
            <div nz-row class="ant-form-item">
                <div nz-col [nzSpan]="4" class="ant-form-item-label ant-form-item-required">规则名称:</div>
                <div nz-col [nzSpan]="2"></div>
                <div nz-col [nzSpan]="18" class='ant-form-item-control'>
                    <input nz-input [(ngModel)]='data.name' placeholder="规则名称" maxlength="50">
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="22">
            <div nz-row class="ant-form-item">
                <div nz-col [nzSpan]="4" class="ant-form-item-label ant-form-item-required">规则分组:</div>
                <div nz-col [nzSpan]="2"></div>
                <div nz-col [nzSpan]="18" class='ant-form-item-control' style='display:relative' (click)='selectTreeShow=!selectTreeShow'>
                    <input class='noDisabled' [(ngModel)]='data.group' nz-input placeholder="规则分组" maxlength="50"
                        disabled>
                    <div class='selectTree' style='width:100%' [hidden]='!selectTreeShow'>
                        <nz-tree [(ngModel)]="nodes" [nzShowLine]="false" [nzDraggable]="false" (nzClick)="choiceGroup($event)">
                        </nz-tree>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="22">
            <div nz-row class="ant-form-item">
                <div nz-col [nzSpan]="4" class="ant-form-item-label">规则描述:</div>
                <div nz-col [nzSpan]="2"></div>
                <div nz-col [nzSpan]="18" class='ant-form-item-control'>
                    <textarea row="4" nz-input [(ngModel)]="data.remark"></textarea>
                </div>
            </div>
        </div>
    </div>
</nz-card>
<nz-card class="shadow mt20" [nzTitle]="'步骤二：导入规则'">
    <div class='clearfix' nz-row>
        <!-- <div nz-col [nzSpan]="22">
            <div nz-row class="ant-form-item">
                <div nz-col [nzSpan]="4" class="ant-form-item-label">规则版本:</div>
                <div nz-col [nzSpan]="2"></div>
                <div nz-col [nzSpan]="18" class='ant-form-item-control'>
                    <input nz-input placeholder="规则版本" [(ngModel)]='data.url' maxlength="50" >
                </div>
            </div>
        </div> -->
        <div nz-col [nzSpan]="22">
            <div nz-row class="ant-form-item">
                <div nz-col [nzSpan]="4" class="ant-form-item-label ant-form-item-required">上传规则:</div>
                <div nz-col [nzSpan]="2"></div>
                <div nz-col [nzSpan]="18" class='ant-form-item-control' nz-row>
                    <!-- <div nz-col [nzSpan]="16">
                        <input nz-input disabled [(ngModel)]='data.url'>
                    </div> -->
                    <div nz-col [nzSpan]="24">
                        <input *ngIf='data.fileShow' [hidden]='true' type="file" id="file" name='file' accept=".drl" ng2FileSelect
                            [uploader]="uploader" (change)='selectedFileOnChanged($event,data)'>
                        <button nz-button nzType="primary" onclick="document.getElementById('file').click()">上传规则文件</button>
                    </div>
                    <textarea row="4" nz-input [(ngModel)]="data.rule"></textarea>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="24" class='footer'>
            <button nz-button nzType="default" (click)='back()'>
                <i class="anticon anticon-close"></i>
                返回
            </button>
            <button nz-button nzType="primary" [disabled]='!data.canSubmit' [nzLoading]='data.loading' (click)='submit()'>
                <i class="anticon anticon-file"></i>
                保存规则
            </button>
        </div>
    </div>
</nz-card>