<app-breadcrumbs [breadcrumbs]="['角色权限','角色管理']"></app-breadcrumbs>
<nz-card class="card search-card" [appResource]="{authName:'get/roles/grid'}">
  <div nz-row>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>角色名称</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="20" placeholder="请输入角色名称" [(ngModel)]="searchItems.name">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>角色键值</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="50" placeholder="请输入角色键值" [(ngModel)]="searchItems.roleKey">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>状态</nz-form-label>
        <nz-form-control>
          <nz-select class="search-select" [(ngModel)]="searchItems.status" nzAllowClear nzPlaceHolder="请选择状态">
            <nz-option nzValue="" nzLabel="所有状态"></nz-option>
            <nz-option nzValue="0" nzLabel="禁用"></nz-option>
            <nz-option nzValue="1" nzLabel="启用"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>&nbsp;</nz-form-label>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="search(1)"><i nz-icon nzType="search" nzTheme="outline"></i>查询</button>
          <button nz-button nzType="default" (click)="reset()"><i nz-icon nzType="close" nzTheme="outline"></i>重置</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'角色列表'" [nzExtra]="extraTemplate">
  <nz-table #basicTable class="data-table" [nzData]="rows" [nzSize]="'small'" [nzShowPagination]="false"
    [nzLoadingDelay]="loadingDelay" [nzBordered]="true">
    <thead>
      <tr>
        <th>角色名称</th>
        <th>角色键值</th>
        <th>更新时间</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name}}</td>
        <td>{{data.roleKey}}</td>
        <td class="td-center">{{data.updateDate}}</td>
        <td class="td-center">
          <nz-switch [ngModel]="data.status==1" (ngModelChange)="switchange(data)"></nz-switch>
        </td>
        <td class="td-center">
          <button nz-button nzType="default" class="table-btn"
            (click)="modalShow('角色授权','auth');createTabsModal(tplTitle,tplContent,tplFooter);this.getApp(data)"><i
              nz-icon nzType="edit" nzTheme="outline"></i>角色授权</button>
          <button nz-button nzType="default" class="table-btn"
            (click)="modalShow('编辑角色','edit', data);createFormModal(tplTitle,formContent)"><i
              nz-icon nzType="edit" nzTheme="outline"></i>编辑</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-page-nav [total]="page.total" [totalPage]="page.totalPage" [pageNum]="page.pageNum" [pageSize]="page.pageSize"
    (getCurrentPage)="changePage($event)">
  </app-page-nav>
</nz-card>
<ng-template #extraTemplate>
  <button nz-button nzType="primary" class="tableBtn"
    (click)="modalShow('创建角色','add');createFormModal(tplTitle,formContent)"><i
      nz-icon nzType="plus" nzTheme="outline"></i>创建角色</button>
</ng-template>

<ng-template #tplTitle>
  <span>{{modalTitle}}</span>
</ng-template>
<ng-template #tplContent>
  <nz-spin [nzSpinning]="treeLoading" nzTip="加载中..." [nzDelay]="500">
    <div style="display: flex;align-items: center;justify-content: start;align-items: flex-start;">
      <div>
        <nz-tabset style="height: 500px" nzTabPosition="left" [(nzSelectedIndex)]="selectedIndex">
          <nz-tab *ngFor="let tab of appLists; let i=index;" (nzClick)="selectedIndex=i;tabsSelectChange(tab)"
            [nzTitle]="tab.appName" style="height: 500px;overflow-y: scroll;">
          </nz-tab>
        </nz-tabset>
      </div>
      <div class="nz-tree">
          <nz-tree  nzCheckable [(nzData)]="treeData" [nzCheckedKeys]="treeCheckedKeys"
            [nzExpandedIcon]="expandedIconTpl" (nzCheckBoxChange)="checkboxChange($event)">
            <ng-template #expandedIconTpl let-node>
              <i *ngIf="!node.origin.isLeaf" nz-icon [type]="node.isExpanded ? 'minus-square' : 'plus-square'"></i>
            </ng-template>
          </nz-tree>
      </div>
    </div>
  </nz-spin>
</ng-template>
<ng-template #formContent>
  <form nz-form [formGroup]="addForm" class="modalForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="roleKey">角色键值</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input [readonly]="modalStatus == 'edit'" nz-input formControlName="roleKey" id="roleKey" type="text"
           placeholder="请输入角色键值">
        <nz-form-explain *ngIf="addForm.get('roleKey').dirty && addForm.get('roleKey').errors">角色键值不能为空!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">角色名称</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="name" id="name" type="text" 
          placeholder="请输入角色名称">
        <nz-form-explain *ngIf="addForm.get('name').dirty && addForm.get('name').errors">角色名称不能为空!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">描述</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <textarea formControlName="remark" nz-input  rows="2" maxlength="200"
          placeholder="请输入描述"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">状态</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-radio-group formControlName="status" >
          <label nz-radio [nzValue]="1">启用</label>
          <label nz-radio [nzValue]="0">禁用</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSm]="18">
        <button nz-button (click)="modalCancel();resetForm($event)">取消</button>
        <button nz-button (click)="submited($event)" nzType="primary" [disabled]="!addForm.valid">确定</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
<ng-template #tplFooter>
  <button nz-button nzType="default" (click)="modalCancel()">取消</button>
  <button nz-button nzType="primary" (click)="postSelectAuth()" [nzLoading]="loading">确定</button>
</ng-template>