<ul nz-menu [nzMode]="'inline'"  class="menu">
    <div *ngFor='let list of menu;let index=index'>
      <li nz-menu-item *ngIf="list.type=='link'">
        <a title [routerLink]='list.url'>
          <!-- <i class="{{list.icon}}"></i> -->
          {{list.name}}
        </a>
      </li>
      <li nz-submenu *ngIf="list.type=='sub'" [(nzOpen)]="index==submenuindex" (nzOpenChange)="openChange(index)">
        <span title>
          <!-- <i class="{{list.icon}}"></i> -->
          {{list.name}}
        </span>
        <ul>
          <li nz-menu-item *ngFor='let item of list.children;let itemIndex=index;'>
            <a [routerLink]='item.url'>
              <nz-badge nzStatus="default"></nz-badge>{{item.name}}
            </a>
          </li>
        </ul>
      </li>
    </div>
  </ul>