<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<nz-card class="card search-card" [nzTitle]="'基本信息'" [appResource]="{authName:'get/productGrid'}">
  <div nz-row>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>产品名称:</nz-form-label>
        <nz-form-control>
          <span>{{productName}}</span>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>配置名称:</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="50" placeholder="请输入配置名称" [(ngModel)]="modalItems.name">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>配置key:</nz-form-label>
        <nz-form-control *ngIf="type == 'add'">
          <input nz-input placeholder="请输入配置key" [(ngModel)]="modalItems.key">
        </nz-form-control>
        <nz-form-control *ngIf="type == 'edit'">
            <span>{{modalItems.key}}</span>
          </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'费率设置'">
    <div class="describe">条件字段： loanTerm,loanAmount 运算符： !=,<,>,<=,>=,in,between,not in 逻辑条件： and，or</div>
  <nz-table #basicTable class="data-table" [nzData]="rows" [nzPageSize]="1000" [nzSize]="'small'" [nzShowPagination]="false"
    [nzLoadingDelay]="loadingDelay">
    <thead>
      <tr>
        <th>条件（表达式）</th>
        <th>费率金额</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data;let index = index">
        <td><input nz-input type="text" [(ngModel)]="data.spel" placeholder="请输入表达式"></td>
        <td>
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="18">
              <nz-select style="width: 100%;" [(ngModel)]="data.type">
                <nz-option nzValue="0" nzLabel="占贷款总金额比率"></nz-option>
                <nz-option nzValue="1" nzLabel="收取固定金额费用"></nz-option>
              </nz-select>
            </div>
            <div nz-col [nzSpan]="6">
              <nz-input-number style="width: 100%;" [(ngModel)]="data.rate" [nzMin]="1" [nzMax]="100" [nzStep]="1"
                [nzFormatter]="formatterPercent" [nzParser]="parserPercent" *ngIf="data.type==0"></nz-input-number>
              <nz-input-number nz-input style="width: 100%;" [(ngModel)]="data.rate" placeholder="" *ngIf="data.type==1" (keyup)="checkInput($event, index)"></nz-input-number>
            </div>
          </div>
        </td>
        <td><button nz-button nzType="default" class="table-btn" (click)="deleteRow(data)"><i nz-icon nzType="delete" nzTheme="outline"></i>删除本行</button></td>
      </tr>
    </tbody>
  </nz-table>
  <div nz-row>
    <div nz-col nzSpan="24">
      <button style="width: 100%;margin-top: 20px;" nz-button nzType = "dashed" (click)="addRow()"><i nz-icon nzType="plus" nzTheme="outline"></i>添加</button>
    </div>
  </div>
</nz-card>
<div nz-row style="text-align: center;">
    <button nz-button nzType="default" (click)='goBack()'>返回</button>
    <button nz-button nzType="primary" (click)='addProduct()' style="margin-left: 10px;">确定</button>
</div>