<ul class="menu" nz-menu [nzMode]="'inline'" [nzTheme]="'dark'">
    <div *ngFor='let list of menu;let index=index'>
        <li nz-menu-item *ngIf="list.type=='link'">
            <a title [routerLink]='list.url'>
                {{list.name}}
            </a>
        </li>
        <li nz-submenu *ngIf="list.type=='sub'" [(nzOpen)]="index==nowindex" (nzOpenChange)="openChange(index)">
            <span title>{{list.name}}</span>
            <ul>
                <li nz-menu-item *ngFor='let item of list.children'>
                    <a [routerLink]='item.url'>
                        <nz-badge nzStatus="default"></nz-badge>{{item.name}}
                    </a>
                </li>
            </ul>
        </li>
    </div>
</ul>