<app-header title="我的企业" backIcon=1 backTxt="返回" hasBack="true"></app-header>
<div class='has_win'>
  <div class='box'>
    <div class='orderList'>
      <div class='item' *ngFor='let item of list'>
        <div class='line' (click)='info(item)'>
          <p class='left'>{{item.etpName}}</p>
          <!-- <p class='right'>已认证</p> -->
          <img class='right' src="../../assets/images/arr_toR_03.png" >
        </div>
        <div class='orderCon'>
          <div class='left'>
            <p>法人代表姓名：{{item.legalName}}</p>
            <p>法人手机号码：{{item.mobile}}</p>
            <!-- <p>提交时间：{{item.createDate}}</p> -->
            <p>企业绑定时间：{{item.createDate}}</p>
          </div>
          <div class='right'>
            <!-- <button class='btnBox' (click)='info(item)'>查看详情</button> -->
          </div>
        </div>
      </div>
    </div>
    <a class='add_btn' [routerLink]="['/etpc-certification']">
      <p>绑定我的企业</p>
      <img src="../../assets/images/add_06.png" alt="">
    </a>
  </div>
</div>