<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<nz-card class="card search-card" [appResource]="{authName: 'get/user/query'}">
  <div nz-row>
    <div class="gutter-box" nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label>手机号码</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入手机号码" [(ngModel)]="searchItems.mobile">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label>注册时间</nz-form-label>
        <nz-form-control>
          <nz-range-picker [nzFormat]="'yyyy-MM-dd'" style="width: 100%;" [nzStyle]="{'width': '100%'}"
            [nzPlaceHolder]="['开始时间', '结束时间']" (ngModelChange)="regDateChange($event)" [(ngModel)]="regDate">
          </nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label>注册来源</nz-form-label>
        <nz-form-control>
          <nz-select style="width: 100%;" [(ngModel)]="searchItems.type" [nzPlaceHolder]="'请选择注册来源'">
            <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of sourceData">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label>推广机构</nz-form-label>
        <nz-form-control>
          <nz-select style="width: 100%;" [(ngModel)]="searchItems.type" [nzPlaceHolder]="'请选择推广机构'">
            <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of bankList">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label>&nbsp;</nz-form-label>
        <nz-form-control>
          <button class="m-r-20" nz-button nzType="primary" (click)="search(1)"><i
              class="anticon anticon-search"></i>查询</button>
          <button nz-button nzType="default" (click)="reset()"><i class="anticon anticon-close"></i>重置</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'注册客户列表'">
  <nz-table class="data-table" #nzTable [nzData]="rows" [nzLoading]="loading" [nzSize]="'small'"
    [nzShowPagination]="false" [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>手机号码</th>
        <th>头像</th>
        <th>推广机构</th>
        <th>推广人员</th>
        <th>注册来源</th>
        <th>注册时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of nzTable.data">
        <td>{{item.mobile}}</td>
        <td><img src="{{item.headPort}}" alt="头像" style="border-radius:100%; width: 36px; height: 36px;"></td>
        <td>{{item.insName}}</td>
        <td>{{item.insStaffName}}</td>
        <td>{{item.registSource}}</td>
        <td>{{item.regDate}}</td>
        <td>
          <button class="table-btn" nz-button nzType="'default'" [routerLink]="'/app/business/customer/info'"
            [queryParams]="{'id': item.id}"><i class="anticon anticon-file-text"></i>查看详情</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-page-nav [total]="page.total" [totalPage]="page.totalPage" [pageNum]="page.pageNum"
    (getCurrentPage)="changePage($event)"></app-page-nav>
</nz-card>