<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<nz-card class="card search-card" [appResource]="{authName:'get/system/banner'}">
  <div nz-row>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>标题</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入标题" [(ngModel)]="searchItems.title">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>状态</nz-form-label>
        <nz-form-control>
          <nz-select style="width: 100%;" [(ngModel)]="searchItems.status" [nzPlaceHolder]="'请选择状态'">
            <nz-option nzValue="" nzLabel="全部"></nz-option>
            <nz-option nzValue="1" nzLabel="启用"></nz-option>
            <nz-option nzValue="0" nzLabel="禁用"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>&nbsp;</nz-form-label>
        <nz-form-control>
          <button class="m-r-20" nz-button nzType="primary" (click)="search(1)"><i nz-icon type="search"></i>查询</button>
          <button nz-button nzType="default" (click)="reset()"><i nz-icon type="close"></i>重置</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'查询结果'" [nzExtra]="extraTitleTpl">
  <ng-template #extraTitleTpl>
    <button nz-button nzType="primary" [appResource]="{authName:'post/system/banner'}" (click)='formshow(false)'><i
        nz-icon type="plus"></i>添加banner</button>
  </ng-template>
  <nz-table #basicTable class="data-table picture-table" [nzData]="rows" [nzSize]="'small'" [nzShowPagination]="false"
    [nzLoading]="loading">
    <thead>
      <tr>
        <th>排序</th>
        <th>标题</th>
        <th>图片</th>
        <th>状态</th>
        <th>更新时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data;let i=index">
        <td>{{data.sort}}</td>
        <td>{{data.title}}</td>
        <td>
          <img [src]="data.mediaUrl" alt="banner图片" (click)='imgshow(data.mediaUrl)' style="height: 36px;margin: auto;">
        </td>
        <td>
          <nz-switch [(ngModel)]="data.status" (ngModelChange)="switchange(data)"></nz-switch>
        </td>
        <td>{{data.updateDate}}</td>
        <td>
          <button nz-button nzType="default" class="table-btn" [appResource]="{authName:'put/system/banner'}"
            (click)='formshow(data)'><i nz-icon type="edit"></i>修改</button>
          <button nz-button nzType="default" class="table-btn" nz-popconfirm nzTitle="您确定要删除此条banner吗？"
            (nzOnConfirm)="removetable(data.id)" (nzOnCancel)="cancel()"><i nz-icon type="close"></i>删除</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-page-nav [total]="page.total" [totalPage]="page.totalPage" [pageNum]="page.pageNum" [pageSize]="page.pageSize"
    (getCurrentPage)="changePage($event)">
  </app-page-nav>
</nz-card>
<div class="mask" [hidden]="!data.mengbanshow"></div>
<div class="modal" [hidden]="!data.formshow">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{data.addtext}}banner</h4>
      <button type="button" class="close basic-close" (click)="hidden()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">标题：</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" placeholder='请输入标题' maxlength="50" [(ngModel)]='data.form.title'>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">图片地址：</label>
        <div class="col-sm-9">
          <input *ngIf='data.formshow' [hidden]='true' type="file" id="file" name='file' accept="image/*" ng2FileSelect
            [uploader]="uploader" (change)='selectedFileOnChanged($event,data.form)'>
          <input class="form-control" style='width:80%;float:left;' [disabled]='true' type="text"
            [(ngModel)]='data.form.mediaUrl'>
          <button class="btn btn-primary ripple light" style='float:right'
            onclick="document.getElementById('file').click()">上传文件</button>
          <div style='clear:both'></div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">详情信息：</label>
        <div class="col-sm-9" style='padding-top:0.375rem'>
          <app-tiny-editor [elementId]="'my-editor'" (onEditorContentChange)="keyupHandler($event)"
            [initialContent]="data.form.detail"></app-tiny-editor>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">状态：</label>
        <div class="col-sm-9" style='padding-top:0.375rem'>
          <label class='radio'>
            <input type="radio" name='status' [value]='1' [(ngModel)]='data.form.status'>
            <div class="after"></div>启用
          </label>
          <label class='radio'>
            <input type="radio" name='status' [value]='0' [(ngModel)]='data.form.status'>
            <div class="after"></div>禁用
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">排序:</label>
        <div class="col-sm-9">
          <input class="form-control" type="number" placeholder='请输入排序' [(ngModel)]='data.form.sort'></div>
      </div>
      <div class="form-group form-group-btn row">
        <button type="button" class="btn btn-primary btn-outline-primary ripple light" (click)="hidden()">取消</button>
        <button type="button" class="btn btn-primary ripple light" (click)="submit()"
          [disabled]="data.form.cansubmit">提交</button>
      </div>
    </div>
  </div>
</div>
<div class='confirm' [hidden]="!data.imgshow" style='width:1000px'>
  <div class="header">
    <span>查看图片</span>
  </div>
  <div class="body">
    <img [src]="data.imgurl" alt="" style='width:100%;display:block'>
  </div>
  <div class="footer">
    <!-- <button class='cal' type="button" (click)="hidden()">取消</button> -->
    <button class='sure' type="button" (click)="hidden()">确定</button>
  </div>
</div>
<!-- <nz-modal [(nzVisible)]="modalConfig.show" [nzTitle]="modalConfig.modalTitle" (nzOnCancel)="modalCancel();"
  [nzFooter]="null">
  <form nz-form [formGroup]="modalForm" class="modal-form">
    <nz-form-item>
      <nz-form-label nzSpan="6" nzRequired nzFor="title">标题</nz-form-label>
      <nz-form-control nzSpan="16">
        <input formControlName="title" type="text" nz-input placeholder="请输入标题">
        <nz-form-explain *ngIf="modalForm.get('title').dirty && modalForm.get('title').errors">问题标题不能为空!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="6" nzRequired nzFor="mediaUrl">图片地址</nz-form-label>
      <nz-form-control nzSpan="16">
        <input *ngIf='modalConfig.show' [hidden]='true' type="file" id="file" name='file' accept="image/*" ng2FileSelect
          [uploader]="uploader" (change)='selectedFileOnChanged($event,modalForm.value)'>
        <input formControlName="mediaUrl" style='width:80%;float:left;' [disabled]='true' type="text"
          [(ngModel)]='modalForm.value.mediaUrl'>
        <button class="btn btn-primary ripple light" style='float:right'
          onclick="document.getElementById('file').click()">上传文件</button>
        <div style='clear:both'></div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="6" nzRequired nzFor="detail">详情信息</nz-form-label>
      <nz-form-control nzSpan="16">
        <app-tiny-editor [elementId]="'my-editor'" (onEditorContentChange)="keyupHandler($event)"
          [initialContent]="modalForm.value.detail"></app-tiny-editor>
        <nz-form-explain *ngIf="modalForm.get('detail').dirty && modalForm.get('detail').errors">问题标题不能为空!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="6" nzRequired nzFor="status">状态</nz-form-label>
      <nz-form-control nzSpan="16">
        <nz-radio-group formControlName="status">
          <label nz-radio nzValue="1">启用</label>
          <label nz-radio nzValue="0">禁用</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="6" nzRequired nzFor="sort">排序</nz-form-label>
      <nz-form-control nzSpan="16">
        <nz-input-number formControlName="sort" [nzMin]="0" [nzMax]="99" [nzStep]="1"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSm]="18">
        <button nz-button (click)="modalCancel();resetForm($event)">取消</button>
        <button class="m-l-20" nz-button (click)="submitted($event)" nzType="primary"
          [disabled]="!modalForm.valid">确定</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal> -->


