<div class="content">
  <div class="message">
    <img src="assets/images/403.png" alt="403" />
    <div class="message-text">
      <h3>抱歉，无法通行</h3>
      <p>你没有访问此内容的权限，<a href="javascript:;" (click)="back()">返回上页</a></p>
    </div>
  </div>
  <div class="tips">

    <p *ngIf="loaded && apps.length === 0">暂无平台可供选择，请先进行授权</p>
    <div class="platforms" *ngIf="loaded && apps.length > 0">
      <p>继续访问</p>
      <a *ngFor="let app of apps" color="primary" nzSize="large" [href]="app.appAddress">
        {{app.appName}}
      </a>
    </div>
  </div>
</div>