<p>
  index works!
</p>
<button nz-button nzType="primary" [routerLink]="'/form'">Primary</button>
<nz-upload [nzAction]="'/upload'" (nzChange)='change($event)' [nzShowUploadList]='false'>
  <button nz-button nzType="primary">获取URl</button>
</nz-upload>
<nz-upload [nzAction]="'/api/peak-flow/v1/flow/deploy/'+'21c7c23c-5ff2-49d0-b7a8-74ff3120e9e8'" [nzData]="{id:'21c7c23c-5ff2-49d0-b7a8-74ff3120e9e8',updater:'admin'}" (nzChange)='change($event)' [nzShowUploadList]='false'>
  <button nz-button nzType="primary">更新文件(带参数)</button>
</nz-upload>
<nz-upload [nzAction]="'/api/peak-flow/v1/flow/deploy'" [nzData]="{id:'dab3a7c3-c597-49d1-be4e-58c576a27ca4',number:'21',creater:'admin'}" (nzChange)='change($event)' [nzShowUploadList]='false'>
  <button nz-button nzType="primary">上传文件(带参数)</button>
</nz-upload>