<div class="container">
    <app-breadcrumbs [breadcrumbs]="['合伙人管理','等级管理']"></app-breadcrumbs>
    <nz-card class="shadow" [nzTitle]="cardTitle" [nzExtra]="cardExtra">
        <nz-table [nzSize]="'small'" [nzData]="[1]" nzShowPagination=false>
            <thead>
                <tr>
                    <th style="width: 10%;">序号</th>
                    <th style="width: 20%;">等级名称</th>
                    <th style="width: 10%;">等级返利奖金比例</th>
                    <th style="width: 10%;">下一级序号</th>
                    <th style="width: 20%;">贡献值要求</th>
                    <th style="width: 10%;">默认等级</th>
                    <th style="width: 20%;">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of rows;let index=index">
                    <td>
                        {{index+1}}
                    </td>
                    <td>
                        <input *ngIf="item.id == checkId" nz-input type="text" [(ngModel)]="item.levelName">
                        <span *ngIf="item.id != checkId">{{item.levelName}}</span>
                    </td>
                    <td>
                        <input *ngIf="item.id == checkId" nz-input type="text" [(ngModel)]="item.rebate">
                        <span *ngIf="item.id != checkId">{{item.rebate}}%</span>
                    </td>
                    <td>
                        <input *ngIf="item.id == checkId" nz-input type="number" [(ngModel)]="item.nextLevelId">
                        <span *ngIf="item.id != checkId">{{item.nextLevelId}}</span>
                    </td>
                    <td>
                        <input *ngIf="item.id == checkId" type="text" nz-input [(ngModel)]="item.updateCondition">
                        <span *ngIf="item.id != checkId">{{item.updateCondition}}</span>
                    </td>
                    <td>
                        <span *ngIf="item.isDefault=='1'">是</span>
                        <span *ngIf="item.isDefault!='1'">否</span>
                    </td>
                    <td>
                        <div *ngIf="item.id != checkId && item.id!='1'">
                            <button class="a-btn" (click)="edit(item.id)">编辑</button>
                            <button class="a-btn ml10" style="color: red" (click)="delete(index)">删除</button>
                        </div>
                        <div *ngIf="item.id != checkId&&item.id=='1'">
                            <button class="a-btn" (click)="edit(item.id)">编辑</button>
                        </div>
                        <div *ngIf="item.id == checkId">
                            <button class="a-btn" (click)="save()">保存</button>
                            <!-- <button (click)="checkId=null">取消</button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>
    <ng-template #cardTitle>
        <div class="cardTitle">等级列表</div>
    </ng-template>
    <ng-template #cardExtra>
        <div class="cardExtra">
            <button nz-button nzType="primary" (click)="update()">更新等级设置</button>
            <button nz-button nzType="primary" (click)="add()">新增等级</button>
        </div>
    </ng-template>
</div>