<app-header title="{{title}}" backIcon=1 backTxt="返回" hasBack="false"></app-header>
<div class="has_win">
  <div class="name" *ngIf="etpName">{{etpName}}</div>
  <div class="name" *ngIf="controllerName">{{controllerName}}</div>
  <!-- <scalable-img [img]="imgList[0]" *ngIf="imgList.length==1"></scalable-img> -->
  <div class="imgBox">
    <div class="swiper-container" [swiper]='config' *ngIf="imgList.length>0">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of imgList">
          <div class="swiper-zoom-container">
              <img src="{{item}}" alt="">
          </div>
          
        </div>
      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination" *ngIf="imgList.length>1"></div>
      <!-- 如果需要导航按钮 -->
      <!-- <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div> -->
    </div>
  </div>
  
</div>