<app-breadcrumbs [breadcrumbs]="['首页统计']"></app-breadcrumbs>
<nz-card class="card">
    <div class="user-span" *ngIf="userInfo">
        <div>
            <nz-avatar class="avatar" nzSize="large" nzIcon="user"></nz-avatar>
            <span class="account">{{userInfo.account}}</span>
        </div>
        <div class="user-span-right">
            <div class="info">
                <label>欢迎您，</label>
                <h3>{{userInfo.jobName+ ' ' + userInfo.name}}</h3>
                <span class="phone-number">{{ userInfo.mobile}}</span>
            </div>
            <p>组织： {{userInfo.departmentName}}</p>
            <p class="role">
                角色：
                <span class="role-value">{{resolveRoleName(userInfo.roleNames)}}</span>
            </p>
        </div>
    </div>
</nz-card>
<div class="white_bg">
    <ul class='list'>
        <li>
            <div class="shadow">
                <p>{{maker.todayNewUser}}</p>
                <span>今日新增创客数</span>
            </div>
        </li>
        <li>
            <div class="shadow">
                <p>{{maker.currentUserCount}}</p>
                <span>当前创客总数</span>
            </div>
        </li>
        <li>
            <div class="shadow">
                <p>{{partner.currentPartnerCount}}</p>
                <span>当前合伙人总数</span>
            </div>
        </li>
        <li>
            <div class="shadow">
                <p>{{user.todayNewUser}}</p>
                <span>今日新增客户总数</span>
            </div>
        </li>
        <li>
            <div class="shadow">
                <p>{{user.currentUserCount}}</p>
                <span>当前客户总数</span>
            </div>
        </li>
        <li>
            <div class="shadow">
                <p>{{order.currentOrderCount}}</p>
                <span>累计客户订单数</span>
            </div>
        </li>
    </ul>
</div>