<app-card class="authHide" [appResource]="{authName:'get/dictionarys/grid'}">
  <div class="col-sm-12 select-box">
    <div class="row m-b-10">
      <div class="col-6 col-md-3 input-box">
        <span>字典名称：</span>
        <input type="text" maxlength="20" placeholder="请输入字典名称" [(ngModel)]="items.name">
      </div>
      <div class="col-6 col-md-3 input-box">
        <span>字典编码：</span>
        <input type="text" maxlength="50" placeholder="请输入字典编码" [(ngModel)]="items.code">
      </div>
      <div class="col-6 col-md-3 input-box">
        <span>状态：</span>
        <select [(ngModel)]="items.status">
          <option value="">所有状态</option>
          <option value="0">禁用</option>
          <option value="1">启用</option>
        </select>
      </div>
      <div class="col-6 col-md-3 input-box float-right search-btn">
        <span>&nbsp;</span>
        <button class="btn btn-primary ripple light" (click)="search(1,'search')"><i class="icofont icofont-search-alt-2"></i>查询</button>
        <button class="btn btn-primary btn-outline-primary ripple light" (click)="reset()"><i class="icofont icofont-close"></i>重置</button>
      </div>
    </div>
    <!-- <div class="row m-b-10 search-btn">
      <div class="col-6 col-md-3">
        <button class="btn btn-primary ripple light"><i class="icofont icofont-search-alt-2"></i>查询</button>
        <button class="btn btn-primary btn-outline-primary ripple light"><i class="icofont icofont-close"></i>重置</button>
      </div>
    </div> -->
  </div>
</app-card>
<app-card [title]="'字典列表'">
  <div class="header-right authHide" [appResource]="{authName:'post/dictionary'}">
    <button class="btn btn-primary ripple light" (click)="modalDefault.show();changeTitle('添加字典','add','');"><i class="icofont icofont-ui-add"></i>添加字典</button>
  </div>
  <ngx-datatable
    class="data-table dt-chk"
    [rows]="rows"
    [columnMode]="'force'"
    [scrollbarH]="true"
    [headerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10">
    <!-- <ngx-datatable-column [sortable]="false" name="id" prop="id" [width]="360"></ngx-datatable-column> -->
    <ngx-datatable-column [sortable]="false" name="字典名称" prop="name"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="字典编码" prop="code"></ngx-datatable-column>
    <!-- <ngx-datatable-column [sortable]="false" name="描述" prop="remark"></ngx-datatable-column> -->
    <ngx-datatable-column [sortable]="false" name="更新时间" prop="updateDate"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="状态" prop="status" [width]="120">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <div class="switch authHide" [appResource]="{authName:'patch/dictionary/status'}">
          <ui-switch class="js-single" color="#ecedf2" switchColor="#716aca" switchOffColor="#e0e2e9" size="medium" (click)="switchange(row)" [checked]="value=='1'"></ui-switch>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="操作" prop="" [width]="160">
      <ng-template ngx-datatable-cell-template let-row="row" >
        <button class="btn authHide" [appResource]="{authName:'get/dictionaryItems'}" [routerLink]="['item']" [queryParams]="{code: row.code,id: row.id}" (click)="itemDetail(row)"><i class="icon iconfont icon-edit"></i>字典项</button>
        <button class="btn authHide" [appResource]="{authName:'put/dictionary'}" (click)="modalDefault.show();changeTitle('编辑字典','edit',row);modify(row)"><i class="icon iconfont icon-edit"></i>编辑</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <app-page-nav (getCurrentPage)="changePage($event)" [totalPage]='totalPage' [pageNum]='pageNum' [total]='total'></app-page-nav>
</app-card>

<app-modal-basic [hideFooter]="'false'" #modalDefault>
  <div class="app-modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close basic-close" (click)="modalDefault.hide();addForm.reset()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="addForm" accept-charset ='UTF-8' (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">字典名称</label>
        <div class="col-sm-9">
          <input type="text" [(ngModel)]="modalItems.name" class="form-control" id="name" required maxlength="50" placeholder="请输入字典名称" formControlName="name">
          <div class="messages text-danger" *ngIf="(!addForm.controls.name.valid)&&(addForm.controls.name.dirty || addForm.controls.name.touched)">字典名称不能为空</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">字典编码</label>
        <div class="col-sm-9">
          <input type="text" [(ngModel)]="modalItems.code" class="form-control" id="code" required maxlength="50" placeholder="请输入字典编码" formControlName="code">
          <div class="messages text-danger" *ngIf="(!addForm.controls.code.valid)&&(addForm.controls.code.dirty || addForm.controls.code.touched)">字典编码不能为空</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">字典描述</label>
        <div class="col-sm-9">
          <textarea cols="30" rows="5" class="form-control" [(ngModel)]="modalItems.remark" id="remark" placeholder="请输入字典描述" maxlength="200" formControlName="remark"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">状态</label>
        <div class="col-sm-9">
          <div class="form-radio">
            <div class="radio radiofill radio-primary radio-inline">
              <label>
                <input type="radio" value="1" required formControlName="status" [(ngModel)]="addNewStatus" [checked]="addNewStatus === 1"><i class="helper"></i>启用
              </label>
            </div>
            <div class="radio radiofill radio-primary radio-inline">
              <label>
                <input class="form-check-input" type="radio" value="0" required formControlName="status" [(ngModel)]="addNewStatus" [checked]="addNewStatus === 0"><i class="helper"></i>禁用
              </label>
            </div>
          </div>
          <div class="messages text-danger" *ngIf="(!addForm.controls.status.valid)&&(addForm.controls.status.dirty || addForm.controls.status.touched)">应用状态不能为空</div>
        </div>
      </div>
      <div class="form-group form-group-btn row">
        <button type="button" class="btn btn-primary btn-outline-primary ripple light" (click)="modalDefault.hide();addForm.reset()">取消</button>
        <button type="submit" class="btn btn-primary ripple light" (click)="modalDefault.hide()" [disabled]="!addForm.valid">确定</button>
      </div>
    </form>
  </div>
</app-modal-basic>
<ng2-toasty [position]="toast.position"></ng2-toasty>
