<app-header title="预约签约时间" backIcon=1 backTxt="返回" hasBack="true"></app-header>
<div class="has_win">
    <div class="box">
        <p-calendar class="calendar" [inputStyle]="'width:100%;'" [(ngModel)]="value" [inline]="true" dateFormat="'mm/dd/yy'" [locale]="en"></p-calendar>
        <div class="cur_item">
            <div class="left">请选择时间段</div>
            <div class="right radio-group">
                <label style="margin-right: 2rem;"><input type="radio" name="haha" [(ngModel)]='time' value="08:00:00">上午AM</label>
                <label><input type="radio" name="haha" [(ngModel)]='time' value="14:00:00">下午PM</label>
            </div>
        </div>
        <div class="btn_row">
            <button class='btnBox' (click)='reselect()'>重置选择</button>
            <button class='filling' (click)='sure()'>提交预约</button>
        </div>
    </div>
</div>