.calendar{width: 100%;}
.box {
  margin-top: 1rem;
}
.btn_row{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.btn_row button{
  width: 50%;
  border-radius: 0;
  display: block;
  float: left;
  height: 3rem;
  line-height: 3rem;
}
.cur_item{font-size: 1rem;}

