.null {
  height: 3.7rem;
}
.nav {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 0.7rem;
  background-color: #fff;
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  z-index: 9;
}
.nav li {
  display: inline-block;
  width: 45%;
  font-size: 1rem;
  position: relative;
}
.nav li.active::after{
  content: '';
  position: absolute;
  width: 2rem;
  height: 2px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 2px;
  background-color: #dbb272;
}
.nav li.active {
  color: #dbb272;
}

.pro_name{
  display: inline-block;
  border-radius: 0.3rem;
  margin-left: 0.6rem;
  color: #4e7fee;
  border: 1px solid #4e7fee;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 0 0.3rem;
}
.order_btn{
  background-color: #dbb272;
  color: #fff;
  border-color: #dbb272!important;
}
button.btnBox.disabled{
  color: #c2c2c2;
  border-color: #c2c2c2!important;
}
button.btnBox {
  border: 1px solid #dbb272;
  color: #dbb272;
  font-size: 0.8rem;
  line-height: 1.8rem;
  border-radius: 1rem;
  background-color: transparent;
  box-sizing: border-box;
}

.orderList .item {
  background-color: #fff;
  margin-bottom: 0.7rem;
  padding: 0.7rem 1rem;
  min-height: 7rem;
}
.orderList .item .left {
  float: left;
}
.orderList .item .right {
  float: right;
}
.orderList .item .line {
  height: 1.7rem;
  line-height: 1.7rem;
}
.orderList .item .line .left {
  font-size: 1rem;
  color: #333;
}
.orderList .item .line .right {
  font-size: 1rem;
  color: #e64340;
}
.orderList .item .orderCon {
  min-height: 5rem;
  overflow: hidden;
}
.orderList .item .orderCon .left {
  display: flex;
  flex-direction: column;
}
.orderList .item .orderCon .left span {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.7rem;
}
.orderList .item .orderCon .right {
  margin-top: 1.6rem;
}
.orderList .item .orderCon .right .btnBox {
  height: 1.9rem;
  background: none;
  line-height: 1.8rem;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0 0.8rem;
  border-radius: 50px;
}

/* .repayPlanList .item .line .right {
  font-size: 1rem;
  color: #dbb272;
}
.repayPlanList .item .orderCon .right view {
  font-size: 1rem;
  color: #dbb272;
  margin-top: 1.7rem;
  line-height: 1.7rem;
  display: block;
} */
