<div class="has_win">
  <app-header title="我的贷款" backIcon=1 backTxt="返回" hasBack="false"></app-header>
  <ul class="nav">
    <li id=0 [ngClass]="{'active': currentTab==0}" (click)="swichNav($event)">申请记录</li>
    <li id=1 [ngClass]="{'active': currentTab==1}" (click)="swichNav($event)">还款计划</li>
  </ul>
  <div class="null"></div>
  <div class="swiperBox">
    <div class="orderList" *ngIf="currentTab==0">
      <div class="item" *ngFor="let item of list1">
        <div class="line">
          <span class="left text">订单号：{{item.no}}
            <span class="pro_name text">{{item.productName}}</span>
          </span>
        </div>
        <div class="orderCon">
          <div class="left">
            <span class="text">申请企业：{{item.etpName}}</span>
            <span class="text">申请金额：{{item.amount}}万元</span>
            <span class="text">申请期限：{{item.term}}个月</span>
            <span class="text">提交时间：{{item.createDate}}</span>
          </div>
        </div>
        <div class="" style='overflow:hidden;margin-top:0.7rem;'>
          <div style='float:right;margin-left:0.7rem;'>
            <button style='width:100%;padding:0 0.7rem;' class='btnBox' [routerLink]="['/order-detail']" [queryParams]="{'orderId': item.id}">查看详情</button>
          </div>
          <div style='float:right;' *ngIf="item.status=='0'">
            <button style='width:100%;padding:0 0.7rem;' class='order_btn btnBox disabled'>处理中</button>
          </div>
          <div style='float:right;' *ngIf="item.status=='1'">
            <button style='width:100%;padding:0 0.7rem;' class='order_btn btnBox disabled'>已终止</button>
          </div>
          <div style='float:right;' *ngIf="item.status=='2'">
            <button style='width:100%;padding:0 0.7rem;' class='order_btn btnBox disabled'>已完成</button>
          </div>
        </div>
      </div>
    </div>
    <div class="orderList repayPlanList"  *ngIf="currentTab==1">
      <div class="item" *ngFor="let item of list2">
        <div class='line'>
          <span class='left'>订单号：{{item.no}}
            <span class='pro_name'>{{item.productName}}</span>
          </span>
        </div>
        <div class='orderCon'>
          <div class='left'>
            <span>申请企业：{{item.etpName}}</span>
            <span>申请贷款金额：{{item.loanAmount}}万元</span>
            <span>预期贷款期限：{{item.loanTerm}}个月</span>
            <span>应还利息：{{item.repayInterestTotal+'元'}}</span>
            <span>应还金额：{{item.repayAccountTotal+'元'}}</span>
          </div>
        </div>
        <div style='overflow:hidden;margin-top:0.7rem;'>
          <div style='float:right;margin-left:0.7rem;'>
            <button style='width:100%;padding:0 0.7rem;' [routerLink]="['/repay-info']" [queryParams]="{'item': item}" class='btnBox'>还款计划</button>
          </div>
          <div style='float:right;'>
            <button style='width:100%;padding:0 0.7rem;' class='order_btn btnBox' [routerLink]="['/order-detail']" [queryParams]="{'id': item.id}">查看订单</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>