<app-breadcrumbs [breadcrumbs]="['业务资源管理','机构人员管理']"></app-breadcrumbs>
<nz-card class="card search-card" [appResource]="{authName:'get/staffs'}">
  <div nz-row>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>人员姓名</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="20" placeholder="请输入人员姓名" [(ngModel)]="searchItems.name">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>手机号码</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="20" placeholder="请输入手机号码" [(ngModel)]="searchItems.mobile">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>状态</nz-form-label>
        <nz-form-control>
          <nz-select class="search-select" [(ngModel)]="searchItems.status" nzAllowClear nzPlaceHolder="请选择状态">
            <nz-option nzValue="" nzLabel="所有状态"></nz-option>
            <nz-option nzValue="1" nzLabel="启用"></nz-option>
            <nz-option nzValue="0" nzLabel="禁用"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>&nbsp;</nz-form-label>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="search(1)"><i nz-icon nzType="search" nzTheme="outline"></i>查询</button>
          <button nz-button nzType="default" (click)="reset()"><i nz-icon nzType="close" nzTheme="outline"></i>重置</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'人员列表'" [nzExtra]="extraTemplate">
  <nz-table #basicTable class="data-table" [nzData]="rows" [nzSize]="'small'" [nzShowPagination]="false"
    [nzLoadingDelay]="loadingDelay" [nzLoading]="loading" [nzBordered]="true">
    <thead>
      <tr>
        <th>人员编号</th>
        <th>姓名</th>
        <th>手机号码</th>
        <th>所属机构</th>
        <th>更新时间</th>
        <th [appResource]="{authName:'patch/staffs'}">状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.number}}</td>
        <td>{{data.name}}</td>
        <td>{{data.mobile}}</td>
        <td>{{data.institutionName}}</td>
        <td class="td-center">{{data.updateDate}}</td>
        <td class="td-center" [appResource]="{authName:'patch/staffs'}">
          <nz-switch [ngModel]="data.status==1" (ngModelChange)="switchange(data)" ></nz-switch>
        </td>
        <td class="td-center">
          <button nz-button nzType="default" class="table-btn" (click)="modalShow('推广码','erwm',data);createModal(tplTitle,ewmContent)">
          <i nz-icon nzType="qrcode" nzTheme="outline"></i>推广码</button>
          <button [appResource]="{authName:'put/staffs'}" nz-button nzType="default" class="table-btn" (click)="getInstitutions('status');modalShow('编辑人员','edit',data);createModal(tplTitle,formContent)">
            <i nz-icon nzType="edit" nzTheme="outline"></i>编辑</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-page-nav [total]="page.total" [totalPage]="page.totalPage" [pageNum]="page.pageNum" [pageSize]="page.pageSize"
    (getCurrentPage)="changePage($event)">
  </app-page-nav>
</nz-card>
<ng-template #extraTemplate>
  <button [appResource]="{authName:'post/staffs'}" nz-button nzType="primary" class="tableBtn" (click)="getInstitutions('');modalShow('添加人员','add');createModal(tplTitle,formContent)">
    <i nz-icon nzType="plus" nzTheme="outline"></i>添加人员</button>
</ng-template>

<ng-template #tplTitle>
  <span>{{modalTitle}}</span>
</ng-template>
<ng-template #formContent>
  <form nz-form [formGroup]="addForm" class="modalForm">
    <nz-form-item *ngIf="modalStatus=='edit'">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="number">人员编号</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="number" type="text" placeholder="请输入人员编号"
          readonly>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">人员姓名</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="name" type="text" maxlength="4" placeholder="请输入人员姓名">
        <nz-form-explain *ngIf="addForm.get('name').dirty && addForm.get('name').errors">人员姓名不能为空，最大4个字符!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="mobile">手机号码</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="mobile" type="text" placeholder="请输入手机号码">
        <nz-form-explain *ngIf="addForm.get('mobile').dirty && addForm.get('mobile').errors || addForm.get('mobile').pending ">
          <ng-container *ngIf="addForm.get('mobile').hasError('required')">
            手机号码不能为空!
          </ng-container>
          <ng-container *ngIf="addForm.get('mobile').hasError('duplicated')">
            请输入正确的手机号码!
          </ng-container>
          <ng-container *ngIf="addForm.get('mobile').pending">
            校验中...
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="institutionId">所属机构</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-select formControlName="institutionId">
          <nz-option nzValue="" nzLabel="无机构"></nz-option>
          <nz-option nzValue="{{item.id}}" nzLabel="{{item.name}}" *ngFor="let item of institutions"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">状态</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-radio-group formControlName="status">
          <label nz-radio [nzValue]="1">启用</label>
          <label nz-radio [nzValue]="0">禁用</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSm]="18">
        <button nz-button (click)="modalCancel()">取消</button>
        <button nz-button (click)="submited($event)" nzType="primary" [disabled]="!addForm.valid">确定</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
<ng-template #ewmContent>
  <div nz-row>
    <div nz-col [nzSpan]="12">人员姓名：{{erwmItems.name}}</div>
    <div nz-col [nzSpan]="12">所属机构：{{erwmItems.institutionName}}</div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="12">人员电话：{{erwmItems.mobile}}</div>
    <div nz-col [nzSpan]="12">人员编号：{{erwmItems.number}}</div>
  </div>
  <div class="ewm-pic">
    <img src="{{erwmItems.url}}" alt="">
  </div>
  <div nz-row style="text-align: center;">
    <a nz-col nz-button nzType="primary" href="{{erwmItems.downloadUrl}}"><i nz-icon nzType="download" nzTheme="outline"></i>下载二维码</a>
   </div>
</ng-template>