/* You can add global styles to this file, and also import other style files */

body {
  margin: auto;
  padding: 0;
}

/* 查询条件 */
.select-box .input-box label {
  display: block;
  width: 100%;
  line-height: 28px;
}
.select-box .input-box select,
.select-box .input-box input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #ebedf2;
  color: #575962;
  background: #fff;
  background-clip: padding-box;
  height: 32px;
}
.select-box .input-box input::-webkit-input-placeholder {
  color: #bbb;
}
.select-box .search-btn {
  min-width: 220px;
}
.select-box .search-btn .btn {
  text-align: center;
}
select.form-control, 
select.form-control:focus, 
select.form-control:hover {
  border: 1px solid #ccc;
}
.text-center {
  text-align: center;
}
