<ul class="form">
    <li>
        名字：<input type="text" [(ngModel)]="find.name">
    </li>
    <li>
        状态：<select [(ngModel)]="find.status">
            <option value="">全部</option>
            <option value="0">禁用</option>
            <option value="1">启用</option>
        </select>
    </li>
    <li class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../../../assets/image/banner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/image/banner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/image/banner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/image/banner.png" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </li>
    <li class="code">
        <app-code #appCode (click)="changeAbc()"></app-code>
    </li>
    <li>
        电话：<input type="text" [(ngModel)]="find.tel">
    </li>
    <li>
        <button (click)="getTable()">查询</button>
        <button (click)="reset()">重置</button>
        <button (click)="showAlert('add','')">添加</button>
    </li>
</ul>

<table width="100%" border="1">
    <thead>
        <tr>
            <th>名字</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>电话</th>
            <th>内容</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of table">
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.status}}
            </td>
            <td>
                {{item.creatDate}}
            </td>
            <td>
                {{item.upDateTime}}
            </td>
            <td>
                {{item.tel}}
            </td>
            <td>
                {{item.value}}
            </td>
            <td>
                <button (click)="showAlert('change',item)">修改</button>
                <button (click)="remove(item.id)">删除</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="alert" class="mengban">
    <ul class="alert">
        <button (click)="close()">关闭</button>
        <li>
            <div class="left">
                名字:
            </div>
            <div class="right">
                <input type="text" [(ngModel)]="form.name">
            </div>
        </li>
        <li>
            <div class="left">
                状态
            </div>
            <div class="right">
                <label>
                    <input type="radio" [value]="0" [(ngModel)]="form.status">0
                </label>
                <label>
                    <input type="radio" [value]="1" [(ngModel)]="form.status">1
                </label>
                <label>
                    <input type="radio" [value]="2" [(ngModel)]="form.status">2
                </label>
            </div>
        </li>
        <li>
            <div class="left">
                电话
            </div>
            <div class="right">
                <input type="number" [(ngModel)]="form.tel">
            </div>
        </li>
        <li>
            <div class="left">
                值
            </div>
            <div class="right">
                <input type="text" [(ngModel)]="form.value">
            </div>
        </li>
        <li>
            <div class="left">

            </div>
            <div class="right">
                <button class="submit" (click)="addTable()">添加</button>
                <button class="submit" (click)="changeTable()">修改</button>
            </div>
        </li>
    </ul>
</div>