<div class="has_win">
  <app-header title="帮助中心" backIcon=1 backTxt="返回" hasBack="false" ></app-header>
  <div style='padding-bottom:4rem;'>
    <div class="cur_item" [queryParams]="{'title': item.title,'text': item.text}" *ngFor="let item of lists" [routerLink]='["/help-detail",item.id]'>
      <span class="left text">{{item.title}}</span>
      <div class="right">
        <span class="text"></span>
        <img src="../../../assets/images/arr_toR_03.png" alt="">
      </div>
    </div>
  </div>
  <a [href]="'tel:'+tel" class='tel'><img src="../../../assets/images/tel.png" alt="">{{tel}}</a>
</div>
