<div class="container">
    <app-breadcrumbs [breadcrumbs]="['财务管理','资金划付']"></app-breadcrumbs>
    <nz-card class="shadow">
        <div class="gutter-example">
            <div nz-row nzGutter="16">
                <div nz-col class="gutter-row" nzSpan="6">
                    <span>申请编号：</span>
                    <div class="gutter-box">
                        <input nz-input placeholder="请输入编号" [(ngModel)]="findNo">
                    </div>
                </div>
                <div nz-col class="gutter-row" nzSpan="12">
                    <span>任务创建时间:</span>
                    <div class="gutter-box">
                        <nz-date-picker [nzStyle]="{width:'100%'}" [nzDisabledDate]="disabledStartTime" class="mr10"
                            [(ngModel)]="startTime" nzPlaceHolder="开始时间" (ngModelChange)="onStartTimeChange($event)">
                        </nz-date-picker>
                        <span style="width:16px;text-align:center">~</span>
                        <nz-date-picker [nzStyle]="{width:'100%'}" [nzDisabledDate]="disabledEndTime"
                            [(ngModel)]="endTime" nzPlaceHolder="结束时间" (ngModelChange)="onEndTimeChange($event)">
                        </nz-date-picker>
                    </div>
                </div>
                <ng-container *ngIf="open">
                    <div nz-col class="gutter-row" nzSpan="6">
                        <span>手机账号：</span>
                        <div class="gutter-box">
                            <input nz-input placeholder="请输入手机号码" [(ngModel)]="findPhone">
                        </div>
                    </div>
                </ng-container>
                <div nz-col class="gutter-row" nzSpan="6">
                    <span>&nbsp;</span>
                    <div class="gutter-box">
                        <button class="mr10" nz-button nzType="primary" (click)="search()">查询</button>
                        <button class="mr10" nz-button nzType="default" (click)="reset()">重置</button>
                        <button *ngIf="!open" class="mr10" nz-button nzType="default" (click)="open=!open">
                            <i nz-icon nzType="down" nzTheme="outline"></i>展开
                        </button>
                        <button *ngIf="open" class="mr10" nz-button nzType="default" (click)="open=!open">
                            <i nz-icon nzType="up" nzTheme="outline"></i>收起
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nz-card>
    <nz-card class="shadow mt20" [nzTitle]="cardTitle" [nzExtra]="cardExtra">
        <nz-table #rowSelectionTable [nzSize]="'small'" [nzData]="data" nzShowPagination=false>
            <thead>
                <tr>
                    <th>申请编号</th>
                    <th class="text_to_right">手机账号</th>
                    <th class="text_to_right">提现金额(元)</th>
                    <th class="text_to_right">收款银行</th>
                    <th class="text_to_right">银行卡号</th>
                    <th>状态</th>
                    <th>任务创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of rowSelectionTable.data">
                    <td>{{data.applyNo}}</td>
                    <td class="text_to_right">{{data.mobile}}</td>
                    <td class="text_to_right">{{data.amount.toFixed(2)}}</td>
                    <td class="text_to_right">{{data.bank}}</td>
                    <td class="text_to_right">{{data.card}}</td>
                    <td>
                        <span *ngIf="data.state===1">待划付</span>
                        <span *ngIf="data.state===3">划付成功</span>
                        <span *ngIf="data.state===4">划付失败</span>
                    </td>
                    <td>{{data.auditTime || '--'}}</td>
                    <td>
                        <span *ngIf="data.state===1" (click)="showEnterPayModel(data)"
                            style="cursor:pointer;padding:2px;">录入划付结果
                        </span>
                        <span *ngIf="data.state!==1" (click)="showDetailPayModel(data)"
                            style="cursor:pointer;padding:2px;">划付详情</span>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <div class="pagination" *ngIf="total!==0">
            <nz-pagination [nzPageIndex]='pageNum' [nzTotal]="total" (nzPageIndexChange)="pageSearch($event)"
                nzShowQuickJumper></nz-pagination>
        </div>
    </nz-card>
    <ng-template #cardTitle>
        <div class="cardTitle">
            <span class="mr10">资金划付列表</span>
            <nz-radio-group [(ngModel)]="groupStatus" (ngModelChange)="getData()">
                <label nz-radio-button nzSize="small" *ngFor="let item of groupText"
                    [nzValue]="item.value">{{ item.label }}</label>
            </nz-radio-group>
        </div>
    </ng-template>
    <ng-template #cardExtra>
        <div class="cardExtra">
            <button class="nz-button" nz-button nzType="ghost" (click)="download()">
                导出全部待划付申请
                <!-- <a href="http://192.168.111.35:7660/kalanchoe-manager/v1/back/app/cash/pay/export"  download="文件名.ex">导出全部待划付申请</a> -->
            </button>
        </div>
    </ng-template>

    <!-- 划付结果录入模态框begin -->
    <nz-modal [(nzVisible)]="enterPayModel" nzWidth="800px" nzTitle="划付结果录入" (nzOnCancel)="handleCancelEnter()"
        (nzOnOk)="handleOkEnter()">
        <div class="form-group row" nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">申请编号:</span><span>{{ enterPayForm.applyNo }}</span>
            </div>
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">提取金额:</span><span>{{ enterPayForm.amount }} 元</span>
            </div>
        </div>
        <div class="form-group row mt20" nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">收款银行:</span><span>{{ enterPayForm.bank }}</span>
            </div>
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">收款账号:</span><span>{{ enterPayForm.card }}</span>
            </div>
        </div>
        <div class="form-group row mt20" nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">付款时间</span>
                <nz-date-picker [(ngModel)]="enterPayForm.setPaymentTime" nzShowTime></nz-date-picker>
            </div>
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">银行流水号</span>
                <input nz-input placeholder="输入流水号或回单号" [(ngModel)]="enterPayForm.bankSerialNo" style="width:200px" />
            </div>
        </div>
        <div class="form-group row mt20" nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">划付结果</span>
                <nz-radio-group [(ngModel)]="enterPayForm.payResult">
                    <label nz-radio nzValue="3">成功</label>
                    <label nz-radio nzValue="4">失败</label>
                </nz-radio-group>
            </div>
        </div>
        <div class="form-group row mt20" nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="4">
                <span class="col-label-span">失败原因</span>
            </div>
            <div nz-col class="gutter-row" nzSpan="18">
                <textarea rows="4" nz-input [(ngModel)]="enterPayForm.payReason" placeholder="请输入备注"></textarea>
            </div>
        </div>
    </nz-modal>
    <!-- 划付结果录入模态框end -->

    <!-- 划付详情模态框begin -->
    <nz-modal [(nzVisible)]="delailPayModel" nzWidth="800px" nzTitle="划付详情" [nzFooter]="modalFooter"
        (nzOnCancel)="handleCancelDetail()">
        <div class="form-group row" nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">申请编号:</span><span>{{detailPayForm.applyNo}}</span>
            </div>
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">提取金额:</span><span>{{detailPayForm.amount }}元</span>
            </div>
        </div>
        <div class="form-group row mt20" nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">收款银行:</span><span>{{detailPayForm.bank}}</span>
            </div>
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">收款账号:</span><span>{{detailPayForm.card}}</span>
            </div>
        </div>
        <div class="form-group row mt20" nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">创建时间:</span><span>{{detailPayForm.createTime}}</span>
            </div>
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">付款时间:</span><span>{{detailPayForm.payTime}}</span>
            </div>
        </div>
        <div class="form-group row mt20" nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">划付状态:</span>
                <span *ngIf="detailPayForm.state==3">划付成功</span>
                <span *ngIf="detailPayForm.state==4">划付失败</span>
            </div>
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">流水号:</span><span>{{detailPayForm.bankSerialNum}}</span>
            </div>
        </div>
        <div class="form-group row mt20" nz-row nzGutter="10">
            <div nz-col class="gutter-row" nzSpan="4">
                <span class="col-label-span">失败原因:</span>
            </div>
            <div nz-col nzSpan="18" class="reason-text">
                {{detailPayForm.remark}}
            </div>
        </div>
        <div class="form-group row mt20" nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="12">
                <span class="col-label-span">结果录入时间:</span>
                <span>{{detailPayForm.updateTime}}</span>
            </div>
        </div>
        <ng-template #modalFooter>
            <button nz-button nzType="primary" (click)="handleCancelDetail()">关闭</button>
        </ng-template>
    </nz-modal>
    <!-- 划付详情模态框end -->
</div>