<div class="cur_item" [formGroup]="group" (click)="show=true;">
  <div class="left">{{config.controlName}}</div>
  <img src="../../../../assets/images/arr_toR_03.png" alt="" >
  <div class="right" *ngIf="!config.value"><input type="text" placeholder="{{config.placeInfo}}" [(ngModel)]="config.value"
      [formControlName]="config.controlKey" readOnly></div>
  <div class="right" *ngIf="config.value">已选择{{config.value.length}}项</div>
</div>
<div class="mask" *ngIf="show"></div>
<div class="box" *ngIf="show">
  <div class="content">
    <h4 class="maskTitle">请选择 {{config.controlName}}</h4>
    <div class="scrollBox">
      <div class="scroll">
        <label class="selectItem" for="{{item.value}}" *ngFor="let item of config.option" (click)="select(item)">
          <input type="checkbox" id="{{item.value}}">
          <span>{{item.value}}</span>
        </label>
      </div>
    </div>
    <div class="btn_row">
      <button class='btnBox' (click)='show=false;'>取消</button>
      <button class='filling' (click)='show=false;selectSure()'>确定</button>
    </div>
  </div>
</div>
