<div class="cur_item" [formGroup]="group">
  <div class="left">{{config.controlName}}</div>
  <div class="right" *ngIf="config.type=='text'"><input type="text" placeholder="{{config.placeInfo}}" [(ngModel)]="config.value"
    [formControlName]="config.controlKey" [readOnly]="config.readOnly" (change)="change()"></div>
  <div class="right" *ngIf="config.type=='integer'"><input type="number" placeholder="{{config.placeInfo}}" [(ngModel)]="config.value"
    [formControlName]="config.controlKey" [readOnly]="config.readOnly" (change)="change()"></div>
  <div class="right" *ngIf="config.type=='number'"><input type="number" placeholder="{{config.placeInfo}}" [(ngModel)]="config.value"
    [formControlName]="config.controlKey" [readOnly]="config.readOnly" (change)="change()"></div>
  <div class="right" *ngIf="config.type=='tel'"><input type="tel" placeholder="{{config.placeInfo}}" [(ngModel)]="config.value" maxlength="11"
    [formControlName]="config.controlKey" [readOnly]="config.readOnly" (change)="change()"></div>
  <div class="right" *ngIf="config.type=='bankCard'"><input type="text" placeholder="{{config.placeInfo}}" [(ngModel)]="config.value"
    [formControlName]="config.controlKey" [readOnly]="config.readOnly" (change)="change()"></div>
  <div class="right" *ngIf="config.type=='internet'"><input type="text" placeholder="{{config.placeInfo}}" [(ngModel)]="config.value"
    [formControlName]="config.controlKey" [readOnly]="config.readOnly" (change)="change()"></div>
    <div class="right" *ngIf="config.type=='email'"><input type="text" placeholder="{{config.placeInfo}}" [(ngModel)]="config.value"
      [formControlName]="config.controlKey" [readOnly]="config.readOnly" (change)="change()"></div>
    <div class="right" *ngIf="config.type=='cardNo'"><input type="number" placeholder="{{config.placeInfo}}" [(ngModel)]="config.value"
      [formControlName]="config.controlKey" [readOnly]="config.readOnly" (change)="change()"></div>
</div>