.has_win {height: calc(100% - 7rem); overflow: hidden;}
.msg_list {height: calc(100% - 4.4rem); overflow-y: auto;}
.null {height: 3.666rem;}
.msg_tabs{overflow: hidden;background-color: #fff;margin-bottom: 0.666666rem;position: fixed;top: 3rem;left: 0;width: 100%;z-index: 9;}
.msg_tabs li{float: left;width: 33.333333%;text-align: center;}
.msg_tabs li>a{height: 3rem;line-height: 3rem;display: inline-block;position: relative;color: #333;}
.msg_tabs li>a .tip{width: .466666rem;height: .466666rem;position: absolute;background-color: #e94f4f;border-radius: 50%;position: absolute;top: 0.5rem;left: 50%; transform: translateX(2em);}
.msg_tabs li.active>a{color: #5D87F3;}
.msg_tabs li.active>a::after{content: '';width:2rem;height: 2px;position: absolute;left: 50%;bottom: 2px;margin-left: -1rem; background-color: #5D87F3;}