<app-breadcrumbs [breadcrumbs]="['工作台']"></app-breadcrumbs>
<nz-card class="card">
  <div class="user-span" *ngIf="userInfo">
    <div>
      <nz-avatar class="avatar" nzSize="large" nzIcon="user"></nz-avatar>
      <span class="account">{{userInfo.account}}</span>
    </div>
    <div class="user-span-right">
      <div class="info">
        <label>欢迎您，</label>
        <h3>{{userInfo.jobName+ ' ' + userInfo.name}}</h3>
        <span class="phone-number">{{ userInfo.mobile}}</span>
      </div>
      <p>组织： {{userInfo.departmentName}}</p>
      <p class="role">角色：<span class="role-value">{{resolveRoleName(userInfo.roleNames)}}</span></p>
    </div>
  </div>
</nz-card>