<div class="has_win">
  <app-header title="还款计划详情" backIcon=1 backTxt="返回" hasBack="false"></app-header>
  <div class='header'>
    订单号：{{data.no}}
    <span class='pro_name'>{{data.productName}}</span>
  </div>
  <div class='body'>
    <div>
      贷款企业：{{data.etpName}}
    </div>
    <div>
      <div class='col_6'>
        贷款金额：{{data.loanAmount+'元'}}
      </div>
      <div class='col_6'>
        贷款期限：{{data.loanTerm+'个月'}}
      </div>
    </div>
    <div>
      <div class='col_6'>
        应还利息：{{data.repayInterestTotal+'元'}}
      </div>
      <div class='col_6'>
        应还总额：{{data.repayAccountTotal+'元'}}
      </div>
    </div>
    <div>
      <div class='col_6'>
        申请日期：{{data.applyDate}}
      </div>
      <div class='col_6'>
        放款日期：{{data.loanDate}}
      </div>
    </div>
  </div>
  <div class='header'>
    还款记录
  </div>
  <div class='list'>
    <div *ngFor="let item of data.repayPlan">
      <div class='times'>
        <div>{{item.repayTime}}
          <div style='float:right;'>[{{item.borrowTimes}}/{{data.repayPlan.length}}]期</div>
        </div>
      </div>
      <div class='order_list'>
        <div class='top'>
          本期应还：{{item.repayAccountAll+'元'}}
        </div>
        <div class='bot'>
          <div>
            应还本金：{{item.repayAccountCapital+'元'}}
          </div>
          <div>
            应还利息：{{item.repayAccountInterest+'元'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>