.header,.body {
  background-color: #fff;
  padding: 0 1rem;
}
.list {
  background-color: #fff;
  padding-bottom: 0.7rem;
}
.header {
  margin-top: 0.7rem; 
  height: 3rem;
  line-height: 3rem;
  border-bottom: 1px solid #f0f0f0;
  font-size: 1rem;
  position: relative;
}
.pro_name{
  display: inline-block;
  font-size: 0.8rem;
  color: #7962de;
  border: 1px solid #7962de;
  border-radius: 0.3rem;
  padding: 0 0.3rem;
  line-height: 1.2rem;
  margin-left: 0.7rem;
}
.body,.list,.order_list {
  font-size: 0.9rem;
  color: #666;
}
.body>div{
  height: 1.6rem;
  line-height: 1.6rem;
  overflow: hidden;
}
.col_6{
  width: 50%;
  float: left;
}
.list>div{
  padding: 0.7rem 0.7rem 0.5rem 3rem;
}
.times{
  font-size: 0.8rem;
  color: #999;
  height: 1rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
.times::before{
  content: "";
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%; 
  background-color: #e2e2e2;
  position: absolute;
  left: -1rem;
  top: 0.1rem;
}
.times::after{
  content: "";
  display: block;
  width: 0.1rem;
  height: 5rem; 
  background-color: #e2e2e2;
  position: absolute;
  left: -0.7rem;
  top: 0.8rem;
}
.order_list .bot{
  color: #999;
  overflow: hidden;
}
.order_list .bot>div{
  float: left;
  width: 10rem;
}