<app-breadcrumbs [breadcrumbs]="['日志管理']"></app-breadcrumbs>
<nz-card class="card search-card">
  <div nz-row>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>操作时间：</nz-form-label>
        <nz-form-control>
          <div nz-row>
            <nz-date-picker nz-col nzSpan="11" [nzDisabledDate]="disabledStartDate" [nzShowToday]="false"
              nzFormat="yyyy-MM-dd" [(ngModel)]="startValue" nzPlaceHolder="开始时间" [nzStyle]="{'width': '100%'}">
            </nz-date-picker>
            <div class="text-center" nz-col nzSpan="2">~</div>
            <nz-date-picker nz-col nzSpan="11" [nzDisabledDate]="disabledEndDate" [nzShowToday]="false"
              nzFormat="yyyy-MM-dd" [(ngModel)]="endValue" nzPlaceHolder="结束时间" [nzStyle]="{'width': '100%'}">
            </nz-date-picker>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>标题</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="20" placeholder="请输入标题" [(ngModel)]="searchItems.title">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>&nbsp;</nz-form-label>
        <nz-form-control>
          <button class="m-r-20" nz-button nzType="primary" (click)="search(1)"><i nz-icon nzType="search" nzTheme="outline"></i>查询</button>
          <button nz-button nzType="default" (click)="reset()"><i nz-icon nzType="close" nzTheme="outline"></i>重置</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'日志列表'">
  <nz-table #basicTable class="data-table" [nzData]="rows" [nzSize]="'small'" [nzShowPagination]="false"
    [nzLoadingDelay]="loadingDelay" [nzLoading]="loading" [nzBordered]="true">
    <thead>
      <tr>
        <th>用户名称</th>
        <th>标题</th>
        <th>url</th>
        <th>方法</th>
        <th>操作时间</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.userName}}</td>
        <td>{{data.title}}</td>
        <td>{{data.url}}</td>
        <td>{{data.method}}</td>
        <td class="td-center">{{data.createTime}}</td>
      </tr>
    </tbody>
  </nz-table>
  <app-page-nav [total]="page.total" [totalPage]="page.totalPage" [pageNum]="page.pageNum" [pageSize]="page.pageSize"
    (getCurrentPage)="changePage($event)">
  </app-page-nav>
</nz-card>