<div class="banner">
    <div class="header">
        <div class="logo">
            <img src="" alt="">
        </div>
        <ul class="nav">
            <li>平台介绍</li>
            <li>商务合作</li>
            <li>关于我们</li>
        </ul>
    </div>
    <div class="details">
        <div class="tips">全新上线</div>
        <h2>不一样的</h2>
        <h6>阿萨德积分立刻就散</h6>
        <h5>看</h5>
        <div class="btn">马上注册</div>
    </div>
</div>
<div class="line_tit">
    <div class="top">
        <div class="title">资产多介绍</div>
        <div class="english">alskdjlfk</div>
    </div>
    <div class="bottom">
        <div class="name">平台特色</div>
        <div class="english">alskdjl</div>
        <img src="" alt="">
    </div>
</div>
<ul class="special">
    <li *ngIf="let item of specialArr">
        <img src="" alt="">
        <h3>能学习</h3>
        <h4>奥斯卡电话风控</h4>
    </li>
</ul>