<app-card class="authHide" [appResource]="{authName:'get/staffs'}">
  <div class="col-sm-12 select-box">
    <div class="row m-b-10">
      <div class="col-6 col-md-3 input-box">
        <span>人员姓名：</span>
        <input type="text" maxlength="4" placeholder="请输入人员姓名" [(ngModel)]="searchItems.name">
      </div>
      <div class="col-6 col-md-3 input-box">
        <span>手机号码：</span>
        <input type="text" maxlength="20" placeholder="请输入手机号码" [(ngModel)]="searchItems.mobile">
      </div>
      <div class="col-6 col-md-3 input-box">
        <span>状态：</span>
        <select [(ngModel)]="searchItems.status">
          <option value="">所有状态</option>
          <option value="1">启用</option>
          <option value="0">禁用</option>
        </select>
      </div>
      <div class="col-6 col-md-3 input-box float-right search-btn">
        <span>&nbsp;</span>
        <button class="btn btn-primary ripple light" (click)="search(1,'search')">
          <i class="icofont icofont-search-alt-2"></i>查询</button>
        <button class="btn btn-primary btn-outline-primary ripple light" (click)="reset()">
          <i class="icofont icofont-close"></i>重置</button>
      </div>
    </div>
  </div>
</app-card>
<app-card [title]="'人员列表'">
  <div class="header-right authHide" [appResource]="{authName:'post/staffs'}">
    <!-- <button class="btn btn-primary ripple light">导出查询结果</button> -->
    <button class="btn btn-primary ripple light" (click)="modalDefault.show();changeTitle('添加人员','add');add()">
      <i class="icofont icofont-ui-add"></i>添加人员</button>
  </div>
  <ngx-datatable class="data-table dt-chk" [rows]="rows" [columnMode]="'force'" [scrollbarH]="true" [headerHeight]="50" [rowHeight]="'auto'"
    [limit]="10">
    <ngx-datatable-column [sortable]="false" name="人员编号" prop="number"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="姓名" prop="name"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="手机号码" prop="mobile"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="所属机构" prop="institutionName"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="更新时间" prop="updateDate"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="状态" prop="status">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <div class="switch authHide" [appResource]="{authName:'patch/staffs'}">
          <ui-switch class="js-single" color="#ecedf2" switchColor="#716aca" switchOffColor="#e0e2e9" size="medium" (click)="switchange(row)"
            [checked]="value=='1'"></ui-switch>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="操作" prop="">
      <ng-template ngx-datatable-cell-template let-row="row">
        <button class="btn" (click)="erwm.show();getErwm(row)">推广码</button>
        <button class="btn authHide" [appResource]="{authName:'put/staffs'}" (click)="modalDefault.show();changeTitle('编辑人员', 'edit');modify(row)">
          <i class="icon iconfont icon-edit"></i>编辑</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <app-page-nav (getCurrentPage)="changePage($event)" [totalPage]='totalPage' [pageNum]='pageNum' [total]='total'></app-page-nav>
</app-card>

<app-modal-basic [hideFooter]="'false'" #modalDefault>
  <div class="app-modal-header">
    <h4 class="modal-title">{{modal.title}}</h4>
    <button type="button" class="close basic-close" (click)="modalDefault.hide();addForm.reset()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="addForm" accept-charset='UTF-8' (ngSubmit)="onSubmit()">
      <div class="form-group row" *ngIf="modal.type=='edit'">
        <label class="col-sm-3 col-form-label">人员编号</label>
        <div class="col-sm-9">
          <input type="text" [(ngModel)]="modalItems.number" class="form-control" id="number" placeholder="请输入人员编号" formControlName="number" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">人员姓名</label>
        <div class="col-sm-9">
          <input type="text" [(ngModel)]="modalItems.name" class="form-control" id="name" required placeholder="请输入人员姓名" formControlName="name"
            maxlength="4">
          <div class="messages text-danger" *ngIf="(!addForm.controls.name.valid)&&(addForm.controls.name.dirty || addForm.controls.name.touched)">人员姓名不能为空</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">手机号码</label>
        <div class="col-sm-9">
          <input type="text" maxlength="11" [(ngModel)]="modalItems.mobile" class="form-control" id="mobile" required placeholder="请输入手机号码" formControlName="mobile">
          <div class="messages text-danger" *ngIf="addForm.controls.mobile.dirty || addForm.controls.mobile.touched">
            <span *ngIf="addForm.controls.mobile.errors?.required">手机号码不能为空</span>
            <span *ngIf="addForm.controls.mobile.errors?.pattern">请输入正确的手机号码</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">所属机构</label>
        <div class="col-sm-9">
          <select name="select" class="form-control" [(ngModel)]="modalItems.institutionId" formControlName="institutionId" *ngIf="modal.type=='edit'">
            <option value="">无机构</option>
            <option value="{{item.id}}" *ngFor="let item of institutions">{{item.name}}</option>
          </select>
          <select name="select" class="form-control" [(ngModel)]="modalItems.institutionId" formControlName="institutionId" *ngIf="modal.type=='add'">
            <option value="">无机构</option>
            <option value="{{item.id}}" *ngFor="let item of institutionsStatus">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">状态</label>
        <div class="col-sm-9">
          <div class="form-radio">
            <div class="radio radiofill radio-primary radio-inline">
              <label>
                <input type="radio" value="1" required formControlName="staffStatus" [(ngModel)]="staffStatus" [checked]="staffStatus===1"><i class="helper"></i>启用
              </label>
            </div>
            <div class="radio radiofill radio-primary radio-inline">
              <label>
                <input type="radio" value="0" required formControlName="staffStatus" [(ngModel)]="staffStatus" [checked]="staffStatus===0">
                <i class="helper"></i>禁用
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group form-group-btn row">
        <button type="button" class="btn btn-primary btn-outline-primary ripple light" (click)="modalDefault.hide();addForm.reset()">取消</button>
        <button type="submit" class="btn btn-primary ripple light" (click)="modalDefault.hide()" [disabled]="!addForm.valid">确定</button>
      </div>
    </form>
  </div>
</app-modal-basic>
<app-modal-basic [hideFooter]="'false'" #erwm>
  <div class="app-modal-header">
    <h4 class="modal-title">推广码</h4>
    <button type="button" class="close basic-close" (click)="erwm.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body erwm" *ngIf="erwmItems">
    <div class="row">
      <div class="item col-sm-12 col-md-6 col-6">
        <label class="col-sm-6 col-3 col-md-5">人员姓名：</label>
        <div class="col-sm-6 col-9 col-md-7">{{erwmItems.name}}</div>
      </div>
      <div class="item col-sm-12 col-md-6 col-6">
        <label class="col-sm-6 col-3 col-md-5">所属机构：</label>
        <div class="col-sm-6 col-9 col-md-7">{{erwmItems.institutionName}}</div>
      </div>
    </div>
    <div class="row">
      <div class="item col-sm-12 col-md-6 col-6">
        <label class="col-sm-6 col-3 col-md-5">人员电话：</label>
        <div class="col-sm-6 col-9 col-md-7">{{erwmItems.mobile}}</div>
      </div>
      <div class="item col-sm-12 col-md-6 col-6">
        <label class="col-sm-6 col-3 col-md-5">人员编号：</label>
        <div class="col-sm-6 col-9 col-md-7">{{erwmItems.number}}</div>
      </div>
    </div>
    <div class="pic">
      <img src="{{erwmItems.url}}" alt="">
    </div>
    <div class="row"><a href="{{erwmItems.downloadUrl}}" class="btn btn-primary ripple light">下载二维码</a></div>
  </div>
</app-modal-basic>
<ng2-toasty [position]="toast.position"></ng2-toasty>