<!-- <app-breadcrumb></app-breadcrumb> -->
<nz-card>
    <div class="banner">
        <div class="swiper-container" [swiper]='config' [index]="swiperIndex" (indexChange)="swiperIndexChange($event)">
            <div class="swiper-wrapper">
                <div *ngFor="let item of swiperArr" class="swiper-slide">
                    <div class="swiper-zoom-container">
                        <canvas class="canvas" width="700px" height="700px">
                            <!-- 由于swiper放大插件和旋转冲突所以把旋转放在canvas里面执行 -->
                        </canvas>
                        <img class="banner_img" [src]="item.url">
                        <!-- 把图片放在canvas里需要知道图片的自适应宽高，所以定义一个透明img用于获取 -->
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev swiper-button-black"></div>
            <div class="swiper-button-next swiper-button-black"></div>
        </div>
        <div class="rotate">
            <button nz-button nzType="primary" [nzSize]="'large'" nzShape="circle" (click)="rotate('right')"><i nz-icon type="reload"></i></button>
        </div>
    </div>
</nz-card>