<div nz-row nzGutter="20">
    <div nz-col class="gutter-row" nzSpan="24">
        <div class="gutter-box etp bg_white">
            <div class="head">
                <div class="left">
                    <div class="etp_name">江西省飞鱼公司</div>
                    <div class="user_before">（曾用名：江西省飞鱼）</div>
                    <div class="see_etp">查看基本信息</div>
                </div>
                <div class="monitot_time">监控时间 18/01/14</div>
            </div>
            <ul class="etp_infor">
                <li>
                    法定代表人：
                </li>
                <li>
                    统一企业识别码：209829834989
                </li>
                <li>
                    统一企业识别码：209829834989
                </li>
            </ul>
            <ul class="authorization">
                <li>
                    <img src="../../../assets/images/icon/open.png" alt="">
                    个人征信授权
                </li>
                <li>
                    <img src="../../../assets/images/icon/open.png" alt="">
                    个人征信授权
                </li>
                <li>
                    <img src="../../../assets/images/icon/open.png" alt="">
                    个人征信授权
                </li>
            </ul>
        </div>
    </div>
</div>

<div nz-row [nzGutter]="20" class="mt20">
    <div nz-col class="gutter-row" nzSpan="8">
        <div class="gutter-box grade">
            <div class="head">
                企业评级
                <div class="time">
                    检测时间 18/01/14
                </div>
            </div>
            <div class="left">
                <div class="main">
                    C
                </div>
                <div class="score">
                    企业风险评分900
                </div>
            </div>
            <div class="right">
                <div class="main">
                    <img src="../../../assets/images/icon/open.png" alt="">
                    风险未变动
                </div>
                <div class="score">
                    等级A>B
                </div>
                <div class="score">
                    评分90
                </div>
            </div>
        </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="8">
        <div class="gutter-box bg_white card">
            <div class="title">
                今日变化
            </div>
            <div class="today_change">
                <div class='echart' echarts [options]="todayChange"></div>
            </div>
        </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="8">
        <div class="gutter-box bg_white card">
            <div class="title">
                累积变化
            </div>
            <div class="today_change">
                <div class='echart' echarts [options]="allChange"></div>
            </div>
        </div>
    </div>
</div>

<div nz-row [nzGutter]="20" class="mt20">
    <div nz-col class="gutter-row" nzSpan="8">
        <div class="gutter-box bg_white card">
            <div class="title">
                风险雷达图
            </div>
            <div class="risk_radar">
                <div class='echart' echarts [options]="riskRadar"></div>
            </div>
        </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="16">
        <div class="gutter-box bg_white card">
            <div class="title">
                企业评级变化历史
            </div>
            <div class="risk_radar">
                <div class='echart' echarts [options]="entGrade"></div>
            </div>
        </div>
    </div>
</div>

<div nz-row [nzGutter]="20" class="mt20">
    <div nz-col class="gutter-row" nzSpan="8">
        <div class="gutter-box bg_white card">
            <div class="title">
                风险矩阵图
            </div>
            <div class="risk_matrix">
                <div class="left">
                    <div nz-row nzGutter="10">
                        <div nz-col class="gutter-row" nzSpan="8">
                            <div class="gutter-box">
                                <div class="matrix_tall" [ngClass]="colorClassArr[riskArr[0].value]">
                                    企业个人资产
                                </div>
                            </div>
                        </div>
                        <div nz-col class="gutter-row" nzSpan="8">
                            <div class="gutter-box">
                                <div class="matrix_tall" [ngClass]="colorClassArr[riskArr[1].value]">
                                    企业个人资产
                                </div>
                            </div>
                        </div>
                        <div nz-col class="gutter-row" nzSpan="8">
                            <div class="gutter-box">
                                <div class="matrix_tall" [ngClass]="colorClassArr[riskArr[2].value]">
                                    企业个人资产
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-row nzGutter="10" class="mt10">
                        <div nz-col class="gutter-row" nzSpan="8">
                            <div class="gutter-box">
                                <div class="matrix_tall" [ngClass]="colorClassArr[riskArr[3].value]">
                                    企业个人资产
                                </div>
                            </div>
                        </div>
                        <div nz-col class="gutter-row" nzSpan="8">
                            <div class="gutter-box">
                                <div class="matrix_tall " [ngClass]="colorClassArr[riskArr[4].value]">
                                    企业个人资产
                                </div>
                            </div>
                        </div>
                        <div nz-col class="gutter-row" nzSpan="8">
                            <div class="gutter-box">
                                <div class="matrix_short" [ngClass]="colorClassArr[riskArr[5].value]">
                                    管理稳定性
                                </div>
                                <div class="matrix_short mt10" [ngClass]="colorClassArr[riskArr[5].value]">
                                    资质等级能力
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-row nzGutter="10" class="mt10">
                        <div nz-col class="gutter-row" nzSpan="8">
                            <div class="gutter-box">
                                <div class="matrix_tall" [ngClass]="colorClassArr[riskArr[6].value]">
                                    企业个人资产
                                </div>
                            </div>
                        </div>
                        <div nz-col class="gutter-row" nzSpan="8">
                            <div class="gutter-box">
                                <div class="matrix_tall" [ngClass]="colorClassArr[riskArr[7].value]">
                                    企业个人资产
                                </div>
                            </div>
                        </div>
                        <div nz-col class="gutter-row" nzSpan="8">
                            <div class="gutter-box">
                                <div class="matrix_short" [ngClass]="colorClassArr[riskArr[8].value]">
                                    管理稳定性
                                </div>
                                <div class="matrix_short mt10" [ngClass]="colorClassArr[riskArr[9].value]">
                                    资质等级能力
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="right">
                    <li>
                        <div class="color_template bg_none"></div>暂未披露
                    </li>
                    <li>
                        <div class="color_template bg_A"></div>A
                    </li>
                    <li>
                        <div class="color_template bg_B"></div>B
                    </li>
                    <li>
                        <div class="color_template bg_C"></div>C
                    </li>
                    <li>
                        <div class="color_template bg_D"></div>D
                    </li>
                    <li>
                        <div class="color_template bg_E"></div>E
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="16">
        <div class="gutter-box bg_white card">
            <div class="title">
                风险变化历史
                <div style="float:right">
                    <nz-pagination [(nzPageIndex)]="riskChangeHistory.page" [nzTotal]="riskChangeHistory.total"
                        [nzSize]="'small'">
                    </nz-pagination>
                </div>
            </div>
            <div class="risk_change">
                <nz-table #basicTable1 [nzData]="riskChangeHistory.table" [nzBordered]="false"
                    [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th nzWidth="60%">变化事件</th>
                            <th nzWidth="20%" class="ta_center">风险等级</th>
                            <th nzWidth="20%" class="ta_center">日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable1.data">
                            <td>{{data.name}}</td>
                            <td class="ta_center" style="font-weight:bold">{{data.newGread}} → {{data.oldGread}}</td>
                            <td class="ta_center">{{data.date}}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

        </div>
    </div>
</div>

<ul class="nav bg_white mt20">
    <li *ngFor="let list of riskArr;let index=index" [ngClass]="colorClassArr[list.value]" (click)="link(list.href)">
        {{list.name}}
    </li>
</ul>
<ul class="nav bg_white fixed" [hidden]="navShow">
    <li *ngFor="let list of riskArr;let index=index" [ngClass]="colorClassArr[list.value]" (click)="link(list.href)">
        {{list.name}}
    </li>
</ul>

<div nz-row class="mt20" (click)="con($event)">
    <div nz-col class="gutter-row" nzSpan="24">
        <div class="gutter-box bg_white card">
            <div class="title">
                企业五分位属性
            </div>
            <nz-table #basicTable2 [nzData]="[1,2,3]">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable2.data">
                        <td>{{data.name}}</td>
                        <td>{{data.age}}</td>
                        <td>{{data.address}}</td>
                        <td>
                            <a>Action 一 {{data.name}}</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a>Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>

<div nz-row class="mt20">
    <div nz-col class="gutter-row" nzSpan="24">
        <div class="gutter-box bg_white card ">
            <div class="title">
                关联企业风险矩阵
            </div>
            <nz-table #basicTable3 [nzData]="[1,2,3]">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable3.data">
                        <td>{{data.name}}</td>
                        <td>{{data.age}}</td>
                        <td>{{data.address}}</td>
                        <td>
                            <a>Action 一 {{data.name}}</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a>Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>

<ul class="risk_matrix_infor">
    <li>
        <div class="name">一，业务状况</div>

        <div nz-row class="mt20">
            <div nz-col class="gutter-row" nzSpan="24">
                <div class="gutter-box bg_white card">
                    <div class="title">
                        业务状况评级变化历史
                    </div>
                    <div class="notes">业务状况监控模块当前评级为</div>
                    <div class="today_change">
                        
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>