<div class="map">
        <div class="today_change">
            <div class='echart' echarts [options]="todayChange"></div>
        </div>
        <div class="today_change">
            <div class='echart' echarts [options]="riskRadar"></div>
        </div>
        <div class="today_change">
            <div class='echart' echarts [options]="entGrade"></div>
        </div>
        <div class="today_change">
            <div class='echart' echarts [options]="busGrade"></div>
        </div>
</div>