<app-breadcrumbs [breadcrumbs]="['基础资源管理','行政区划管理']"></app-breadcrumbs>
<nz-card class="card search-card" [appResource]="{authName:'get/areas/grid'}">
  <div nz-row>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>区域名称</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="20" placeholder="请输入区域名称" [(ngModel)]="searchItems.name">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>区划代码</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="50" placeholder="请输入区划代码" [(ngModel)]="searchItems.code">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>行政区号</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="20" placeholder="请输入行政区号" [(ngModel)]="searchItems.cityCode">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>邮政编码</nz-form-label>
        <nz-form-control>
          <input nz-input maxlength="50" placeholder="请输入邮政编码" [(ngModel)]="searchItems.zipCode">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="gutter-box" nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>&nbsp;</nz-form-label>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="search(1)"><i nz-icon nzType="search" nzTheme="outline"></i>查询</button>
          <button nz-button nzType="default" (click)="reset()"><i nz-icon nzType="close" nzTheme="outline"></i>重置</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-card>
<nz-card class="card" [nzTitle]="'区域列表'">
  <nz-table 
    #basicTable 
    class="data-table" 
    [nzData]="rows"
    [nzSize]="'small'" 
    [nzShowPagination]="false"
    [nzBordered]="true"
    [nzLoading]="loading"
    [nzLoadingDelay]="loadingDelay">
    <thead>
      <tr>
        <th>区域名称</th>
        <th>简称</th>
        <th>区划代码</th>
        <th>父级代码</th>
        <th>行政区号</th>
        <th>邮政编码</th>
        <th>拼音全称</th>
        <th>简拼</th>
        <th>首字母</th>
        <th>更新时间</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name}}</td>
        <td>{{data.shortName}}</td>
        <td>{{data.id}}</td>
        <td>{{data.parentId}}</td>
        <td class="td-center">{{data.cityCode}}</td>
        <td class="td-center">{{data.zipCode}}</td>
        <td>{{data.pinYin}}</td>
        <td>{{data.jianPin}}</td>
        <td>{{data.firstChar}}</td>
        <td class="td-center">{{data.updateDate}}</td>
      </tr>
    </tbody>
  </nz-table>
  <app-page-nav 
    [total]="page.total" 
    [totalPage]="page.totalPage" 
    [pageNum]="page.pageNum"
    [pageSize]="page.pageSize"
    (getCurrentPage)="changePage($event)">
  </app-page-nav>
</nz-card>