<app-menu [menu]="['规则模型','规则管理']"></app-menu>
<!-- <div class="shadow mb20 white_bg pt20 pl20 pr20 authHide" [appResource]="{authName:'get/order/query'}"> -->
<div class="shadow mb20 white_bg pt20 pl20 pr20">
    <div class='clearfix'>
        <div nz-row [nzGutter]="30">
            <div nz-col [nzSpan]="6" style='min-width:210px;'>
                <div nz-row class="ant-form-item">
                    <div nz-col [nzSpan]="24" class="ant-form-item-label">规则名称:</div>
                    <div nz-col [nzSpan]="24">
                        <input [(ngModel)]='find.name' nz-input placeholder="规则名称" maxlength="50">
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6" style='min-width:210px;'>
                <div nz-row class="ant-form-item">
                    <div nz-col [nzSpan]="24" class="ant-form-item-label">规则ID:</div>
                    <div nz-col [nzSpan]="24">
                        <input [(ngModel)]='find.id' nz-input placeholder="规则ID" maxlength="50">
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6" style='min-width:210px;'>
                <div nz-row class="ant-form-item">
                    <div nz-col [nzSpan]="24" class="ant-form-item-label">所属分组:</div>
                    <div nz-col [nzSpan]="24" style='display:relative' (click)='find.selectTreeShow=!find.selectTreeShow'>
                        <input class='noDisabled' [(ngModel)]='find.group' nz-input placeholder="所属分组" maxlength="50"
                            disabled>
                        <div class='selectTree' *ngIf='find.selectTreeShow'>
                            <nz-tree [(ngModel)]="nodesFind" [nzShowLine]="false" [nzDraggable]="false" (nzClick)="choiceFindGroup($event)">
                            </nz-tree>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6" style='min-width:210px;'>
                <div nz-row class="ant-form-item" style='margin-top:28px'>
                    <button nz-button nzType="primary" (click)='getTable()'>
                        <i class="anticon anticon-search"></i>查询
                    </button>
                    <button nz-button nzType="default" (click)='result()'>
                        <i class="anticon anticon-close"></i>重置
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<nz-card class="shadow mb20" [nzTitle]="cardTitle" [nzExtra]="cardExtra">
    <nz-table #rowSelectionTable [nzData]="tableData" [nzLoading]="loading" (nzCurrentPageDataChange)="currentPageDataChange($event)"
        [nzLoading]="loading" [nzShowPagination]="false" [nzFrontPagination]="false">
        <thead>
            <tr>
                <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
                <th>规则id</th>
                <th>规则名称</th>
                <th>版本号</th>
                <th>所属分组</th>
                <th>更新日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus($event)"></td>
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.version}}</td>
                <td>{{data.groupName}}</td>
                <td>{{data.updateTime}}</td>
                <td>
                    <span style='cursor:pointer;padding:2px' [routerLink]="['/rule/rulemanagement/seerule']" [queryParams]="{name: data.name}">
                        <i class="anticon anticon-file-text"></i>
                        查看规则
                    </span>
                    <span style='cursor:pointer;padding:2px' [routerLink]="['/rule/rulemanagement/changerule']" [queryParams]="{name: data.name}">
                        <i class="anticon anticon-file-text"></i>
                        修改信息
                    </span>
                    <span style='cursor:pointer;padding:2px' [routerLink]="['/rule/rulemanagement/updaterule']" [queryParams]="{name: data.name}">
                        <i class="anticon anticon-file-text"></i>
                        更新版本
                    </span>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<ng-template #cardTitle>
    <span>规则列表</span>
</ng-template>
<ng-template #cardExtra>
    <span>
        <span style='position:relative'>
            <button nz-button nzType="primary" (click)='tableSelectTreeShow=!tableSelectTreeShow'>调整选中规则分组</button>
            <div class='selectTree' *ngIf='tableSelectTreeShow'>
                <nz-tree [(ngModel)]="nodesTable" [nzShowLine]="false" [nzDraggable]="false" (nzClick)="choiceTableGroup($event)">
                </nz-tree>
            </div>
        </span>
        <button nz-button nzType="primary" [routerLink]="['/rule/rulemanagement/addrule']">创建规则</button>
    </span>
</ng-template>
<nz-pagination [nzTotal]="find.total" [(nzPageIndex)]="find.pageNum" [(nzPageSize)]="find.pageSize" [nzShowSizeChanger]='true'
    [nzPageSizeOptions]='[5,10,15,20]' [nzShowQuickJumper]='true' (nzPageIndexChange)='getTable()' (nzPageSizeChange)='getTable()'></nz-pagination>
    