<div style="text-align:center">
    <app-head></app-head>
    <h1>页面二，angular指令</h1>
    <div>
        <label>点击{{show?'显示':'隐藏'}}<input type="checkbox" [(ngModel)]='show'></label>
        <div class='animate' [class.tran]='show' style='background:red' *ngIf='true'>显示</div>
        <!-- <div style='background:yellow' *ngIf='!show'>隐藏</div> -->
    </div>
    <ul>
        <!-- <li *ngFor="let list of list">{{list}}</li> -->
        <li *ngFor="let hero of heroes" (click)=tiaozhuan(hero.url)>
            <a [routerLink]='hero.url'>
                {{hero.url}}123
            </a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>