<app-header title="信息采集授权" backIcon=1 backTxt="返回" hasBack="false"></app-header>
<div class='has_win'>
  <div class='box'>
    <div class='downloadText'>
      <p class='dwnTitle'>请确保您已仔细阅读《企业信息采集授权书》、《个人征信查询授权书》，下载打印并按照要求填写后拍照上传。</p>
      <a class='dwnLink' [routerLink]="['/require-authorization']">授权书填写拍照要求</a>
    </div>
    <div class='header' style='background-color: #fff;'>
      <img class='validate' src='../../assets/images/validate_03.png' style='margin:.933333rem .933333rem 0 0;'>
      <p style="display:inline;">授权企业:{{etpCer.etpName}}</p>
    </div>
    <div class='header mb20' style='padding-left:3rem;'>
      <p style="display:inline;">授权编码:{{etpCer.infoAuthNum}}</p>
    </div>
    <div class='mb20' style='background-color: #fff;'>
      <div class='header'>
        <img class='validate' src="../../assets/images/validate_03.png" style='margin:.933333rem .933333rem 0 0;'>
        <p style="color: #333;display:inline;">授权书</p>
        <p [routerLink]="['/down-information']" [queryParams]="{'infoAuthNum': etpCer.infoAuthNum}" style='float:right;margin-right:.666666rem;color:#dbb272;'>下载</p>
      </div>
    </div>
    <div class="mb20">
      <div class="header white_bg">
        <img class="fl" [src]="authUrl?'../../../assets/images/validate_03.png':'../../../assets/images/unverified_03.png'" alt="">
        <p class="fl" style="color:#333;" [ngStyle]="{'opacity':authUrl?1:.2}">企业信息采集授权书</p>
        <div class="get-camera fr" *ngIf="!infoAuthDto.status||infoAuthDto.status!='1'">
          <input (change)="previewImg($event,'authUrl')" accept="image/*" capture="camera" type="file" />
          <p class="yel_txt fl">拍照验证</p>
          <img class="fl" src="../../../assets/images/camera_03.png" alt="">
        </div>
        <div class="get-camera fr" *ngIf="infoAuthDto.status&&infoAuthDto.status=='1'">
          <p class="yel_txt fl">已认证</p>
        </div>
      </div>
      <div class="camera_box" *ngIf='authUrl'>
        <div class="has_img">
          <scalable-img [img]='authUrl'></scalable-img>
        </div>
      </div>
    </div>
    <div class="mb20">
      <div class="header white_bg">
        <img class="fl" [src]="bodyUrl?'../../../assets/images/validate_03.png':'../../../assets/images/unverified_03.png'" alt="">
        <p class="fl" style="color:#333;" [ngStyle]="{'opacity':bodyUrl?1:.2}">法人手持企业授权书</p>
        <div class="get-camera fr" *ngIf="!infoAuthDto.status||infoAuthDto.status!='1'">
          <input (change)="previewImg($event,'bodyUrl')" accept="image/*" capture="camera" type="file" />
          <p class="yel_txt fl">拍照验证</p>
          <img class="fl" src="../../../assets/images/camera_03.png" alt="">
        </div>
        <div class="get-camera fr" *ngIf="infoAuthDto.status&&infoAuthDto.status=='1'">
          <p class="yel_txt fl">已认证</p>
        </div>
      </div>
      <div class="camera_box" *ngIf='bodyUrl'>
        <div class="has_img">
          <scalable-img [img]='bodyUrl'></scalable-img>
        </div>
      </div>
    </div>
    <div class="mb20">
      <div class="header white_bg">
        <img class="fl" [src]="controllerUrl?'../../../assets/images/validate_03.png':'../../../assets/images/unverified_03.png'"
          alt="">
        <p class="fl" style="color:#333;" [ngStyle]="{'opacity':controllerUrl?1:.2}">大股东/实际控制人征信授权</p>
        <div class="get-camera fr" *ngIf="!infoAuthDto.status||infoAuthDto.status!='1'">
          <input (change)="previewImg($event,'controllerUrl')" accept="image/*" capture="camera" type="file" />
          <p class="yel_txt fl">拍照验证</p>
          <img class="fl" src="../../../assets/images/camera_03.png" alt="">
        </div>
        <div class="get-camera fr" *ngIf="infoAuthDto.status&&infoAuthDto.status=='1'">
          <p class="yel_txt fl">已认证</p>
        </div>
      </div>
      <div class="camera_box" *ngIf='controllerUrl'>
        <div class="has_img">
          <scalable-img [img]='controllerUrl'></scalable-img>
        </div>
      </div>
    </div>
    <div class="btn-area" *ngIf="!infoAuthDto.status||infoAuthDto.status!='1'">
      <button (click)='postInfo()' class='priBtn' style='margin-top:2rem;display:block;'>提交</button>
    </div>
  </div>
</div>

<loading [txt]="'请稍后...'" *ngIf='loading'></loading>