<app-crumb>
</app-crumb>
<div class="white_bg">
    <p class="sub-title">数据统计</p>
    <div class="spans">
        <div class="span todayAddUser ">
            <span>今日新增用户数</span>
            <p>{{gist.todayAddUser}}</p>
        </div>
        <div class="span totalUser">
            <span>当前用户总数量</span>
            <p>{{gist.totalUser}}</p>
        </div>
        <div class="span todayAddLoan">
            <span>今日新增订单数</span>
            <p>{{gist.todayAddLoan}}</p>
        </div>
        <div class="span totalLoan">
            <span>当前订单总数</span>
            <p>{{gist.totalLoan}}</p>
        </div>
        <div class='span totalAmount'>
            <span>累计撮合交易（万元）</span>
            <p>{{gist.totalAmount}}</p>
            
        </div>
    </div>
</div>