.white_bg {
  margin-bottom: 30px;
  min-width: 600px;

  .sub-title {
    font-size: 16px;
    color: #666674;
    padding: 14px 15px;
    border-bottom: 1px solid #F5F7F9;
    white-space: nowrap;
  }

  .spans {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;

    .span {
      width: 240px;
      min-width: 240px;
      text-align: center;
      height: 140px;
      margin-right: 15px;
      color: #fff;
      margin-bottom: 15px;
      border-radius: 2px;
      padding: 0 15px;

      span {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        width: 100%;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
      }

      p {
        font-size: 38px;
        height: 90px;
        line-height: 90px;
      }
    }

    .todayAddUser {
      background: linear-gradient(90deg, rgba(110, 156, 156, 1), rgba(150, 189, 187, 1));
    }

    .totalUser {
      background: linear-gradient(90deg, rgba(92, 158, 247, 1), rgba(112, 207, 236, 1));
    }

    .todayAddLoan {
      background: linear-gradient(90deg, rgba(208, 184, 112, 1), rgba(229, 206, 134, 1));
    }

    .totalLoan {
      background: linear-gradient(90deg, rgba(210, 120, 114, 1), rgba(220, 144, 139, 1));
    }

    .totalAmount {
      background: linear-gradient(90deg, rgba(84, 124, 177, 1), rgba(141, 169, 208, 1));
    }

  }
}

