@import url('../../dynamic-form.css');
.textBox {
  width: 100%;
  padding: 1rem;
  background: #fff;
}
.textBox textarea {
  width: 100%;
  display: block;
  border: 1px solid #e2e2e2;
  padding: 0.5rem;
}