<p>行数：<input nz-input placeholder="请选择行数" type="number" [(ngModel)]="trNum"></p>
<p>列数：<input nz-input placeholder="请选择列数" type="number" [(ngModel)]="tdNum"></p>
<p>雷数：<input nz-input placeholder="请选择列数" type="number" [(ngModel)]="leiNum"></p>
<button nz-button nzType="primary" (click)="getLeiArr()">生成</button>

<ul class="lei">
    <li *ngFor="let list of leiArr;let trIndex=index">
        <div class="box" *ngFor="let item of list;let tdIndex=index">
            <ng-container *ngIf="item.open">
                <p *ngIf="item.has" class="lei">雷</p>
                <ng-container *ngIf="!item.has">
                    <p *ngIf="item.num!=0" class="num">{{item.num}}</p>
                    <p *ngIf="item.num==0" class="none"></p>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!item.open">
                <p class="close" [ngClass]="{flag:item.flag}" (click)="openOther(item)"
                    (contextmenu)="giveFlag($event,item)"></p>
            </ng-container>
        </div>
    </li>
</ul>