<div class="cur_item" [formGroup]="group" (click)="routePic()">
  <div class="left">{{config.controlName}}</div>
  <img src="../../../../assets/images/arr_toR_03.png" alt="">
  <div class="right" *ngIf="imgList.length==0"><input type="text" placeholder="{{config.placeInfo}}" [(ngModel)]="config.value"
      [formControlName]="config.controlKey" readOnly></div>
  <div class="right" *ngIf="imgList.length>0" style='color:#333;'>已上传{{imgList.length}}张图片</div>
</div>

<div class="imgBox" *ngIf="imgList.length>0">
  <div class="swiper-container" [swiper]='swiperConfig' *ngIf="imgList.length>1">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let item of imgList">
        <img src="{{item}}" alt="" (click)='hasClick=true;imgScale(item)' />
      </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination" *ngIf="imgList.length>1"></div>
  </div>
  <div style="width:100%;" *ngIf="imgList.length==1">
    <img [ngClass]="{'pic': imgList[0]}" src="{{imgList[0]}}" alt="" (click)='hasClick=true;imgScale(imgList[0]);' />
  </div>
</div>
<div class="mask" *ngIf='hasClick' (click)='hasClick=false'>
  <img src="{{imgUrl}}" alt="" class="b_img" />
</div>
