<div class='shadow' style='width:600px;margin:0 auto'>
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-user">
          <input type="text" nz-input formControlName="userName" placeholder="Username">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">Please input
          your username!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-lock">
          <input type="password" nz-input formControlName="password" placeholder="Password">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input
          your Password!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
        <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
        <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
        Or
        <a href="">register now!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<nz-progress [nzPercent]="30"></nz-progress>
<nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
<nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
<nz-progress [nzPercent]="100"></nz-progress>
<nz-progress [nzPercent]="50" [nzShowInfo]="false"></nz-progress>
<div [appFor]=3 #appfor>
  <button (click)="con($event)">
    点击
  </button>
  <button>
    点击
  </button>
</div>
<input type="text" name='input' [(ngModel)]="input">{{input}}
<!-- <app-box [width]="300px"></app-box> -->
<app-box #appbox1>
  <div class="app-box-head">
    头部
  </div>
  <div class="app-box-body">
    中间
  </div>
  <div class="app-box-foot">
    <button (click)="appbox1.full()">全屏</button>
    <button (click)="appbox1.width='100px'">变短</button>
    <button (click)="appbox1.width=input+'px'">选择</button>
  </div>
</app-box>
<app-box #appbox2>
  <div class="app-box-head">
    头部
  </div>
  <div class="app-box-body">
    中间
  </div>
  <div class="app-box-foot">
    <button (click)="appbox2.full()">全屏</button>
    <button (click)="appbox2.width='100px'">变短</button>
    <button (click)="appbox2.width=input+'px'">选择</button>
    <button (click)="appbox2.width=null">复位</button>
  </div>
</app-box>
<app-signed></app-signed>