<div class="index" (mousemove)='mousemove($event)' (mouseup)='mouseup()'>
    <div class="left">
        <button class='candrag' (mousedown)='mousedown({type:"component",e:$event,list:false})'>布局框</button>
        <button class='candrag' (mousedown)='mousedown({type:"input",e:$event,list:false})'>输入框</button>
        <button class='candrag' (mousedown)='mousedown({type:"radio",e:$event,list:false})'>单选框</button>
        <button class='candrag' (mousedown)='mousedown({type:"checkbox",e:$event,list:false})'>多选框</button>
        <button class='candrag' (click)='generatejson()'>生成json</button>
    </div>
    <div class="component" (mouseover)='mouseover()' (mouseout)='mouseout()' (mouseup)='add($event)'>
        <div class='place' *ngIf='show&&mouse&&placeindex==0' (mouseover)='mouseover()' (mouseout)='mouseout()'
            (mouseup)='add($event)'>生成位置</div>
        <div class="main">
            <div class='com' *ngFor='let list of form;let index=index' [ngStyle]='{width:(list.width/12*100+"%")}'>
                <app-component [form]='list' [index]='index' [mouse]='mouse' [data]='data' [placeindex]='placeindex'
                    (mouseover)='stop($event)' (mouseout)='stop($event)' (mouseup)='stop($event)' (changemouse)='mouseup($event)'
                    (removeindex)='remove($event)' (look)='look($event)' (copy)='copy($event)' (typechange)='mousedown($event)'
                    (setup01)='setup($event)' (fathermouseup)='mouseup($event)'></app-component>
                <div class='place' *ngIf='show&&mouse&&placeindex==index-0+1'>生成位置</div>
            </div>
        </div>
    </div>
    <div class="right">
        表单定制<br>
        宽度(1-12)<input type="text" [(ngModel)]='right.width'>
        <div *ngIf='right.form'>
            <div class='form'>
                <input type="text" [(ngModel)]='right.form.key'>唯一key值
            </div>
            <div class='form'>
                required是否必填
                <label>
                    是
                    <input type="radio" name='required' [value]='true' [(ngModel)]='right.form.required'>
                    <div class="after"></div>
                </label>
                <label>
                    否
                    <input type="radio" name='required' [value]='false' [(ngModel)]='right.form.required'>
                    <div class="after"></div>
                </label>
            </div>
            <div class='form'>
                readOnly是否只读
                <label>
                    是
                    <input type="radio" name='readOnly' [value]='true' [(ngModel)]='right.form.readOnly'>
                    <div class="after"></div>
                </label>
                <label>
                    否
                    <input type="radio" name='readOnly' [value]='false' [(ngModel)]='right.form.readOnly'>
                    <div class="after"></div>
                </label>
            </div>
            <div *ngIf='right.form.type=="input"'>
                <div class='form'>
                    <input type="text" [(ngModel)]='right.form.value'>初始值
                </div>
                <div class='form'>
                    <input type="text" [(ngModel)]='right.form.placeholder'>提示语
                </div>
            </div>
            <div *ngIf='right.form.type=="radio"'>
                <ul class='ul'>
                    <button (click)='addli()'>添加一组</button>
                    <li *ngFor='let list of right.form.options;let index=index'>
                        <div class="label">
                            选项name<input type="text" [(ngModel)]='list.name'>
                        </div>
                        <div class="label">
                            选项type<input type="text" [(ngModel)]='list.type'>
                        </div>
                        <div class="label">
                            选项value<input type="text" [(ngModel)]='list.value'>
                        </div>
                        <button (click)='removeli(index)'>删除</button>
                    </li>
                </ul>
            </div>
            <div *ngIf='right.form.type=="checkbox"'>
                <ul class='ul'>
                    <button (click)='addli()'>添加一组</button>
                    <li *ngFor='let list of right.form.options;let index=index'>
                        <div class="label">
                            选项name<input type="text" [(ngModel)]='list.name'>
                        </div>
                        <div class="label">
                            选项type<input type="text" [(ngModel)]='list.type'>
                        </div>
                        <div class="label">
                            选项value<input type="text" [(ngModel)]='list.value'>
                        </div>
                        <button (click)='removeli(index)'>删除</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mouse" *ngIf='mouse' [ngStyle]='absolute'>拖拽中</div>
</div>