<app-card>
  <div class="product-box">
    <form [formGroup]="productForm" accept-charset='UTF-8'>
      <div class="row col-8 col-md-8 m-b-30">
        <div class="col-6 col-md-6 input-box">
          <span class="wth7">产品名称：</span>
          <input type="text" maxlength="50" [(ngModel)]="items.product.name" class="wth100-10" id="name" required
            placeholder="请输入产品名称" formControlName="name">
          <small class="messages text-danger" *ngIf="(!productForm.controls.name.valid)&&(productForm.controls.name.dirty || productForm.controls.name.touched)">
            * 必填</small>
        </div>
        <div class="col-6 col-md-6 input-box">
          <span class="wth7">产品编码：</span>
          <input type="text" maxlength="20" [(ngModel)]="items.product.number" class="wth100-10" id="number" required
            placeholder="请输入产品编码" formControlName="number">
          <small class="messages text-danger" *ngIf="(!productForm.controls.number.valid)&&(productForm.controls.number.dirty || productForm.controls.number.touched)">
            * 必填</small>
        </div>
      </div>
      <div class="row col-8 col-md-8 m-b-30">
        <div class="col-6 col-md-6 input-box">
          <span class="wth7">贷款期限范围：</span>
          <input type="number" maxlength="50" min="0" [(ngModel)]="items.product.minTerm" class="wth20" id="minTerm"
            required placeholder="" formControlName="minTerm" onkeyup="value=(value.substr(0,1)=='0'?0:value.replace(/[^0-9]/g,''))">
          <span class="padd1">至</span>
          <input type="number" maxlength="50" min="1" [(ngModel)]="items.product.maxTerm" class="wth20" id="maxTerm"
            required placeholder="" formControlName="maxTerm" onkeyup="value=(value.substr(0,1)=='0'?0:value.replace(/[^0-9]/g,''))">
          <span class="padd1">月</span>
          <small class="messages text-danger" *ngIf="(!productForm.controls.minTerm.valid)&&(productForm.controls.minTerm.dirty || productForm.controls.minTerm.touched)||((!productForm.controls.maxTerm.valid)&&(productForm.controls.maxTerm.dirty || productForm.controls.maxTerm.touched))">
            * 必填</small>
          <small class="messages text-danger" *ngIf="items.product.minTerm&&items.product.maxTerm&&(items.product.minTerm>items.product.maxTerm)">最小范围不可大于最大范围</small>
        </div>
        <div class="col-6 col-md-6 input-box">
          <span class="wth7">贷款金额范围：</span>
          <input type="number" maxlength="50" min="0" [(ngModel)]="items.product.minAmount" class="wth20" id="minAmount"
            required placeholder="" formControlName="minAmount" onkeyup="value=(value.substr(0,1)=='0'?0:value.replace(/[^0-9]/g,''))">
          <span class="padd1">至</span>
          <input type="number" maxlength="50" min="0" [(ngModel)]="items.product.maxAmount" class="wth20" id="maxAmount"
            required placeholder="" formControlName="maxAmount" onkeyup="value=(value.substr(0,1)=='0'?0:value.replace(/[^0-9]/g,''))">
          <span class="padd1">万元</span>
          <small class="messages text-danger" *ngIf="(!productForm.controls.minAmount.valid)&&(productForm.controls.minAmount.dirty || productForm.controls.minAmount.touched)||((!productForm.controls.maxAmount.valid)&&(productForm.controls.maxAmount.dirty || productForm.controls.maxAmount.touched))">
            * 必填</small>
          <small class="messages text-danger" *ngIf="items.product.minAmount&&items.product.maxAmount&&(items.product.minAmount>items.product.maxAmount)">最小范围不可大于最大范围</small>
        </div>
      </div>
      <div class="row col-8 col-md-8 m-b-30">
        <div class="col-6 col-md-6 input-box">
          <span class="wth7">综合费率：</span>
          <input type="number" maxlength="50" min="0" [(ngModel)]="items.product.minRate" class="wth20" id="minRate"
            required placeholder="" formControlName="minRate" onkeyup="this.value=(this.value.substr(0,1)=='0'?0:(this.value.replace(/[^\d.]/g,'')))">
          <span class="padd1">至</span>
          <input type="number" maxlength="50" min="0" [(ngModel)]="items.product.maxRate" class="wth20" id="maxRate"
            required placeholder="" formControlName="maxRate" onkeyup="this.value=(this.value.substr(0,1)=='0'?0:(this.value.replace(/[^\d.]/g,'')))">
          <span class="padd1">%</span>
          <small class="messages text-danger" *ngIf="(!productForm.controls.minRate.valid)&&(productForm.controls.minRate.dirty || productForm.controls.minRate.touched)||((!productForm.controls.maxRate.valid)&&(productForm.controls.maxRate.dirty || productForm.controls.maxRate.touched))">
            * 必填</small>
          <small class="messages text-danger" *ngIf="items.product.minRate&&items.product.maxRate&&(items.product.minRate>items.product.maxRate)">最小范围不可大于最大范围</small>
        </div>
        <div class="col-6 col-md-6 input-box">
          <span class="wth7">状态：</span>
          <div class="form-radio wth100-10">
            <div class="radio radiofill radio-primary radio-inline">
              <label>
                <input type="radio" name="status" value="1" required [(ngModel)]="items.product.status" [checked]="items.product.status===1"
                  formControlName="status">
                <i class="helper"></i>启用
              </label>
            </div>
            <div class="radio radiofill radio-primary radio-inline">
              <label>
                <input type="radio" name="status" value="0" required [(ngModel)]="items.product.status" [checked]="items.product.status===0"
                  formControlName="status">
                <i class="helper"></i>禁用
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-12 col-md-12 m-b-30">
        <div class="col-12 col-md-12 input-box">
          <span class="wth7">支持还款方式：</span>
          <div class="form-radio wth100-10">
            <div class="checkbox-fade fade-in-primary" *ngFor='let list of applyRepayMethod;let index=index'>
              <label>
                <input type="checkbox" [value]='list.code' required [(ngModel)]='repayMethodTrue[index]'
                  formControlName="applyRepayMethod">
                  <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                  <span>{{list.name}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-8 col-md-8 m-b-30">
        <div class="col-12 col-md-12 input-box">
          <span class="wth7">产品类型：</span>
          <select class="form-control" [(ngModel)]='items.product.productType' required formControlName="productType">
            <option value="" [disabled]='true'>请选择</option>
            <option *ngFor='let list of productType' [value]="list.code">{{list.name}}</option>
          </select>
        </div>
      </div>
      <div class="row col-8 col-md-8 m-b-30">
        <div class="col-12 col-md-12 input-box">
          <span class="wth7">简介描述：</span>
          <textarea class="wth100-10" [(ngModel)]="items.product.remark" formControlName="remark"></textarea>
        </div>
      </div>
    </form>
  </div>
</app-card>
<app-card [title]="'贷款利率配置'" [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
  <span class="code-header">条件字段：
    <code>Month,Amount</code> 运算符：
    <code>!=,<,>,<=,>=,in,between,not in</code> 逻辑条件：
    <code>and，or</code>
  </span>
  <div class="header-right">
    <button class="btn btn-primary ripple light" (click)="addRow('interest')">
      <i class="icofont icofont-ui-add"></i>新增一行</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 50%">条件(表达式)</th>
          <th style="width: 30%">费率</th>
          <th style="width: 20%">操作</th>
        </tr>
      </thead>
      <tbody [dragula]='"itemsInterestConfig"' [dragulaModel]="items.interestConfig">
        <tr *ngFor="let item of items.interestConfig">
          <td>
            <input type="text" placeholder="请输入表达式" class="wth90 m-auto iptBlock" [(ngModel)]="item.spel">
          </td>
          <td>
            <input type="text" placeholder="例如：0.0" class="wth90 m-auto iptBlock" [(ngModel)]="item.rate" onkeyup="value=(value.substr(0,1)=='0'?0:value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,''))"><span
              class="pers">%</span>
          </td>
          <td>
            <button class="btn btn-primary btn-outline-primary ripple light iptBlock m-auto" (click)="deleteRow('interest',item)"
              *ngIf="items.interestConfig.length>1">
              <i class="icofont icofont-close"></i>删除本行</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row col-12 col-md-12 m-b-20 m-t-20">
    <div class="col-12 col-md-12 input-box" style='display:flex'>
      <span class="wth10">计息开始时间：</span>
      <div class="form-radio wth100-10">
        <div class="radio radiofill radio-primary radio-inline" *ngFor='let list of interestStartTime;let index=index'>
          <label>
            <input type="radio" name='interestStartTime' [value]='list.code' [(ngModel)]='items.product.interestStartTime'>
            <i class="helper"></i>{{list.name}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class='input-box label'>
    计息开始时间：
    <div class="form-radio wth100-10">
      <div class="radio radiofill radio-primary radio-inline" *ngFor='let list of interestStartTime;let index=index'>
        <label>
          <input type="radio" name='interestStartTime' [value]='list.code' [(ngModel)]='items.product.interestStartTime'>
          <i class="helper"></i>{{list.name}}
        </label>
      </div>
    </div>
  </div> -->
</app-card>
<app-card [title]="'居间服务费配置'" [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
  <span class="code-header">条件字段：
    <code>Month,Amount</code> 运算符：
    <code>!=,<,>,<=,>=,in,between,not in</code> 逻辑条件：
    <code>and，or</code>
  </span>
  <div class="header-right">
    <button class="btn btn-primary ripple light" (click)="addRow('service')">
      <i class="icofont icofont-ui-add"></i>新增一行</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="table-primary">
          <th style="width: 50%">条件(表达式)</th>
          <th style="width: 30%">服务费金额</th>
          <th style="width: 20%">操作</th>
        </tr>
      </thead>
      <tbody [dragula]='"itemsServiceConfig"' [dragulaModel]="items.serviceConfig">
        <tr *ngFor="let item of items.serviceConfig">
          <td>
            <input type="text" placeholder="请输入表达式" class="wth90 m-auto iptBlock" [(ngModel)]="item.spel">
          </td>
          <td>
            <select class="wth60" [(ngModel)]="item.type">
              <option value="0">占贷款总金额比率</option>
              <option value="1">收取固定金额费用</option>
            </select>
            <input *ngIf="item.type==0" type="text" placeholder="例如：0.0" class="wth30" [(ngModel)]="item.rate" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')"><span
              class="pers" *ngIf="item.type==0">%</span>
            <input *ngIf="item.type==1" type="text" placeholder="例如：20" class="wth30" [(ngModel)]="item.rate" onkeyup="value=(value.substr(0,1)=='0'?0:value.replace(/[^0-9]/g,''))">
          </td>
          <td>
            <button class="btn btn-primary btn-outline-primary ripple light iptBlock m-auto" (click)="deleteRow('service',item)"
              *ngIf="items.serviceConfig.length>1">
              <i class="icofont icofont-close"></i>删除本行</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row col-12 col-md-12 m-b-20 m-t-20">
      <div class="col-12 col-md-12 input-box" style='display:flex'>
        <span class="wth10">服务费支付方式：</span>
        <div class="form-radio wth100-10">
          <div class="radio radiofill radio-primary radio-inline" *ngFor='let list of servicePaymentMethod;let index=index'>
            <label>
                <input type="radio" name='servicePaymentMethod' [value]='list.code' [(ngModel)]='items.product.servicePaymentMethod'>
              <i class="helper"></i>{{list.name}}
            </label>
          </div>
        </div>
      </div>
    </div>
  <!-- <div class='input-box label'>
    服务费支付方式：
    <label *ngFor='let list of servicePaymentMethod;let index=index'>
      <input type="radio" name='servicePaymentMethod' [value]='list.code' [(ngModel)]='items.product.servicePaymentMethod'>{{list.name}}
    </label>
  </div> -->
</app-card>
<app-card [title]="'保证金配置'" [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
  <span class="code-header">条件字段：
    <code>Month,Amount</code> 运算符：
    <code>!=,<,>,<=,>=,in,between,not in</code> 逻辑条件：
    <code>and，or</code>
  </span>
  <div class="header-right">
    <button class="btn btn-primary ripple light" (click)="addRow('bondConfig')">
      <i class="icofont icofont-ui-add"></i>新增一行</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="table-primary">
          <th style="width: 50%">条件(表达式)</th>
          <th style="width: 30%">服务费金额</th>
          <th style="width: 20%">操作</th>
        </tr>
      </thead>
      <tbody [dragula]='"itemsBondConfig"' [dragulaModel]="items.bondConfig">
        <tr *ngFor="let item of items.bondConfig">
          <td>
            <input type="text" placeholder="请输入表达式" class="wth90 m-auto iptBlock" [(ngModel)]="item.spel">
          </td>
          <td>
            <select class="wth60" [(ngModel)]="item.type">
              <option value="0">占贷款总金额比率</option>
              <option value="1">收取固定金额费用</option>
            </select>
            <input *ngIf="item.type==0" type="text" placeholder="例如：0.0" class="wth30" [(ngModel)]="item.rate" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')"><span
              class="pers" *ngIf="item.type==0">%</span>
            <input *ngIf="item.type==1" type="text" placeholder="例如：20" class="wth30" [(ngModel)]="item.rate" onkeyup="value=(value.substr(0,1)=='0'?0:value.replace(/[^0-9]/g,''))">
          </td>
          <td>
            <button class="btn btn-primary btn-outline-primary ripple light iptBlock m-auto" (click)="deleteRow('bondConfig',item)"
              *ngIf="items.bondConfig.length>1">
              <i class="icofont icofont-close"></i>删除本行</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>
<!-- <app-card [title]="'产品申请条件'">
  <div class="textBox">
    <textarea [(ngModel)]="items.product.applyCondition"></textarea>
  </div>
</app-card> -->
<app-card [title]="'产品介绍'">
  <div class="textBox">
    <!-- <textarea [(ngModel)]="items.product.productIntroduction"></textarea> -->
    <app-tiny-editor [elementId]="'my-editor'" (onEditorContentChange)="keyupHandler1($event,items.product)" [initialContent]="items.product.productIntroduction"></app-tiny-editor>
  </div>
</app-card>
<!-- <app-card [title]="'借款合同'">
  <div class="textBox">
    <textarea [(ngModel)]="items.product.contractModel"></textarea>
  </div>
</app-card> -->
<app-card [title]="'申请资料'">
  <button class='btn btn-primary ripple light right' (click)='addfile()'><i class="icofont icofont-ui-add"></i>新增一份资料</button>
  <div *ngFor='let list of items.material;let index=index'>
    <div class='flexbetween'>
      <label>
        资料名称：<input type="text" [(ngModel)]='list.name' placeholder='请输入资料名称' maxlength="20">
      </label>
      <button class='btn btn-primary ripple light' [disabled]='items.material.length<=1' (click)='removefile(index)'>删除资料</button>
    </div>
    <app-tiny-editor [elementId]="'my-editor'+times+index" (onEditorContentChange)="keyupHandler2($event,list)" [initialContent]="list.value"></app-tiny-editor>
    <!-- <ckeditor [(ngModel)]="list.value" [config]='config'></ckeditor> -->
  </div>
</app-card>

<div class="buttons" style="text-align: center;">
  <button type="button" class="btn btn-default ripple" (click)="goBack()">取消</button>
  <button type="submit" class="btn btn-primary ripple light" (click)="addProduct()">确定</button>
</div>
<ng2-toasty [position]="toast.position"></ng2-toasty>