.wth7 {
    width: 7rem;
}

.wth20 {
    width: 20%;
}

.wth30 {
    width: 30%;
}

.wth60 {
    width: 60%;
}

.wth70 {
    width: 70%;
}

.wth100-10 {
    width: calc(100% - 10rem);
}

.wth90 {
    width: 90%;
}

.wth100 {
    width: 100%;
}

.padd1 {
    padding: 0 0.5rem;
}

.header-right {
    position: absolute;
    right: 30px;
    top: 20px;
}

.text-danger {
    position: absolute;
    left: 8rem;
    top: 2.5rem;
}

.product-box .input-box {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.product-box .input-box span {
    display: inline-block;
    font-size: 0.95rem;
}

textarea,
select,
input {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    border-radius: 2px;
    border: 1px solid #ebedf2;
    color: #575962;
    background: #fff;
    background-clip: padding-box;
    height: 2.25rem;
}

.product-box .input-box textarea {
    height: 6.75rem;
}

.product-box .input-box .form-radio label {
    margin: auto;
}

.product-box .search-btn {
    min-width: 220px;
}

.product-box .search-btn .btn {
    text-align: center;
}

.right {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 30px;
}

.flexbetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    label {
        margin-bottom: 0;
        input {
            margin-left: 15px;
            border-radius: 2px;
            border: 1px solid #D1D1D1;
        }
    }
}

.label {
    display:flex;
    align-items:center;
    color:#000;
    margin:0;
    padding:0;
    margin-left:15px;
    font-size:0.95rem;
    label {
        display: flex;
        align-items: center;
        color: #000;
        margin: 0;
        padding: 0;
        margin-left: 15px;
    }
}
.radio .checkbox::after, .radio .checkbox::before{
border-radius:20%;
}
// .table{
//   display: table;
//   border-collapse: collapse;
// }
// .table .thead {
//   display: table-header-group;
// }
// .table .tbody {
//   display: table-row-group;
// }
// .table .tr {
//   display: table-row;
// }
// .table .td, .table .th {
//   display: table-cell;
//   text-align: center;
//   padding: 0.5rem 0.75rem;
// }
// .table-bordered .th, 
// .table-bordered .td {
//   border: 1px solid #dee2e6;
// }
.table tr {
    cursor: pointer;
}

.table td,
.table th {
    padding: 0.5rem 0.75rem;
    text-align: center;
    position: relative;
}

.table td .m-auto {
    margin: auto;
}

.table td .iptBlock {
    display: block;
}

.table-primary,
.table-primary>td,
.table-primary>th {
    background: #d6dde1;
    text-align: center;
    color: #333;
}

.buttons .btn {
    margin: auto 20px;
}

.pers {
    position: absolute;
    right: 0.75rem;
    top: 1rem;
}

.textBox textarea {
    width: 100%;
    line-height: 2rem;
    min-height: 10rem;
}