
.aboutCon {
  font-family: PingFang SC Medium;
}
.banner {
  display: block;
  width: 100%;
}
.aboutCon .title {
  position: relative;
  margin: 2rem 0;
}
.aboutCon .title .titleBox {
  position: relative;
  width: 100%;
}
.aboutCon .title .text {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.3rem;
  height: 1.3rem;
  font-family: PingFang SC Medium;
  color: #5D87F3;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.whatBQText {
  padding: 0 1.3rem 0 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.whatBQText p {
  font-family: PingFang SC Medium;
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.whatBQText .leftTop {
  position: absolute;
  left: 0.8rem;
  top: -0.6rem;
  width: 1.3rem;
  height: 1.3rem;
}
.whatBQText .rightBottom {
  position: absolute;
  right: 1.3rem;
  bottom: 0.2rem;
  width: 1.3rem;
  height: 1.3rem;
}

.honorList {
  padding: 0 1.3rem 0 1.3rem;
}
.honorList>dl {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 5.3rem;
  line-height: 5.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.honorList>dl .left {
  float: left;
  margin-right: 0.7rem;
  width: 5.3rem;
  height: 5.3rem;
}
.honorList>dl .left img {
  width: 100%;
  height: 100%;
}
.honorList>dl .right {
  line-height: 2rem;
  margin: 1.7rem 0;
  font-size: 0.9rem;
}
.honorList .more {
  width: 5.3rem;
  height: 1.9rem;
}
.honorList .more img {
  width: 0.4rem;
  height: 1.9rem;
  margin: auto;
  display: block;
}

.contactUs {
  margin-bottom: 2rem;
}
.white_bg{
  margin:0 auto;
}