<div class="has_win">
  <app-header title="关于我们" backIcon=1 backTxt="返回" hasBack="false"></app-header>
  <!-- <img src="../../../assets/images/bannerAbout.jpg" alt="" class="banner">
  <div class="aboutCon">
    <div class="whatBQ">
      <div class="title">
        <div class="titleBox"><img src="../../../assets/images/aboutTitleBox.png" style="width:100%;" alt=""></div>
        <span class="text">什么是博金贷方舟？</span>
      </div>
      <div class="whatBQText">
        <div class="leftTop boxIcon"><img src="../../../assets/images/aboutTb_01.png" style="width:1.3rem;" alt=""></div>
        <div class="rightBottom boxIcon"><img src="../../../assets/images/aboutTb_02.png" style="width:1.3rem;" alt=""></div>
        <p>博汇九洲金融服务有限公司（简称博汇金服）成立于2014年，由博能集团联合江西省投资集团、江西大成国有资产经营管理有限责任公司、江西南冶资产管理有限公司联同江西省民营企业投资商会、南昌市小额贷款公司协会、际洲集团等共同出资设立的综合性的互联网金融服务平台。</p>
        <p>秉承着高效、便捷、安全、诚信、创新的发展理念，为各界人士提供量身定制的互联网金融服务。以互联网理财、网络借贷信息中介服务、三农金融、县域经济发展等为核心业务，依托金融科技，打造一流的金融交易信息平台，整合优质资源，构建高效的金融生态服务体系。</p>
        <p>方舟是一款由博汇金服打造，面向中小微企业的信用贷款客户端，致力于解决广大中小微企业融资困境、助力县域经济发展。我们利用海量多维数据辅以人工智能技术，降低了中小微企业融资门槛、提高企业贷款时效性。</p>
      </div>
    </div>
    <div class="honor">
      <div class="title">
        <div class="titleBox"><img src="../../../assets/images/aboutTitleBox.png" style="width:100%;" alt=""></div>
        <span class="text">荣誉资质</span>
      </div>
      <div class="honorList">
        <dl>
          <dt class="left"><img src="../../../assets/images/honor_01.png" alt=""></dt>
          <dd class="right">中国互联网金融协会会员单位</dd>
        </dl>
        <dl>
          <dt class="left"><img src="../../../assets/images/honor_02.png" alt=""></dt>
          <dd class="right">2015中国互联网金融最具竞争力企业</dd>
        </dl>
        <dl>
          <dt class="left"><img src="../../../assets/images/honor_03.png" alt=""></dt>
          <dd class="right">2017中国新金融科技创新奖胡润</dd>
        </dl>
        <div class="more"><img src="../../../assets/images/aboutHonorMore.png" alt=""></div>
      </div>
    </div>
    <div class="contactUs">
      <div class="title">
        <div class="titleBox"><img src="../../../assets/images/aboutTitleBox.png" style="width:100%;" alt=""></div>
        <span class="text">联系我们</span>
      </div>
      <img src="../../../assets/images/aboutMap.jpg" style="width:100%;" alt="">
    </div>
  </div> -->
  <div class="white_bg" [innerHtml]="html" style="overflow: hidden;"></div>
</div>