<div class="container">
    <app-breadcrumbs [breadcrumbs]="['财务管理','资金管理','银行卡']"></app-breadcrumbs>
    <nz-card class="shadow" [nzTitle]="cardTitle">
        <nz-table #rowSelectionTable [nzData]="data" nzShowPagination=false>
            <thead>
                <tr>
                    <th>所属银行</th>
                    <th>类型</th>
                    <th>卡号</th>
                    <th>绑定时间</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of rowSelectionTable.data">
                    <td>{{data.bank}}</td>
                    <td>
                       {{data.type}}
                    </td>
                    <td>{{data.card}}</td>
                    <td>{{data.createDate}}</td>
                </tr>
            </tbody>
        </nz-table>
        <div class="pagination" *ngIf="total!='0'">
            <nz-pagination [nzPageIndex]='pageNum' [nzTotal]="total" (nzPageIndexChange)="pageSearch($event)"
                nzShowQuickJumper></nz-pagination>
        </div>
    </nz-card>
    <ng-template #cardTitle>
        <div class="cardTitle">
            <span style="color:red;">{{mobile}}</span>的银行卡列表
        </div>
    </ng-template>
</div>