/* .has_win{height: calc(100% - 3rem);} */

.box {
  overflow: hidden;
  height: calc(100% - 17rem);
  box-sizing: border-box;
  padding-top: 1rem;
}
.scrollBox {
  height: 100%;
  overflow-y: auto;
}
.bot span {
  display: block;
}
.box .white_bg {
  padding: 0 1rem;
}

.pro_tit {
  font-size: 1rem;
  color: #333;
  height: 2rem;
  line-height: 2rem;
  position: relative;
}

.pro_p {
  white-space: pre-wrap!important;
word-wrap: break-word!important;
*white-space:normal!important;
  font-size: 0.9rem;
  color: #666;
  line-height: 1.5rem;
  padding: 0.5rem 0;
}

.seeContract {
  position: absolute;
  right: 0;
  top: 0;
  color: #dbb272;
  font-size: 1rem;
}

.limit {
  box-sizing: border-box;
  padding-top: 1rem;
  position: relative;
  height: 12.5rem;
  color: #fff;
  font-size: 1rem;
}

.limit>img {
  position: absolute;
  left: 0;
  top: -3rem;
  width: 100%;
  z-index: 1;
}

.limit .top {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 2;
}

.limit .top .text {
  font-size: 1rem;
  line-height: 2rem;
  opacity: 0.7;
  margin-bottom: 1rem;
}

.limit .bot {
  display: flex;
  position: relative;
  z-index: 2;
}
.limit .bot img {
  width:1px;
  height:20px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translateY(-50%);

}

.limit .bot>div {
  flex: 1;
}
.limit .bot>div span {
  display: block;
  text-align: center;
  color: #fff;
  height: 1.5rem;
  line-height: 1.5rem;
}

.limit .top .larger_txt {
  opacity: 1;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 0;
}
.btn_row{
  width: calc(100% - 2rem); 
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0rem;
  background-color: #fff;
}
.cur_btn {
  display: block;
  width: 100%;
}
